.contacts {
  @extend %flex-row;
  background: $background-root;

  .contacts-view {
    @extend %flex-col;
    @extend %flex-grow-1;
    @extend %flex-shrink-1;
    position: relative;
    // FIXME remove calc?
    width: calc(100vw - 352px);
  }

  .toolbar {
    @extend %flex-row;
    @extend %flex-shrink-0;
    @extend %flex-align-center;
    border-bottom: 1px solid $divider-dark;
    height: 80px;

    .material-icons {
      font-size: 48px;
      margin-left: 32px;
    }

    .rt-input-input {
      margin-left: $margin-small;
      margin-top: 0;

      input {
        border: 0;
        padding: 0;
      }
    }
  }

  .list-sort {
    @extend %flex-row;
    @extend %flex-shrink-0;
    @extend %flex-align-center;
    background: $color-dark-06;
    height: 48px;
    padding-left: 32px;
    width: 100%;

    .sort-filter {
      .rt-dropdown-value {
        margin: 0;
      }

      .rt-input-inputElement {
        border: 0;
        font-weight: 600;
        padding: 0 0 0 10px;
      }
    }
  }

  .contact-list {
    @extend %flex-col;
    overflow: auto;
    padding-top: 8px;

    .avatar-wrapper > .material-icons {
      margin-right: 0;
    }

    .contact-list-section {
      @extend %flex-row;
      border-bottom: 1px solid $divider-dark;
      flex-shrink: 0;
      padding: 24px 0 32px;

      .contact-list-section-marker {
        @extend %flex-row;
        @extend %flex-grow-1;
        @extend %flex-justify-center;
        color: $color-brand-primary;
        font-size: 24px;
        max-width: 224px;
        min-width: 120px;
        padding-top: $padding-large;
      }

      .contact-list-section-content {
        @extend %flex-col;
        width: 600px;
      }
    }

    .rt-list-itemText,
    .rt-list-primary {
      user-select: text;
    }
  }

  .invite-form {
    width: 480px;

    .invite-form-actions {
      @extend %flex-row;
      @extend %flex-justify-end;
      margin-top: $margin-large;
    }

    .facebook-share-button,
    .twitter-share-button {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-justify-center;
      height: 36px;
      width: 36px;

      img {
        padding: 2px;
        width: 24px;
      }
    }
  }

  .avatar-invited {
    background: $color-dark-06;
    border-radius: 40px;
    color: $text-dark-secondary;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }
}
