.files {
  align-items: center;
  background: rgba(0, 0, 0, .06);
  height: 100vh;
  padding: 0 80px;
  width: 100vw;

  @extend %flex-col;
}

.table-wrapper {
  box-sizing: border-box;
  width: 100%;

  .header-filter {
    align-items: center;
    color: $text-dark-secondary;
    margin: 24px 0;

    @extend %title;
  }

  .table-action-bar {
    align-items: center;
    background: $background-table;
    border-bottom: 1px solid $divider-dark;
    border-radius: 2px 0 0 2px;
    flex-shrink: 0;
    height: 64px;
    padding: 0 $padding-default;
    white-space: nowrap;
    width: 100%;

    @extend %flex-row;

    .search {
      margin-left: auto;
    }
  }


  .table-actions,
  .item-actions {
    margin-left: 56px;

    .rt-button-button {
      margin: 0 $margin-small;
    }

    .active .material-icons {
      color: rgba($color-brand, .5);
      transition: 250ms;
    }

    .active:hover .material-icons {
      color: $color-brand;
    }

    .disabled {
      // breaks file item logic, passes click even to the row
      //pointer-events: none;
      .material-icons {
        color: $icon-dark-inactive;
      }
    }

    .rt-ripple-ripple {
      background-color: $color-brand;
    }
  }

  .item-actions {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    border-bottom: 0;
    height: 47px;
    opacity: 0;
    padding-right: 24px !important;
    padding-top: 6px;
    position: absolute;
    right: 0;
    text-align: right;
  }

  .table-paging {
    align-items: center;
    background: $background-table;
    border-top: 1px solid $divider-dark;
    color: $text-dark-secondary;
    height: 56px;
    justify-content: flex-end;
    padding-right: $padding-small;

    @extend %flex-row;
    @extend %hint-error-label;

    .rt-button-button {
      margin-left: 24px;

      + .rt-button-button {
        margin-left: 12px;
      }
    }
  }

  table {
    background: $background-table;
    border-spacing: 0;
    position: relative;
    width: 100%;

    thead th {
      color: $text-dark-secondary;
      font-size: 12px;
      font-weight: $font-weight-semibold;
      text-align: left;
    }

    th,
    td {
      border-bottom: 1px solid $divider-dark;
      white-space: nowrap;

      &:first-of-type {
        padding: 0 24px;
        width: 18px;
      }

      &:last-of-type,
      &:nth-of-type(2) {
        padding-right: 24px;
      }

      &:not(:first-of-type):not(:last-of-type):not(:nth-of-type(2)) {
        padding-right: 56px;
      }
    }

    tbody tr {
      position: relative;

      &:hover {
        background: rgba($color-brand, .12);

        .item-actions {
          opacity: 1;
        }

        td {
          transition: color 150ms;
        }

        .hide-text {
          color: transparent;
        }
      }

      &.new-file {
        background-color: $background-new-file;
      }

      .loading {
        align-items: flex-end;
        position: absolute;
        height: 4px;
        left: 0;
        padding: 0;
        right: 0;
        width: 100%;

        @extend %flex-row;
      }

      &:last-of-type td {
        border: 0;
      }
    }

    label {
      display: inline-block;
      margin-bottom: 0;
      max-width: 18px;
      width: 18px;

      .rt-checkbox-check {
        border-color: $icon-dark-active;

        &.rt-checkbox-checked {
          border-color: transparent;
        }
      }
    }

    th {
      height: 56px;
    }

    td {
      height: 48px;
    }
  }
}
