.login {
  @extend %flex-col;
  @extend %flex-align-center;
  @extend %flex-justify-start;
  background-blend-mode: overlay;
  background-image: url('./static/img/bg-pattern.png');
  background-size: $background-pattern-size;
  color: $text-light-primary;
  flex: 0 0 auto;
  width: 100vw;

  a {
    color: inherit;
  }

  .login-form {
    width: 275px;
  }

  .headline + .rt-input-input {
    margin-top: $margin-default;
  }

  .login-button {
    @extend %flex-align-center;
    border-radius: 18px;
    margin: 48px 0;
    transition: 150ms $transition-easing-default;

    &:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $color-light-100 !important; // so important
      color: $color-brand-blue !important; // :( - Paul
    }
  }

  .login-reg-button {
    color: $text-light-secondary;
    text-align: center;

    > a:hover {
      color: $text-light-primary;
      text-decoration: underline;
    }
  }

  .welcome-back-wrapper {
    background: $color-brand-gradient;
    border-radius: 4px;
    margin-top: $margin-large;
  }

  .welcome-back {
    @extend %flex-col;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    @extend %flex-justify-center;
    background: $background-welcome-back;
    border-radius: 4px;
    color: $text-dark-secondary;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
    min-width: 375px;
    padding: 24px;
    // TODO: make transition vars
    transition: 150ms;

    &:hover {
      background: $background-welcome-back-active;
    }

    .overflow {
      overflow: hidden;
      padding: 0 $padding-large;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    strong {
      color: $text-dark-primary;
      font-weight: $font-weight-bold;
    }

    .subtitle {
      @extend %hint-error-label;
      margin-top: $margin-small;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------
.welcome {
  @extend %flex-col;
  @extend %flex-align-center;
  flex: 1 1 auto;
  height: 100vh;
  margin-top: 64px;
  padding: $padding-large;

  p {
    font-size: 24px;
    font-weight: $font-weight-light;
    line-height: 1.3;
    margin: 0 0 $margin-large;
    text-align: center;
  }
}

.welcome-title {
  @extend %display-3;
  color: $color-brand-blue;
  font-weight: $font-weight-bold;
  text-align: center;
}
