.login {
  // animation-duration: 30s;
  // animation-iteration-count: infinite;
  // animation-name: MOVE-BG;
  // animation-timing-function: linear;
  background-blend-mode: overlay;
  background-color: $background-brand;
  background-image: url('./static/img/bg-pattern.png');
  background-size: $background-pattern-size;
  color: $text-light-secondary;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 100vw;

  @extend %flex-col;
  @extend %flex-align-center;

  .login-form {
    width: 275px;
  }

  .login-button {
    margin: 48px 0;

    @extend %flex-align-center;
  }

  .login-reg-button {
    color: $text-light-secondary;
    text-align: center;

    > a:hover {
      color: $text-light-primary;
      text-decoration: underline;
    }
  }

  .welcome-back-wrapper {
    background-color: $background-brand;
    position: absolute;
    top: 240px;
    z-index: 5;
  }

  .welcome-back {
    background: $background-welcome-back;
    border-radius: 4px;
    color: $text-dark-secondary;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    height: 96px;
    justify-content: center;
    min-width: 375px;
    // TODO: make transition vars
    transition: 150ms;

    @extend %flex-col;
    @extend %flex-align-center;

    &:hover {
      background: $background-welcome-back-active;
    }

    .overflow {
      overflow: hidden;
      padding: 0 $padding-large;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    strong {
      color: $text-dark-primary;
      font-weight: $font-weight-bold;
    }

    .subtitle {
      margin-top: $margin-small;

      @extend %hint-error-label;
    }
  }
}

@keyframes MOVE-BG {
  0%,
  100% {
    background-position-x: 0;
    background-position-y: 0;
  }

  50% {
    background-position-x: 350px;
    background-position-y: 200px;
  }
}

//----------------------------------------------------------------------------------------------------------------
.welcome {
  flex: 1 1 auto;
  height: 100vh;
  margin-top: 64px;
  padding: $padding-large;

  @extend %flex-col;
  @extend %flex-align-center;

  p {
    font-size: 24px;
    font-weight: $font-weight-light;
    line-height: 1.3;
    margin: 0 0 $margin-large;
    text-align: center;
  }
}

.welcome-title {
  color: $color-brand;
  font-weight: $font-weight-bold;
  text-align: center;

  @extend %display-3;
}
