.login {
  align-items: center;
  background-color: $background-brand;
  color: $text-light-secondary;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 375px;

  @extend %flex-col;

  .login-form {
    width: 275px;
  }

  .login-button {
    align-self: center;
    margin: 48px 0;
  }

  .login-reg-button {
    color: $text-light-secondary;
    text-align: center;

    > a:hover {
      color: $text-light-primary;
      text-decoration: underline;
    }
  }

  .welcome-back {
    align-items: center;
    background: $background-welcome-back;
    color: $text-dark-secondary;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    height: 96px;
    justify-content: center;
    // TODO: make transition vars
    transition: 150ms;
    width: 375px;

    @extend %flex-col;

    .overflow {
      overflow: hidden;
      padding: 0 $padding-large;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    strong {
      color: $text-dark-primary;
      font-weight: $font-weight-bold;
    }

    .subtitle {
      margin-top: $margin-small;

      @extend %hint-error-label;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------
.welcome {
  align-items: center;
  flex: 1 1 auto;
  height: 100vh;
  margin-top: 64px;
  padding: $padding-large;

  @extend %flex-col;

  p {
    font-size: 24px;
    font-weight: $font-weight-light;
    line-height: 1.3;
    margin: 0 0 $margin-large;
  }
}

.welcome-title {
  color: $color-brand;
  font-weight: $font-weight-bold;
  line-height: 3;

  @extend %display-3;
}

