.mail {
  @extend %flex-row;
  color: $text-dark-secondary;
  position: relative;
  width: 100%;

  .rt-button-floating {
    background-color: $color-accent !important;
    bottom: 32px;
    left: 198px;
    position: absolute;

    .material-icons {
      color: $text-light-primary;
    }
  }
  // MAIL ITEM LIST
  &-list {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    background-color: $background-message-list;
    border-right: 1px solid $divider-dark;
    height: 100%;
    width: 224px;
  }

  &-sorting {
    @extend %flex-row;
    @extend %flex-align-center;
    height: 48px;
    margin-top: $margin-small;
    padding-left: $padding-small;
  }

  &-item {
    @extend %hint-error-label;
    background-color: $color-light-50;
    border-bottom: 1px solid $divider-dark;
    cursor: pointer;
    height: 80px;
    padding: $padding-small 0 0 $padding-small;

    &.active {
      background-color: $color-brand;
    }

    &:hover:not(.active) {
      background-color: $color-light-100;
    }
  }
  // MAIL COMPOSE and VIEW
  .compose-view {
    @extend %flex-grow-1;
    @extend %flex-shrink-1;
    @extend %flex-col;
    height: 100%;
    width: auto;

    .compose-meta {
      padding-top: $padding-small;

      &.sent {
        background-color: $color-dark-03;
        border-bottom: 1px solid $divider-dark;
        height: 112px;
        padding: $padding-default 56px;

        .subject {
          font-size: 16px;
          font-weight: $font-weight-bold;
        }

        .to,
        .date {
          font-size: 12px;
          padding: $padding-small 0;
        }
      }
    }

    .meta-input {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-shrink-0;
      border-bottom: 1px solid $divider-dark;
      height: 48px;
      padding-left: $padding-default;
      padding-right: $padding-small;

      .rt-input-input {
        margin: 0;
        padding: 0;

        input {
          border-width: 0;
          padding: 0;
        }
      }
    }
  }

  &-actions {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    border-bottom: 1px solid $divider-dark;
    height: 48px;
  }

  &-format {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-grow-1;
    border-left: 1px solid $divider-dark;
    border-right: 1px solid $divider-dark;
    height: 48px;

    .material-icons {
      color: $icon-dark-inactive;

      .active {
        color: $color-brand;
      }
    }
  }

  &-content {
    color: $text-dark-primary;
    overflow-y: auto;
    padding: 32px 56px 0;
  }

  &-side-bar {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    border-left: 1px solid $divider-dark;
    height: 100%;
    padding: $padding-large $padding-default $padding-default;
    width: 270px;

    .passphrase {
      color: $color-brand;
      cursor: pointer;
      font-weight: $font-weight-bold;
      white-space: nowrap;

      .material-icons {
        color: $color-brand;
      }
    }

    .sent-info {
      .read-recipt,
      .expire-info {
        margin: 24px 0;
      }
    }
  }
}
