$width-mail-sidebar: 270px;
$width-mail-list: 224px; // TODO: create a list variable because it's used everywhere.
$width-mail-compose: 80px + $width-mail-sidebar + $width-mail-sidebar;

.mail {
  @extend %flex-row;
  color: $text-dark-secondary;
  position: relative;
  width: 100%;

  .rt-button-floating {
    background-color: $color-accent !important;
    bottom: 32px;
    left: 198px;
    position: absolute;

    .material-icons {
      color: $text-light-primary;
    }
  }
  // MAIL ITEM LIST
  &-list-wrapper {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    background-color: $background-chat-list;
    border-right: 1px solid $divider-dark;
    height: 100%;
    width: $width-mail-list;
  }

  &-list {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-sorting {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    border-bottom: 1px solid $divider-dark;
    height: 48px;
    margin-top: $margin-small;
    padding-left: $padding-small;
  }

  &-item {
    @extend %flex-row;
    @extend %hint-error-label;
    background-color: $color-light-50;
    border-bottom: 1px solid $divider-dark;
    cursor: pointer;
    height: 80px;
    padding: $padding-small;

    .item-subject {
      margin-right: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.active {
      background-color: $background-active-message;
      color: $text-light-primary;
    }

    &:hover:not(.active) {
      background-color: $color-light-100;
    }
  }
  // MAIL COMPOSE and VIEW
  .compose-view {
    @extend %flex-grow-1;
    @extend %flex-shrink-1;
    @extend %flex-col;
    height: 100%;
    width: calc(100vw - 574px);

    .compose-meta {
      padding-top: $padding-small;

      .dark-label {
        line-height: 48px;
      }

      .attached-files {
        @extend %flex-shrink-0;
        font-weight: $font-weight-semibold;
        margin-left: auto;

        // so that the menu icon appears on the right side of the label.
        .rt-menu-menuItem .rt-menu-icon {
          order: 2;
          text-align: right;
        }
      }

      &.sent {
        background-color: $color-dark-03;
        border-bottom: 1px solid $divider-dark;
        height: 112px;
        padding: $padding-small $padding-default $padding-default 56px;

        .subject {
          font-size: 16px;
          font-weight: $font-weight-bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .to,
        .date {
          @extend %hint-error-label;
          padding: $padding-small 0;
        }
      }
    }

    .meta-input {
      @extend %flex-row;
      @extend %flex-align-start;
      @extend %flex-shrink-0;
      min-height: 48px;
      padding-left: $padding-default;
      padding-right: $padding-small;

      &:last-of-type {
        border-bottom: 1px solid $divider-dark;
        border-top: 1px solid $divider-dark;
      }

      .chip-label {
        max-width: 100%;
      }

      .rt-button-button {
        margin: 6px 0;
      }

      .rt-input-input {
        @extend %flex-row;
        @extend %flex-shrink-1;
        @extend %flex-grow-1;
        margin-top: 0;
        padding: 0;
        width: auto;

        input {
          border-width: 0;
          padding: 0;
        }
      }
    }

    .inline-files {
      @extend %flex-align-center;
      @extend %flex-row;
      @extend %flex-shrink-0;
      height: 48px;
      overflow: hidden;
      overflow-x: auto;

      .shared-file {
        margin-right: $margin-small;
      }
    }
  }

  &-actions {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    background-color: $color-dark-03;
    height: 48px;

    .rt-button-neutral:not([disabled]).rt-button-flat:hover,
    .rt-button-neutral:not([disabled]).rt-button-toggle:hover {
      background-color: rgba($color-brand-blue, .38);

      .material-icons {
        color: $text-light-primary;
      }
    }

    .counter {
      position: relative;

      .count {
        background: $color-brand-blue;
        border: 2px white solid;
        border-radius: 20px;
        color: $text-light-primary;
        font-size: 12px;
        height: 24px;
        line-height: 20px;
        position: absolute;
        right: 6px;
        text-align: center;
        top: -4px;
        width: 24px;
      }
    }
  }

  &-format {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-grow-1;
    border-left: 1px solid $divider-dark;
    border-right: 1px solid $divider-dark;
    height: 48px;
    padding: 0 10px;

    .rt-button-button {
      margin-right: $margin-small;
    }

    .material-icons {
      color: $icon-dark-inactive;

      .active {
        color: $color-brand-blue;
      }
    }
  }

  &-content {
    color: $text-dark-primary;
    overflow-y: auto;

    .chip-wrapper {
      margin: $margin-tiny 0 0 $margin-default;
    }

    &.sent-content {
      @extend %flex-col;
      @extend %flex-grow-1;
    }

    &.sent-content,
    .ql-editor {
      padding: 32px 56px 0;
    }
  }

  &-sidebar {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    border-left: 1px solid $divider-dark;
    height: 100%;
    padding: $padding-large $padding-default $padding-default;
    width: $width-mail-sidebar;

    .mail-link {
      @extend %flex-row;
      @extend %flex-align-center;
      white-space: nowrap;

      a {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .rt-button-button {
      cursor: pointer;

      .material-icons {
        color: $color-brand-blue;
      }
    }

    .sent-info {
      .read-recipt,
      .expire-info {
        margin: 24px 0;
      }
    }
  }
}
