// view wrapper
.messages {
  display: flex;
  flex-direction: row;

  .list-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .rt-list-subheader {
      margin-top: 0;
    }

    .rt-button-button {
      height: 48px;
      margin-right: 6px;
      width: 48px;
    }

    .rt-ripple-rippleWrapper {
      border-radius: 24px;
    }
  }
}

// message content, input, toolbar
.message-view {
  // FIXME remove calc?
  width: calc(100vw - 304px);

  @extend %flex-col;
  @extend %flex-grow-1;
  @extend %flex-shrink-1;

  .message-toolbar {
    align-items: center;
    border-bottom: 1px solid $divider-dark;
    display: flex;
    flex: 0 0 64px;
    padding: 0 8px 0 24px;

    .title {
      color: $text-dark-secondary;
      font-size: 16px;
      font-weight: $font-weight-bold;
      margin-right: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .search {
      margin-right: 12px;
    }
  }

  .messages-container {
    align-items: flex-start;
    flex: 1 1 auto;
    overflow: auto;
    padding: 24px;

    @extend %flex-col;

    .messages-progress-bar {
      align-self: center;
      margin-bottom: auto;
      margin-top: auto;
    }

    .message-content-wrapper {
      flex-shrink: 0;

      @extend %flex-row;

      + .message-content-wrapper {
        margin-top: $margin-large;
        position: relative;

        .sending-overlay {
          background-color: rgba(255, 255, 255, .7);
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
      }
    }

    .message-content {
      flex-grow: 0;

      @extend %flex-col;

      .meta-data {
        align-items: center;
        color: $text-dark-secondary;

        @extend %flex-row;

        .user {
          font-weight: $font-weight-bold;
          margin: 0 $padding-small 0 $padding-default;
        }

        .timestamp {
          @extend %hint-error-label;
        }
      }

      p {
        line-height: 1.5;
        margin: 0 0 0 $margin-default;
        white-space: pre-wrap;
      }

      p + p {
        margin-top: $margin-small;
      }

      b,
      strong {
        font-weight: 600;
      }

      a {
        color: $color-brand;
      }
    }
  }

  .message-input {
    align-items: center;
    border-top: 1px solid $divider-dark;
    display: flex;
    //flex-grow: 1; FIXME: only grow when textarea grows.
    flex-shrink: 0;
    margin-top: auto;
    max-height: 112px;
    min-height: 64px;
    padding: 0 $padding-small;
    position: relative;

    .color-brand > .material-icons {
      color: $color-brand;
    }

    .color-affirmative > .material-icons {
      color: $color-affirmative;
    }

    .ql-container {
      font-family: inherit;
      font-size: inherit;
      padding: $padding-small 0;
      width: 100%;
    }

    .ql-editor {
      line-height: 1.45;
      max-height: 96px;
      padding: 0;

      img {
        vertical-align: middle;
        width: 1.5em;
      }
    }
  }
  // both for text input and chat content
  img.emojione {
    display: inline-block;
    height: 3ex;
    margin: -.2ex .15em .2ex;
    min-height: 20px;
    min-width: 20px;
    -webkit-user-select: initial;
    vertical-align: middle;
    width: auto;
  }
}

// message navigation
.message-list {
  background-color: $background-message-list;
  height: 100vh;
  overflow-y: scroll;
  width: $message-list-width;

  @extend %flex-shrink-0;

  .mutli-user-chat {
    border-radius: 2px;
    display: block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
  }

  .rt-list-itemContentRoot {
    overflow: hidden;
  }

  .rt-list-itemText {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover,
  .rt-list-item.selectable:not(.disabled):hover {
    background-color: transparent;
  }

  .active {
    background: $background-active-message;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover {
    background: $background-hover-message;
  }

  .rt-ripple-ripple {
    background-color: $color-brand;
  }

  .rt-list-itemAction {
    margin: 0;
  }

  .rt-list-item {
    padding-right: 12px;

    // Styling for chat list item delete
    .rt-button-button {
      display: none;
      opacity: 0;
    }

    &:hover .rt-button-button {
      display: block;
      opacity: 1;
    }
  }
  // contact status indicator
  .rt-list-left .rt-list-itemAction {
    [data-react-toolbox='font-icon'] {
      margin-right: $margin-small;
      width: 16px;
    }

    .material-icons {
      font-size: 16px;
      margin-right: $margin-small;
      width: 16px;
    }
  }
  // status should be applied to list item parent.
  .online .rt-list-left .material-icons {
    color: $status-online;
  }

  .busy .rt-list-left .material-icons {
    color: $status-busy;
  }
}

// zero state
.zero-message {
  height: 100vh;

  .display-3 {
    color: $text-dark-secondary;
    margin-bottom: 48px;
    margin-top: 80px;
  }

  ul {
    list-style: none;
    margin-left: 48px;

    @extend %heading;

    li {
      height: 48px;
      margin-bottom: $margin-small;

      @extend %flex-row;
      @extend %flex-align-center;
    }
  }
}
