$radius-sign-warning: 18px;

// view wrapper
.messages {
  display: flex;
  flex-direction: row;

  .list-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .rt-list-subheader {
      margin-top: 0;
    }

    .rt-button-button {
      display: flex;
      height: 48px;
      margin-right: 6px;
      width: 48px;

      .new-message {
        align-self: center;
        background-image: url('./static/img/icon_add_chat.png');
        background-size: contain;
        height: 20px;
        padding: 2px;
        width: 20px;
      }
    }

    .rt-ripple-rippleWrapper {
      border-radius: 24px;
    }
  }
}

// message content, input, toolbar
.message-view {
  @extend %flex-col;
  @extend %flex-grow-1;
  @extend %flex-shrink-1;
  position: relative;
  // FIXME remove calc?
  width: calc(100vw - 304px);

  .receipt-wrapper {
    @extend %flex-row;
    @extend %flex-align-end;
    @extend %flex-justify-end;
    margin-left: auto;
    margin-right: $margin-small;
  }

  .progress-wrapper {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    min-height: 50px;
    width: 100%;
  }

  .marker-wrapper {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    margin: $margin-default 0;
    width: 100%;

    .marker {
      @extend %flex-grow-1;
      background: $divider-dark;
      height: 1px;
      margin: $margin-default 0;
    }

    .content {
      font-weight: $font-weight-bold;
      padding: 0 $padding-small;

      .material-icons {
        color: $color-error;
        font-size: 8px;
        height: 8px;
        left: 16px;
        width: 8px;
      }

      .rt-avatar-avatar {
        margin: 0 $margin-tiny;
      }
    }
  }

  .message-toolbar {
    align-items: center;
    border-bottom: 1px solid $divider-dark;
    display: flex;
    flex: 0 0 64px;
    padding: 0 8px 0 24px;

    .title {
      color: $text-dark-secondary;
      font-size: 16px;
      font-weight: $font-weight-bold;
      margin-right: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .search {
      margin-right: 12px;
    }
  }

  .corrupt-message {
    @extend %flex-row;
    @extend %flex-align-center;
    background: $color-dark-06;
    border-bottom: 2px solid $color-error;
    border-radius: 2px 2px 0 0;
    height: 48px;
    margin-top: 32px;
    padding: $padding-small;
    width: 100%;
  }

  .messages-container {
    @extend %flex-col;
    @extend %flex-align-start;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 24px;

    .messages-progress-bar {
      align-self: center;
      margin-bottom: auto;
      margin-top: auto;
    }

    .invalid-sign-warning {
      @extend %flex-row;
      @extend %hint-error-label;
      @extend %flex-align-center;
      @extend %flex-justify-between;
      background-color: $color-dark-06;
      border-radius: 2px;
      color: $text-dark-hint;
      height: 52px;
      margin-left: -8px;
      margin-top: 24px;
      padding: 0 $padding-small 0 $padding-default;
    }

    .messages-start {
      margin-bottom: $margin-small;
      margin-top: auto;
      padding: 0 24px;
      width: 100%;

      .avatars {
        @extend %flex-row;
        margin-bottom: $margin-default;
        margin-top: 64px;

        .avatar-wrapper:not(:last-of-type) {
          margin-right: $margin-small;
        }

        .rt-avatar-avatar {
          height: 64px;
          width: 64px;

          .rt-avatar-letter {
            line-height: 64px;
          }
        }
      }

      .title {
        margin-bottom: $margin-default;
      }
    }

    .message-content-wrapper {
      @extend %flex-col;
      @extend %flex-shrink-0;
      border-radius: 2px;
      margin: 12px 0 0 $margin-small;
      padding: $padding-tiny 24px;
      position: relative;
      width: 100%;

      &:hover {
        background-color: $color-dark-03;
        border-radius: 2px;
      }

      .marker-wrapper {
        margin-left: -$margin-tiny;
      }

      &.light {
        margin-top: 0;

        .timestamp {
          @extend %flex-shrink-0;
          @extend %hint-error-label;
          color: rgba($text-dark-hint, 0);
          overflow: hidden;
          padding-top: 2px; // To align the timestamp with the first row of text.
          text-align: right;
          white-space: nowrap;
          width: 40px;
        }

        &:hover {
          .timestamp {
            color: $text-dark-hint;
          }
        }
      }

      &.invalid-sign {
        background-color: rgba($color-error, .06);
        border-radius: $radius-sign-warning;
        margin-left: 28px;
        min-width: 320px;
        overflow: hidden;
        padding: $padding-tiny $padding-tiny 0 $padding-tiny;

        .warning-icon {
          @extend %flex-shrink-0;
          color: $color-error;
          margin: 4px 12px 0 auto;
          width: 24px;
        }
      }

      .sending-overlay {
        background-color: rgba(255, 255, 255, .7);
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    .message-content {
      @extend %flex-col;
      flex-grow: 0;

      .meta-data {
        @extend %flex-row;
        align-items: center;
        color: $text-dark-secondary;
        margin-bottom: $margin-small;

        .timestamp {
          @extend %hint-error-label;
        }

        .user {
          font-weight: $font-weight-bold;
          margin: 0 $padding-small 0 $padding-default;
        }
      }

      p {
        line-height: 1.5;
        margin: 0 0 0 $margin-default;
        white-space: pre-wrap;
      }

      p + p {
        margin-top: $margin-small;
      }

      b,
      strong {
        font-weight: 600;
      }

      a {
        color: $color-brand;
      }
    }
  }

  .message-input {
    align-items: center;
    border-top: 1px solid $divider-dark;
    display: flex;
    //flex-grow: 1; FIXME: only grow when textarea grows.
    flex-shrink: 0;
    margin-top: auto;
    max-height: 112px;
    min-height: 64px;
    padding: 0 $padding-small;
    position: relative;

    .color-brand > .material-icons {
      color: $color-brand;
    }

    .color-affirmative > .material-icons {
      color: $color-affirmative;
    }

    .ql-container {
      font-family: inherit;
      font-size: inherit;
      margin-left: $margin-default;
      padding: $padding-small 0;
      width: 100%;
    }

    .ql-editor {
      line-height: 1.45;
      max-height: 96px;
      padding: 0;

      img {
        vertical-align: middle;
        width: 1.5em;
      }
    }
  }
  // both for text input and chat content
  img.emojione {
    display: inline-block;
    height: 3ex;
    margin: -.2ex .15em .2ex;
    min-height: 20px;
    min-width: 20px;
    -webkit-user-select: initial;
    vertical-align: middle;
    width: auto;
  }

  .chat-upload-progress {
    @extend %flex-col;
    background-color: rgba($color-brand, .7);
    box-shadow: $shadow-5;
    color: $text-light-primary;
    font-weight: $font-weight-semibold;
    height: 48px;
    left: 0;
    margin: 0 $margin-large;
    position: absolute;
    right: 0;
    top: 68px;

    .progress-content {
      @extend %flex-row;
      @extend %flex-align-center;
      padding: 0 $padding-small;

      .material-icons {
        color: $text-light-primary;
      }
    }

    .progress-title {
      line-height: 44px;
      margin-left: $margin-small;
    }
  }
}

// message navigation
.message-list {
  @extend %flex-shrink-0;
  background-color: $background-message-list;
  height: 100vh;
  overflow-y: auto;
  width: $message-list-width;

  .mutli-user-chat {
    border-radius: 2px;
    display: block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
  }

  .rt-list-itemContentRoot {
    overflow: hidden;
  }

  .rt-list-itemText {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover,
  .rt-list-item.selectable:not(.disabled):hover {
    background-color: transparent;
  }

  .active {
    background: $background-active-message;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover {
    background: $background-hover-message;
  }

  .rt-ripple-ripple {
    background-color: $color-brand;
  }

  .rt-list-itemAction {
    margin: 0;
  }

  .rt-list-item {
    padding-right: 12px;

    // Styling for chat list item delete
    .rt-button-button {
      display: none;
      opacity: 0;
    }

    &:hover .rt-button-button {
      display: block;
      opacity: 1;
    }
  }
  // contact status indicator
  .rt-list-left .rt-list-itemAction {
    [data-react-toolbox='font-icon'] {
      margin-right: $margin-small;
      width: 16px;
    }

    .material-icons {
      font-size: 16px;
      margin-right: $margin-small;
      width: 16px;
    }
  }
  // status should be applied to list item parent.
  .online .rt-list-left .material-icons {
    color: $status-online;
  }

  .busy .rt-list-left .material-icons {
    color: $status-busy;
  }
}

// zero state
.zero-message {
  height: 100vh;

  .display-3 {
    color: $text-dark-secondary;
    margin-bottom: 48px;
    margin-top: 80px;
  }

  ul {
    @extend %headline;
    list-style: none;
    margin-left: 48px;

    li {
      @extend %flex-row;
      @extend %flex-align-center;
      height: 48px;
      margin-bottom: $margin-small;
    }
  }
}

.messages-inline-progress-bar {
  align-self: center;
  width: 35px;
}
