.messages {
  display: flex;
  flex-direction: row;

  .list-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .rt-list-subheader {
      margin-top: 0;
    }

    .rt-button-button {
      height: 48px;
      margin-right: 6px;
      width: 48px;
    }

    .rt-ripple-rippleWrapper {
      border-radius: 24px;
    }
  }

}

.message-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .message-toolbar {
    align-items: center;
    border-bottom: 1px solid $divider-dark;
    display: flex;
    flex: 0 0 64px;
    padding: 0 8px 0 24px;

    .title {
      margin-right: auto;

      @extend %title;
    }

    .search {
      margin-right: 12px;
    }
  }

  .messages-container {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
    padding: 24px;

    .message-content-wrapper {
      display: flex;

      + .message-content-wrapper {
        margin-top: $margin-large;
      }
    }

    .message-content {
      display: flex;
      flex-direction: column;
      flex-grow: 0;

      .meta-data {
        align-items: center;
        color: $text-dark-secondary;
        display: flex;

        .user {
          font-weight: $font-weight-bold;
          margin: 0 $padding-small 0 $padding-default;
        }

        .timestamp {
          @extend %hint-error-label;
        }
      }

      p {
        line-height: 1.5;
        margin-left: $margin-default;
      }

      p + p {
        margin-top: $margin-small;
      }
    }
  }

  .message-input {
    align-items: center;
    border-top: 1px solid $divider-dark;
    display: flex;
    //flex-grow: 1; FIXME: only grow when textarea grows.
    flex-shrink: 0;
    margin-top: auto;
    max-height: 112px;
    min-height: 64px;
    padding: 0 $padding-small;

    .rt-input-input {
      padding: $padding-small 0;
    }

    textarea {
      line-height: 1.45;
      max-height: 96px;
      resize: none;
    }
    //  Only need if we use "Send on enter" UI
    //
    // .rt-checkbox-field {
    //   display: flex;
    //   margin: 0;
    //
    //   .rt-checkbox-check {
    //     order: 2;
    //     border-color: $icon-dark-active;
    //   }
    //
    //   .rt-checkbox-checked {
    //     border-color: $color-brand;
    //   }
    //
    //   .rt-checkbox-text {
    //     color: $text-dark-secondary;
    //     order: 1;
    //     padding: 0 $padding-small 0 0;
    //
    //   }
    // }
  }
}

.message-list {
  background-color: $background-message-list;
  flex-shrink: 0;
  height: 100vh;
  width: 224px;

  .active,
  .rt-list-listItem:hover {
    border-radius: 0 24px 24px 0;
    margin-right: 12px;
  }

  .active {
    font-weight: $font-weight-bold;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover,
  .rt-list-item.selectable:not(.disabled):hover {
    background-color: transparent;
    border-radius: 0 24px 24px 0;
  }

  .active {
    background: $background-active-message;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover {
    background: $background-hover-message;
    padding-right: $padding-tiny;
  }

  .rt-ripple-rippleWrapper {
    border-radius: 0 24px 24px 0;
  }

  .rt-ripple-ripple {
    background-color: $color-brand;
  }
}

// contact status indicator
.rt-list-left .rt-list-itemAction {
  margin: 0;

  .material-icons {
    font-size: 10px;
    margin-right: $margin-default;
    width: 10px;
  }
}
// status should be applied to list item parent.
.online .rt-list-left .material-icons {
  color: $status-online;
}

.busy .rt-list-left .material-icons {
  color: $status-busy;
}
