.create-new-message {
  height: 100vh;
  width: 100vw;

  @extend %flex-col;
  @extend %flex-align-center;

  .chat-creation-header {
    margin-bottom: $margin-large;
    padding: $padding-default;

    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;

    .title {
      margin-right: auto;
    }
  }

  .new-message-search {
    border: 1px solid $input-dark-border;
    border-radius: 24px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 48px;
    overflow: hidden;
    padding: 0 $padding-small 0 $padding-default;
    width: 100%;

    @extend %flex-align-center;

    .chip-wrapper {
      align-items: center;
      background-color: $background-root;
      flex: 1 1 auto;
      flex-wrap: wrap;
      margin-right: auto;
      max-width: 544px;
      min-height: 46px;
      padding: 0 $padding-small 0 0;

      @extend %flex-row;
    }

    .rt-input-input {
      flex-grow: 1;
      margin-bottom: 4px;
      max-width: 100%;
      padding: 0;
      width: inherit;
    }

    .rt-button-button {
      background-color: $button-affirmative;
      border-radius: 24px;
      color: $text-light-primary;
      transition: 250ms;

      &:hover {
        background-color: $button-affirmative;
        color: $color-light-100;

        .rt-rippleWrapper {
          border-radius: 0 24px 24px 0;
        }
      }
    }
  }

  .rt-list-list {
    overflow: hidden;

    @extend %flex-col;

    .user-list {
      cursor: pointer;
      // Temporary fix. We'll want to add sticky headers to lists once multiple
      // lists are shown.
      overflow-y: auto;
    }
  }

  .rt-list-subheader {
    border-bottom: $divider-dark solid 1px;
  }

  .rt-list-listItem {
    &:not(:first-of-type) {
      border-top: $divider-dark solid 1px;
    }

    .rt-avatar-avatar {
      margin-right: 24px;
    }
  }

  .username {
    background: $background-root;
    border: 1px solid $color-brand;
    color: $color-brand;
    margin-bottom: 4px;
    margin-top: 4px;
    max-width: 160px;
    min-width: 88px;
    transition: 500ms 500ms $transition-ease-out;

    @extend %flex-shrink-0;

    span:last-of-type {
      display: inline-flex;
      opacity: 1;
      transition: 250ms;

      @extend %flex-align-center;
      @extend %flex-justify-center;
    }

    .rt-chip-delete {
      border: 2px solid $color-brand;
      border-radius: 24px;

      &:hover {
        background: $color-brand;

        .rt-chip-deleteIcon {
          background: $color-brand;
        }

        .rt-chip-deleteX {
          stroke: #fff;
        }
      }
    }

    .rt-chip-deleteIcon {
      background: #fff;
      height: 20px;
      width: 20px;

      @extend %flex-shrink-0;

      .rt-chip-deleteX {
        stroke: $color-brand;
        stroke-width: 4px;
      }
    }

    &.not-found {
      background: $text-dark-error;
      color: transparent;
      margin: 0;
      min-width: 0;
      opacity: 0;
      padding: 0;
      width: 0;

      span:last-of-type {
        opacity: 0;
      }
    }
  }
}
