.create-new-message {
  @extend %flex-col;
  @extend %flex-align-center;
  height: 100vh;
  width: 100vw;

  .chat-creation-header {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    margin-bottom: $margin-large;
    padding: $padding-default;

    .title {
      margin-right: auto;

      span {
        display: block;
      }
    }
  }

  .new-message-search {
    @extend %flex-align-center;
    border: 1px solid $input-dark-border;
    border-radius: 24px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 48px;
    overflow: hidden;
    padding: 0 $padding-small 0 $padding-default;
    width: 100%;

    .chip-wrapper {
      max-width: 544px;
      min-height: 46px;
      padding: 0 $padding-small;
    }

    .rt-input-input {
      flex-grow: 1;
      margin: 0;
      max-width: 100%;
      padding: 0;
      width: inherit;

      input {
        border-width: 0;
        padding: 0;
      }
    }

    .rt-button-button {
      background-color: $button-affirmative;
      border-radius: 24px;
      color: $text-light-primary;
      transition: 250ms;

      &:hover {
        background-color: $button-affirmative;
        color: $color-light-100;

        .rt-rippleWrapper {
          border-radius: 0 24px 24px 0;
        }
      }
    }
  }

  .rt-list-list {
    @extend %flex-col;
    overflow: hidden;

    .user-list {
      cursor: pointer;
      // Temporary fix. We'll want to add sticky headers to lists once multiple
      // lists are shown.
      overflow-y: auto;
    }
  }

  .rt-list-subheader {
    @extend %flex-shrink-0;
    border-bottom: $divider-dark solid 1px;
    cursor: default;
  }

  .rt-list-listItem {
    &:not(:first-of-type) {
      border-top: $divider-dark solid 1px;
    }

    .rt-avatar-avatar {
      margin-right: 24px;
    }
  }
}
