.create-new-message {
  align-items: center;
  height: 100vh;
  width: 100vw;

  @extend %flex-col;

  .new-message-search {
    align-items: center;
    border: $input-dark-border solid 1px;
    border-radius: 24px;
    border-right: 0;
    display: flex;
    height: 48px;
    margin-bottom: 48px;
    padding: 0 0 0 $padding-small;
    width: 100%;

    .rt-button-button {
      background-color: $button-affirmative;
      border-radius: 0 24px 24px 0;
      height: 48px;
      min-width: 48px;

      &:hover {
        background-color: $button-affirmative;

        .rt-rippleWrapper {
          border-radius: 0 24px 24px 0;
        }
      }
    }
  }

  .rt-list-listItem {
    border-top: $divider-dark solid 1px;

    .rt-avatar-avatar {
      margin-right: 24px;
    }
  }

  .username {
    flex-shrink: 0;
    min-width: 70px;
    opacity: 1;
    transition: all 5s;

    &.not-found {
      background-color: #ff8585;
      opacity: .2;
    }
  }
}
