.settings {
  padding-top: 32px;
  width: 100%;

  .tabs {
    margin-top: 24px;
    width: 1024px;

    .rt-tabs-tab {
      padding: 0;
    }

    .rt-tabs-pointer {
      height: 4px;
      margin-top: -5px;
    }

    .rt-tabs-label,
    .rt-tabs-label.rt-tabs-active {
      color: $text-dark-secondary;
    }
  }

  section {
    padding: 32px 0 48px;

    .section-divider {
      border-bottom: 1px solid $divider-dark;
    }

    .rt-button-button {
      margin-left: $margin-small;
    }
  }
}
