.settings {
  background: $background-root;
  overflow: auto;
  padding-top: 32px;
  width: 100%;

  .logo {
    margin: 0 0 32px;
    width: 300px;
  }

  .tab-wrapper {
    @extend %flex-grow-1;
    @extend %flex-col;
    margin: 0 80px;
  }

  .tabs {
    @extend %flex-shrink-0;
    margin-top: 24px;
    width: 100%;

    .rt-tabs-pointer {
      height: 4px;
      margin-top: -5px;
    }

    .rt-tabs-label,
    .rt-tabs-label.rt-tabs-active {
      color: $text-dark-secondary;
      padding-left: $padding-large;
      padding-right: $padding-large;
    }
  }

  section {
    padding: 32px 0 48px;

    &.section-divider {
      border-bottom: 1px solid $divider-dark;
    }

    &.section-account-key {
      background: $color-dark-03;
      padding-left: $padding-default;
      padding-right: $padding-default;

      .title {
        @extend %display-2;
        color: $color-brand-primary;
        font-weight: $font-weight-semibold;
      }
    }
  }

  .account-key-toggle {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .email-row {
    margin-top: $margin-small;

    .rt-list-itemText:not(.rt-list-primary) {
      @extend %hint-error-label;
    }

    &.unconfirmed {
      .rt-list-itemText:not(.rt-list-primary) {
        color: $color-error;
      }
    }
  }

  .input-row:first-of-type .rt-input-input,
  .flex-row .rt-input-input {
    margin-top: 0;
  }

  .tab-notify::after {
    @extend %notify;
    left: 4px !important;
    top: 19px;
    z-index: 0 !important;
  }

  .error {
    color: $color-error;
    font-size: 12px;
    margin-top: 4px;
  }

  .avatar-card {
    @extend %flex-col;
    @extend %flex-shrink-0;
    background-size: 100%;
    border-radius: 8px;
    height: 224px;
    margin-left: 64px;
    overflow: hidden;
    position: relative;
    width: 224px;

    &.has-avatar {
      .avatar-card-user {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
      }

      .avatar-card-display-name {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
      }

      .avatar-card-username {
        text-shadow: 0 0 1px rgba(0, 0, 0, .7);
      }

      .card-footer {
        background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
      }
    }

    &-user {
      @extend %flex-col;
      @extend %flex-shrink-0;
      @extend %flex-align-start;
      height: 64px;
    }

    &-display-name {
      color: $text-light-primary;
      font-weight: $font-weight-bold;
      margin: $margin-default 0 0 $margin-default;
    }

    &-username {
      color: $text-light-secondary;
      font-size: 12px;
      margin: 0 0 0 $margin-default;
    }

    &-initial {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-justify-center;
      @extend %flex-grow-1;
      color: $text-light-primary;
      font-size: 112px;
    }

    .card-footer {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-shrink-0;
      height: 48px;
      justify-content: flex-end;
      margin-top: $margin-default;
      padding-right: $padding-small;

      .material-icons {
        color: $icon-light-inactive;
      }

      .rt-button-button:hover .material-icons {
        color: $icon-light-active;
      }
    }

    .save-progress-overlay {
      background: rgba(255, 255, 255, .65);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .settings-terms {
    margin-top: $margin-large;

    .rt-button-button {
      color: $color-brand-primary;
      font-weight: $font-weight-regular;
      min-width: 0;
      padding: 0 $padding-tiny;
      text-transform: none;
      width: auto;
    }
  }

  .delete-account {
    margin-top: auto;

    .rt-button-button {
      color: $color-error;
    }

    .rt-ripple-ripple {
      background-color: $color-error;
    }
  }
}

.backup-row {
  @extend %flex-row;
  @extend %flex-justify-around;
  height: 48px;
  line-height: 48px;
}
