.settings {
  overflow: auto;
  padding-top: 32px;
  width: 100%;

  .tab-wrapper {
    margin: 0 80px;

    @extend %flex-grow-1;
    @extend %flex-col;
  }

  .tabs {
    margin-top: 24px;
    width: 100%;

    .rt-tabs-tab {
      padding: 0;
    }

    .rt-tabs-pointer {
      height: 4px;
      margin-top: -5px;
    }

    .rt-tabs-label,
    .rt-tabs-label.rt-tabs-active {
      color: $text-dark-secondary;
    }
  }

  section {
    padding: 32px 0 48px;

    &:last-of-type {
      padding-bottom: 0;
    }

    .section-divider {
      border-bottom: 1px solid $divider-dark;
    }

    .rt-button-button {
      margin-left: $margin-small;
    }
  }

  .input-row:first-of-type .rt-input-input {
    margin-top: 0;
  }

  .avatar-card {
    background-size: 100%;
    border-radius: 8px;
    height: 224px;
    margin-left: 64px;
    width: 224px;

    @extend %flex-col;

    &-user {
      align-items: flex-start;
      height: 64px;

      @extend %flex-col;
      @extend %flex-shrink-0;
    }

    &-display-name {
      color: $text-light-primary;
      font-weight: $font-weight-bold;
      margin: $margin-default 0 0 $margin-default;
    }

    &-username {
      color: $text-light-secondary;
      font-size: 12px;
      margin: 0 0 0 $margin-default;
    }

    &-initial {
      color: $text-light-primary;
      font-size: 112px;

      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-justify-center;
      @extend %flex-grow-1;
    }

    .card-footer {
      height: 48px;
      justify-content: flex-end;
      margin-top: $margin-default;
      padding-right: $padding-small;

      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-shrink-0;

      .material-icons {
        color: $icon-light-inactive;
      }

      .rt-button-button:hover .material-icons {
        color: $icon-light-active;
      }
    }
  }
}
