.signup {
  @extend %flex-col;

  @media (max-height: $minimum-screen-height) {
    img {
      margin: $margin-small 0 $margin-default;
    }

    .rt-input-input {
      margin-top: 32px;
    }
  }

  @extend %background-pattern;
  align-items: center;
  color: $text-light-primary;
  opacity: 0;
  transition: 350ms opcaity $transition-easing-default;
  width: 100vw;

  p {
    margin: 32px 0 0;
    width: 304px;
  }

  .text-light-helper {
    line-height: 20px;
    position: absolute;
  }

  .rt-input-errored + .text-light-helper {
    display: none;
  }

  .help,
  .terms {
    display: block;
    // TODO: line-height variables?
    line-height: 1.25;
    margin-top: 48px;

    @media (max-height: $minimum-screen-height) {
      margin-top: 24px;
    }

    + .help {
      margin-top: $margin-large;
    }

    .button-link {
      height: 20px;
      line-height: 20px;
    }
  }

  a {
    color: $text-light-primary;
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.show {
    opacity: 1;
  }

  .signup-content {
    @extend %flex-col;
    @extend %flex-align-center;
    height: 100vh;

    @media (max-width: #{$minimum-screen-width}) {
      .passcode-hints {
        margin-left: 48px;

        .heading::before {
          left: -40px;
          width: 32px;
        }
      }
    }
  }
  // For Account Key screen.
  .warning-line {
    @extend %flex-row;
    align-self: center;
    background: rgba(0, 0, 0, .25);
    border-bottom: 1px solid $color-light-100;
    border-top: 1px solid $color-light-100;
    height: 104px;
    justify-content: center;
    line-height: 1;
    margin-top: 32px;
    width: 100vw;
  }

  .signup-form {
    justify-content: flex-start;
    padding: 0 $padding-default;
    width: 307px;
  }

  .signup-title,
  .signup-subtitle {
    color: $text-light-primary;
  }

  .signup-subtitle {
    @extend %headline;
    margin-top: $margin-tiny;
  }

  .signup-nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
    padding: 6px 0;
    width: 330px;
  }

  .rt-input-error {
    white-space: normal;
  }
}
