.signup {
  align-items: center;
  background-color: $background-brand;
  color: $text-light-secondary;
  transition: width .5s;

  .profile {
    display: flex;
    flex-direction: column;
  }

  .signup-help,
  .signup-terms {
    display: block;
    // TODO: line-height variables
    line-height: 1.45;
    margin-top: 48px;

    + .signup-help {
      margin-top: $margin-large;
    }
  }

  a {
    color: $text-light-primary;
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.expand {
    width: 100vw;
  }

  .signup-form {
    justify-content: flex-start;
    padding: 0 $padding-default;
    width: 307px;
  }

  .signup-title,
  .signup-subtitle {
    color: $text-light-secondary;
  }

  .signup-subtitle {
    margin-top: $margin-tiny;

    @extend %heading;
  }

  .signup-nav {
    display: flex;
    justify-content: space-between;
    width: 330px;
  }

  .input-row {
    display: flex;

    .rt-input-input:first-of-type,
    div:first-of-type {
      margin-right: 1px;
    }

    .helper-text {
      @extend %hint-error-label;
    }
  }

  .progress {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: $margin-default 0;
    width: 100%;

    .indicator {
      background-color: $color-light-50;
      border-radius: 4px;
      height: 8px;
      margin: 0 $margin-small;
      width: 8px;

      &.active {
        background-color: $color-light-100;
      }
    }
  }
}
