.signup {
  align-items: center;
  background-color: $background-brand;
  transition: width .5s;

  .profile {
    display: flex;
    flex-direction: column;
  }
}

.signup.expand {
  width: 100vw;
}

.signup-form {
  justify-content: flex-start;
  padding: 0 $padding-default;
  width: 307px;
}

.signup-title,
.signup-subtitle {
  color: $text-light-secondary;
}

.signup-subtitle {
  margin-top: $margin-tiny;

  @extend %heading;
}

.signup-nav {

  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 330px;
}

.signup-terms {
  color: $text-light-secondary;
  display: block;
  margin-top: 48px;

  > a {
    color: $text-light-primary;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }
}

.rt-input-error {
  color: $text-light-error;
  display: block;
  margin-top: 2px;
}

.input-row {
  display: flex;

  .rt-input-input:first-of-type {
    margin-right: 1px;
  }
}
