.signup {
  align-items: center;
  background-blend-mode: overlay;
  background-color: $background-brand;
  background-image: url('./static/img/bg-pattern.png');
  background-size: $background-pattern-size;
  color: $text-light-secondary;
  height: 100vh;
  opacity: 0;
  transition: 350ms opcaity $transition-default;
  width: 100vw;

  @extend %flex-col;

  .help,
  .terms {
    display: block;
    // TODO: line-height variables?
    line-height: 1.45;
    margin-top: 48px;

    + .help {
      margin-top: $margin-large;
    }
  }

  a {
    color: $text-light-primary;
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.show {
    opacity: 1;
  }

  .signup-form {
    justify-content: flex-start;
    padding: 0 $padding-default;
    width: 307px;
  }

  .signup-title,
  .signup-subtitle {
    color: $text-light-secondary;
  }

  .signup-subtitle {
    margin-top: $margin-tiny;

    @extend %heading;
  }

  .signup-nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-top: auto;
    width: 330px;
  }

  .input-row {
    display: flex;

    .rt-input-input:first-of-type,
    div:first-of-type {
      margin-right: 1px;
    }

    .helper-text {
      @extend %hint-error-label;
    }
  }

  .progress {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: $margin-default 0;
    width: 100%;

    .indicator {
      background-color: $color-light-50;
      border-radius: 4px;
      height: 8px;
      margin: 0 $margin-small;
      width: 8px;

      &.active {
        background-color: $color-light-100;
      }
    }
  }
  @media (max-height: $minimum-screen-height) {
    img {
      margin: $margin-default 0 24px;
    }

    .rt-input-input {
      margin-top: 32px;
    }

    .help,
    .terms {
      margin-top: 32px;
    }
  }
}
