.app-nav {
  align-items: center;
  background-color: $background-brand;
  background-image: url('./static/img/bg-pattern.png');
  background-position-x: 90px;
  background-size: 220px;
  height: 100vh;
  width: $app-nav-width;

  @extend %flex-col;
  @extend %flex-shrink-0;

  .app-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .avatar-wrapper {
    margin: 24px 0 0;
    position: relative;

    .rt-menu-active {
      min-width: 250px !important;
    }

    .rt-menu-iconMenu {
      position: absolute;
      z-index: 1;

      > .rt-button-button {
        height: 40px;
        width: 40px;
      }
    }
  }

  .menu-item {
    align-items: center;
    color: $icon-light-active;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $margin-large;
    position: relative;

    .look-at-me {
      background: $color-error;
      border: 2px solid $color-brand;
      border-radius: 8px;
      content: '';
      display: block;
      height: 16px;
      position: absolute;
      right: 4px;
      top: 8px;
      width: 16px;
    }

    .rt-button-button {
      height: 48px;
      width: 48px;

      &:hover {
        background: transparent;
      }
    }
    // TODO transition variables
    .rt-button-icon {
      color: $icon-light-inactive;
      transition: color 150ms;
    }

    &[disabled] {
      pointer-events: none;

      .rt-button-icon {
        color: $text-light-disabled;

        &:hover {
          .rt-button-icon {
            color: $text-light-disabled;
          }
        }
      }
    }

    &.active,
    &:hover {
      .rt-button-icon {
        background: tranparent;
        color: $icon-light-active;
      }
    }
  }
  // turns off ripple for menu icon buttons
  .rt-ripple-ripple {
    background-color: transparent;
  }
}
