.app-nav {
  @extend %flex-col;
  @extend %flex-shrink-0;
  align-items: center;
  // background-color: $background-brand;
  background-image: url($background-pattern), $background-gradient-bottom;
  background-position-x: 90px;
  background-size: 220px;
  height: 100vh;
  width: $app-nav-width;

  .app-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .avatar-menu-wrapper {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    @extend %flex-shrink-0;
    height: 80px;
    position: relative;
    width: 80px;

    .rt-menu-active {
      min-width: 248px !important;
    }

    .avatar-notify::before {
      @extend %notify;
      right: 20px !important;
      top: 20px !important;
    }

    li {
      min-width: 248px;

      &.avatar-notify::before {
        right: 200px;
      }
    }

    .rt-menu-iconMenu {
      position: absolute;
      z-index: 2;

      > .rt-button-button {
        background: transparent;
        border-radius: 40px;
        height: 40px;
        width: 40px;
      }
    }
  }

  .menu-item {
    align-items: center;
    color: $icon-light-active;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $margin-large;
    position: relative;

    .look-at-me {
      @extend %hint-error-label;
      background: $color-error;
      border: 2px solid $color-brand-primary;
      border-radius: 12px;
      display: block;
      height: 24px;
      line-height: 20px;
      position: absolute;
      right: 2px;
      text-align: center;
      top: 2px;
      width: 24px;
    }

    .rt-button-button {
      height: 48px;
      width: 48px;

      &:hover {
        background: transparent;
      }
    }
    // TODO transition variables
    .rt-button-icon {
      color: $icon-light-inactive;
      transition: color 150ms;
    }

    &[disabled] {
      pointer-events: none;

      .rt-button-icon {
        color: $text-light-disabled;

        &:hover {
          .rt-button-icon {
            color: $text-light-disabled;
          }
        }
      }
    }

    &.active,
    &:hover {
      .rt-button-icon {
        background: tranparent;
        color: $icon-light-active;
      }
    }
  }
  // turns off ripple for menu icon buttons
  .rt-ripple-ripple {
    background-color: transparent;
  }
}
