.app-nav {
  align-items: center;
  background-color: $background-brand;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80px;

  .app-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .rt-avatar-avatar {
    margin: 24px 0 0;
  }

  .menu-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    .rt-button-button {
      height: 48px;
      width: 48px;

      &:hover {
        background: transparent;
      }
    }
    // TODO transition variables
    .rt-button-icon {
      color: $icon-light-inactive;
      transition: color 150ms;
    }

    &[disabled] {
      pointer-events: none;

      .rt-button-icon {
        color: $text-light-disabled;

        &:hover {
          .rt-button-icon {
            color: $text-light-disabled;
          }
        }
      }
    }

    &:not(.settings) {
      margin-top: $margin-large;
    }

    &.active,
    &:hover {
      .rt-button-icon {
        background: tranparent;
        color: $icon-light-active;
      }
    }

    &.settings {
      margin-bottom: $margin-large;
      margin-top: auto;
    }
  }
  // turns off ripple for menu icon buttons
  .rt-ripple-ripple {
    background-color: transparent;
  }
}
