// TODO: does this need to be its own file?

.chat-item-add {
  @extend %flex-row;
  @extend %flex-align-center;

  cursor: pointer;
  height: 48px;
  padding: 0 $padding-default;

  .chat-item-title {
    padding-top: $padding-tiny;
    margin-top: -$margin-tiny;
    font-size: 16px; // 18px in Figma - Paul
    font-weight: $font-weight-semibold;
    color: $text-light-inactive;
    border-top: 1px solid $divider-accent;
  }

  .chat-item-add-icon {
    height: 24px;
    width: 24px;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $text-light-inactive;
    border-radius: 4px;

    &::after {
      content: "+";
      display: block;
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 24px;
      font-weight: $font-weight-semibold;
      text-align: center;
      color: $text-light-inactive;
    }
  }

  &:hover {
    .chat-item-title {
      color: $text-light-default;
    }

    .chat-item-add-icon {
      border-color: $color-affirmative;

      &::after {
        color: $color-affirmative;
      }
    }
  }
}
