.chat-item-add {
  @extend %flex-row;
  @extend %flex-align-center;

  cursor: pointer;
  height: 48px;
  padding: 0 $padding-default;

  &:hover .chat-item-title {
    color: $text-dark-primary;
  }

  .chat-item-title {
    border-top: 1px solid $divider-dark;
    color: $text-dark-secondary;
    font-size: 16px; // 18px in Figma - Paul
    font-weight: $font-weight-semibold;
    margin-top: -$margin-tiny;
    padding-top: $padding-tiny;
  }

  .chat-item-add-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $blue;
    border-radius: 4px;
    height: 24px;
    margin-left: auto;
    width: 24px;

    &::after {
      color: $blue;
      content: "+";
      display: block;
      font-size: 24px;
      font-weight: $font-weight-semibold;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
    }
  }
}
