.clickable-avatar {
  cursor: pointer;
  transition: 150ms ease-in-out;

  &:hover {
    box-shadow: $shadow-5;
    transform: translateY(-4px);
  }
}

.clickable-username {
  cursor: pointer;

  &:hover {
    color: $color-brand-primary;
  }
}

.contact-profile {
  .rt-avatar-avatar {
    border-radius: 4px;
    height: 168px;
    margin-right: 24px;
    width: 168px;
  }

  .contact-error {
    background-color: $color-error;
    border-radius: 2px;
    color: $text-light-primary;
    font-weight: $font-weight-semibold;
    padding: $padding-small;
  }

  .row {
    border-bottom: 1px solid $divider-dark;
    margin-bottom: $margin-default;
    padding: $padding-default 0;

    &:last-of-type {
      border-bottom-width: 0;
    }
  }

  .deleted-account {
    color: $color-error;
  }
}
