$picker-border-radius: 5px;

.emoji-picker {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: $picker-border-radius;
  bottom: 90px;
  color: #222427;
  display: block;
  height: 500px;
  position: absolute;
  right: 49px;
  width: 400px;

  .emojis {
    bottom: 73px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 3px;
    position: absolute;
    top: 36px;

    .emojione {
      box-sizing: content-box;
      cursor: pointer;
      display: inline-block;
      margin: 16px 7px 7px;
      transition: transform .15s ease;
      zoom: .5;
    }

    .emojione:hover {
      transform: scale(1.3);
    }
  }

  .info-pane {
    align-items: center;
    background-color: #fafafa;
    border-bottom-left-radius: $picker-border-radius;
    border-bottom-right-radius: $picker-border-radius;
    border-top: 1px solid #d9d9d9;
    bottom: 0;
    display: flex;
    font-size: 90%;
    height: 73px;
    padding: 5px;
    position: absolute;
    width: 100%;

    .emojione {
      flex-shrink: 0;
      margin-right: 10px;
      zoom: .8;
    }
  }

  .info-pane.default {
    font-size: 130%;
  }

  .categories {
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    border-top-left-radius: $picker-border-radius;
    border-top-right-radius: $picker-border-radius;
    display: flex;
    height: 37px;
    justify-content: space-around;
  }

  .category {
    box-sizing: border-box;
    opacity: .2;
    padding: 10px 10px 7px;
    transition: opacity .2s, background-color .2s;
  }

  .category:hover {
    background-color: #e0e0e0;
    opacity: .6;
  }

  .category.selected {
    border-bottom: 3px solid #3b97cc;
    opacity: .6;
    padding: 10px 10px 4px;
  }

  .category-header {
    border-top: 1px solid #d9d9d9;
    font-weight: 600;
    margin-right: 3px;
    padding: 5px;
  }

  .skin-tone-1 {
    background-color: #ffc93a;
  }

  .skin-tone-2 {
    background-color: #fadcbc;
  }

  .skin-tone-3 {
    background-color: #e0bb95;
  }

  .skin-tone-4 {
    background-color: #bf8f68;
  }

  .skin-tone-5 {
    background-color: #9b643d;
  }

  .skin-tone-6 {
    background-color: #594539;
  }
}
