.inline-files {
  color: $text-dark-secondary;
  font-weight: $font-weight-bold;
  padding-left: $padding-small;

  .shared-file {
    @extend %flex-col;
    @extend %flex-justify-center;
    background: $color-dark-03;
    border-left: 4px solid $color-brand-blue;
    border-radius: 2px;
    cursor: pointer;
    height: 48px;
    max-width: 300px;
    min-width: 200px;
    padding-left: $padding-tiny;

    .material-icons {
      padding: 0 12px;
    }

    &:hover {
      color: $color-brand-blue;

      .material-icons {
        color: $color-brand-blue;
      }
    }

    .file-name {
      margin-right: auto;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      color: $color-brand-blue;

      .material-icons {
        color: $color-brand-blue;
      }
    }
  }

  .invalid-file {
    color: $color-error;
    cursor: auto;
    margin-left: $margin-small;
  }
}
