.inline-files {
  color: $text-dark-secondary;
  font-weight: $font-weight-bold;
  padding-left: $padding-small;
  width: calc(100% - 100px); // reduce reflow from read receipts

  .shared-file {
    @extend %flex-col;
    @extend %flex-justify-center;
    background: $color-dark-03;
    border: 1px solid $divider-dark;
    border-left-width: 8px;
    border-radius: 2px;
    cursor: pointer;
    height: 48px;
    padding-left: $padding-tiny;
    transition: 250ms;

    .material-icons {
      padding: 0 12px;
    }

    &:hover {
      border-color: currentColor;
      box-shadow: $shadow-8;
      color: $color-brand-primary;

      .material-icons {
        color: $color-brand-primary;
      }
    }

    .file-name {
      margin-right: auto;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .invalid-file {
    color: $color-error;
    cursor: auto;
    margin-left: $margin-small;
  }
}
