.list {
  @extend %flex-col;
  background: $background-root;
}

.list-header {
  @extend %flex-row;
  @extend %flex-align-center;
  @extend %flex-shrink-0;
  color: $text-dark-secondary;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  height: 48px;
  padding: 0 $padding-default;
}

.list-item {
  @extend %flex-align-center;
  @extend %flex-row;

  height: 48px;
  padding: 0 $padding-default;
  width: 100%;

  &:hover {
    background: rgba(0, 0, 0, .06) // TODO: make a variable for hovers - paul
  }

  .content {
    font-size: 14px;
    padding: 0 $padding-default;
  }

  .left-icon,
  .right-icon {
    width: 48px;
  }

  &.large {
    height: 64px; // might be larger 80px?
  }

  .invited {
    opacity: .5;
  }
}

// left sidebar for navigation inside of a feature. Chat list/ Contact list/ maybe file list eventually. - paul
.feature-navigation-list {
  .feature-action {
    @extend %flex-row;
    @extend %flex-align-center;
    background-color: $color-dark-06;
    border-bottom: 1px solid $divider-dark;
    cursor: pointer;
    height: 80px;
    padding: 0 12px;

    + .list {
      height: calc(100% - 80px);
    }

    &:hover {
      background-color: $color-dark-03;
    }

    .material-icons {
      background: $color-accent;
      border-radius: 40px;
      color: $text-light-primary;
      height: 40px;
      line-height: 40px;
      margin-right: $margin-large;
      text-align: center;
      width: 40px;
    }
  }

  @extend %flex-col;
  @extend %flex-shrink-0;
  height: 100vh;
  position: relative;
  width: $width-feature-navigation-list;

  .list {
    background: #eee;
    overflow: auto;
    padding-top: 12px; // padding is 20px this + the 8px from rtb list padding.
  }

  .rt-list-list {
    @extend %flex-shrink-0;

    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0;

    .item-content {
      @extend %flex-grow-1;
      overflow: hidden;
    }
  }
}
