.notification {
  background-color: $color-brand;
  border-radius: 12px;
  color: $text-light-primary;
  font-size: 14px;
  font-weight: $font-weight-bold;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 32px;
}
