.onboarding {
  @extend %flex-col;
  @extend %flex-align-center;
  @extend %flex-justify-center;
  background: white;
  height: 100vh;
  overflow: auto;
  width: 100vw;

  .onboarding-content {
    @extend %flex-col;

    height: 100%;
    margin-top: 64px;

    .display-1 {
      color: $color-brand-primary;
    }
  }

  .onboarding-to-dos {
    margin: 32px auto 0;
  }

  .onboarding-to-do {
    margin-bottom: $margin-default;
    padding-left: $padding-default;

    .title {
      color: $color-brand-primary;
    }

    .flex-col {
      margin-left: $margin-default;
    }

    p {
      margin: 0;
    }

    &.done {
      border-top: 1px solid $divider-dark;
      color: $text-dark-hint;
      padding-top: $padding-default;

      .title {
        color: currentColor;
        text-decoration: line-through;
      }

      .material-icons {
        color: $color-affirmative;
      }

      a {
        color: currentColor;
      }
    }
  }

  .onboarding-info {
    margin: auto auto 48px;
  }
}
