.search {
  align-items: center;
  background: $background-root;
  border: 1px solid $input-dark-border;
  border-radius: 8px;
  display: flex;
  flex-shrink: 0;
  height: 36px;
  width: 256px;

  .rt-input-input {
    height: 36px;
    margin: 0;
  }

  input {
    border-width: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 $padding-small;
  }

  .search-icon {
    padding: 6px 0 6px $padding-small;
  }

  button {
    line-height: 34px; // takes into account the borders.
  }
  // .rt-input-input,
  // input {
  //   margin-top: 0;
  //   height: 36px;
  // }
  //
  // .rt-input-input {
  //   padding: 0;
  // }
}
