.snackbar-wrapper {
  align-items: center;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @extend %flex-row;
}

.snackbar {
  align-items: center;
  align-self: center;
  background: black;
  border-radius: 2px;
  color: white;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-between;
  max-width: 560px;
  min-height: 48px;
  padding: 0 $padding-default;

  @extend %flex-row;

  .rt-button-button {
    color: $button-primary;
    margin-left: 40px;
  }
}

