// Should adhere to specs found at https://material.google.com/components/snackbars-toasts.html#snackbars-toasts-usage
$snackbar-max-width: 568px;
$snackbar-min-width: 288px;

.snackbar-wrapper {
  bottom: 0;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;

  @extend %flex-row;
}

.message-input .snackbar-wrapper {
  bottom: 100%;
}
// hide non-messages snackbars
.messages + .snackbar-wrapper {
  display: none;
}

.snackbar {
  align-items: center;
  background: $background-snackbar;
  border-radius: 2px;
  color: $text-light-primary;
  height: 48px;
  justify-content: space-between;
  max-width: $snackbar-max-width;
  min-width: $snackbar-min-width;
  padding: 0 $padding-default 0 24px;
  position: absolute;
  top: 100%;
  transition: 250ms $transition-ease-in;

  @extend %flex-row;

  &.show {
    top: 0;
  }

  .rt-button-button:not([disabled]) {
    color: $button-primary;
    margin-left: 40px;
    min-width: 64px;
    padding: 0 8px;
  }
}

