.user-picker {
  height: 100%;
  width: 100%;

  @extend %flex-row;

  .selected-items {
    background: $color-dark-03;
    border-right: 1px solid $divider-dark;
    width: 256px;

    ul {
      overflow-y: auto;
    }
  }
  .rt-list-listItem {
    border-width: 0 !important;

    .rt-list-right .material-icons {
      cursor: pointer;
      display: none;
    }

    &:hover {
      .rt-list-right .material-icons {
        display: block;
      }
    }
  }

  .rt-list-itemContentRoot {
    overflow: hidden;
  }

  .rt-list-itemText {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
