.files {
  @extend %flex-col;
  @extend %flex-align-center;
  background: $background-root;
  height: 100vh;
  padding: 0 24px;
  width: 100vw;

  // 36px added to ensure that the file actions button never over flows.
  @media (max-width: #{$minimum-screen-width + 36}) {
    padding: 0;

    // hides size column at minimum-screen-width
    .text-right + .text-right {
      display: none;
    }
  }

  .file-wrapper {
    box-sizing: border-box;
    width: 100%;

    .header-filter {
      @extend %title;
      @extend %flex-row;
      @extend %flex-align-center;
      color: $text-dark-secondary;
      cursor: default;
      height: 80px;
      margin-left: 24px;
    }

    .file-table-wrapper {
      @extend %flex-col;
      @extend %flex-grow-1;
      @extend %flex-shrink-0;
      height: calc(100vh - 144px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: $padding-default;
    }

    .table-action-bar {
      @extend %flex-row;
      align-items: center;
      background: $background-table-actions;
      border-radius: 2px;
      flex-shrink: 0;
      height: 64px;
      padding: 0 $padding-default 0 24px;
      white-space: nowrap;
      width: 100%;

      .search {
        margin-left: auto;
      }
    }

    .item-actions {
      padding-right: 0 !important;
      text-align: center;
      width: 48px;
    }

    .table-actions,
    .item-actions {
      .reverse-icon .material-icons {
        @extend %reverse-icon;
      }
    }

    .table-actions {
      margin-left: 56px;

      .rt-button-button {
        margin: 0 $margin-small;
      }

      .material-icons {
        color: rgba($color-brand-primary, .5);
        transition: 250ms;
      }

      .rt-button-button:hover .material-icons {
        color: $color-brand-primary;
      }

      .disabled,
      .disabled:hover {
        // breaks file item logic, passes click event to the row
        pointer-events: none;

        .material-icons {
          color: $icon-dark-inactive;
        }
      }

      .rt-ripple-ripple {
        background-color: $color-brand-primary;
      }
    }

    .table-paging {
      @extend %flex-row;
      @extend %hint-error-label;
      align-items: center;
      background: $background-table;
      border-top: 1px solid $divider-dark;
      color: $text-dark-secondary;
      height: 56px;
      justify-content: flex-end;
      padding-right: $padding-small;

      .rt-button-button {
        margin-left: 24px;

        + .rt-button-button {
          margin-left: 12px;
        }
      }
    }

    table {
      background: $background-table;
      border-spacing: 0;
      position: relative;
      width: 100%;

      thead th {
        color: $text-dark-secondary;
        font-size: 12px;
        font-weight: $font-weight-semibold;
        text-align: left;
      }

      th,
      td {
        border-bottom: 1px solid $divider-dark;
        padding-right: 24px;
        white-space: nowrap;

        &:first-of-type {
          padding: 0 24px;
          width: 18px;
        }
      }

      tbody tr {
        position: relative;

        &.selected-row {
          background: rgba($color-brand-primary, .12);
        }

        &:hover {
          background: rgba($color-brand-primary, .12);

          .rt-menu-iconMenu {
            background: rgba($color-brand-primary, .38);
            border-radius: 4px;
          }
        }

        &.new-file {
          background-color: $background-new-file;
        }

        .loading {
          @extend %flex-row;
          border-bottom: 0;
          height: 4px;
          left: 0;
          margin-top: 44px;
          padding: 0;
          position: absolute;
          right: 0;
          width: 100%;
        }

        .file-loading {
          // TODO: add pulse to imply activity.
          align-items: center;
          background-color: $background-root;
          border: 2px solid $color-affirmative;
          border-radius: 20px;
          cursor: pointer;
          display: flex;
          height: 32px;
          justify-content: center;
          margin: 0 -7px;
          transition: 150ms;
          width: 32px;

          > span:last-child {
            display: none;
          }

          &:hover {
            border-color: $color-error;

            > span:last-child {
              display: initial;
            }

            > span:first-child {
              display: none;
            }

            .material-icons {
              color: $color-error;
            }
          }
        }

        &:last-of-type td {
          border: 0;
        }
      }

      label {
        display: inline-block;
        margin-bottom: 0;
        max-width: 18px;
        width: 18px;

        &:not(.rt-checkbox-disabled) .rt-checkbox-check:not(.rt-checkbox-checked) {
          background: $color-light-100;
          border-color: $icon-dark-active;

          &.rt-checkbox-checked {
            border-color: transparent;
          }
        }
      }

      th {
        height: 56px;
      }

      td {
        height: 48px;
      }

      .file-title {
        cursor: pointer;
        font-weight: $font-weight-semibold;
        max-width: 304px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 150ms;

        &:hover {
          color: $color-brand-primary;
        }
      }
    }
  }

  .waiting-3rd-party {
    background-color: $color-dark-03;
  }

  .processing-file {
    height: 48px;
    margin: 0;
    opacity: .5;
    padding: $padding-default;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .zero-file {
    background-color: white;
    height: 100vh;
    width: 100vw;

    .display-3 {
      color: $text-dark-secondary;
      margin-bottom: 48px;
      margin-top: 80px;
    }

    .upgrade {
      color: $text-dark-secondary;
      margin-top: 48px;
      text-align: center;
    }
  }
}
