.onboarding {
  @extend %flex-col;
  @extend %flex-align-center;
  @extend %flex-justify-center;
  background: white;
  height: 100vh;
  overflow: auto;
  width: 100vw;

  .onboarding-content {
    @extend %flex-col;

    height: 100%;
    margin-top: 64px;

    .display-1 {
      color: $color-brand-primary;
    }

    .rt-button-toggle,
    .rt-button-toggle * {
      cursor: default;
    }

    .rt-button-toggle {
      width: 100px;
    }

    .rt-button-button .material-icons {
      font-size: 40pt !important;
    }
  }

  .onboarding-to-dos {
    margin: 32px auto 0;
  }

  .onboarding-to-do {
    margin-bottom: $margin-default;
    padding-left: $padding-default;

    .material-icons {
      height: 29px;
      margin-top: 3px;
    }

    .chat-item-add {
      height: 29px;
      padding-left: 0;

      .chat-item-add-icon {
        margin-left: $margin-small;
      }
    }

    .title {
      color: $color-brand-primary;
    }

    .flex-col {
      margin-left: $margin-default;
    }

    p {
      margin: 0;
    }

    &.clickable {
      cursor: pointer;
    }

    &.clickable:not(.done):hover .title {
      text-decoration: underline;
    }

    &.done-first {
      border-top: 1px solid $divider-dark;
      padding-top: $padding-default;
    }

    &.done {
      color: $text-dark-hint;

      .title {
        color: currentColor;
        text-decoration: line-through;
      }

      .material-icons {
        color: $color-affirmative;
      }

      a {
        color: currentColor;
      }
    }
  }

  .onboarding-info {
    margin: auto auto 48px;
  }
}
