.signup {
  @extend %flex-col;

  @media (max-height: $minimum-screen-height) {
    img {
      margin: $margin-small 0 $margin-default;
    }

    .rt-input-input {
      margin-top: 32px;
    }
  }

  .signup-content,
  .signup-welcome {
    @extend %flex-col;
    @extend %flex-align-center;
    background: #eaf8f9; //TODO: create var - Paul
    border-radius: 4px;
    height: 100%;
    margin: 48px auto;
    width: calc(100% - 260px);

    p {
      font-size: 16px;
    }
  }

  .signup-content {
    margin-top: 112px;
  }

  .signup-welcome {
    @extend %flex-justify-around;

    height: 100%;
    margin: 48px auto;
    text-align: center;
  }

  @extend %background-pattern;
  align-items: center;
  height: 100vh;
  opacity: 0;
  transition: 350ms opcaity $transition-easing-default;
  width: 100vw;

  .private,
  .safe,
  .fast {
    @extend %flex-col;
    @extend %flex-align-center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 160px;
    min-height: 160px;
    padding-top: 172px;
    width: 208px;

    @media (max-width: 1023px) {
      background-size: 140px;
      width: 168px;

      p {
        font-size: 14px;
      }
    }
  }

  .private {
    background-image: url('./static/img/welcome-private.png');
  }

  .safe {
    background-image: url('./static/img/welcome-safe.png');
    margin: 0 48px;

    @media (max-width: 1023px) { margin: 0 16px; }
  }

  .fast {
    background-image: url('./static/img/welcome-fast.png');
  }

  .avatar-input {
    @extend %flex-col;
    @extend %flex-shrink-0;
    @extend %flex-align-center;
    @extend %flex-justify-center;

    background: #eaf8f9; //TODO: create var - Paul
    border-radius: 128px;
    box-shadow: 0 0 1px 0 grey;
    cursor: pointer;
    height: 128px;
    margin-top: -64px;
    transition: 150ms;
    width: 128px;

    &:hover {
      background: #fff;
    }
  }

  .avatar-instructions {
    text-align: center;
  }

  .help,
  .terms {
    .button-link {
      height: 20px;
      line-height: 20px;
    }
  }

  a {
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.show {
    opacity: 1;
  }

  .signup-form {
    justify-content: flex-start;
  }

  .pdf-download {
    background-color: $color-brand-primary !important;
    border-radius: 4px;
    box-shadow: none;
    color: $text-light-primary !important;
    margin-bottom: auto;
    margin-top: auto;
    transition: 150ms;

    &:hover {
      box-shadow: $shadow-5;
    }

    .material-icons {
      color: $text-light-primary;
    }
  }

  .confirm-key {
    @extend %flex-col;

    text-align: left;
    width: 432px;

    .safe {
      margin: 0 auto;
    }
  }

  .profile {
    @extend %flex-col;
    @extend %flex-align-center;

    height: 100%;
    width: 375px;

    input {
      width: 100%;
    }
  }

  .signup-subtitle {
    @extend %headline;
    margin-top: $margin-tiny;
  }

  .signup-nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
    padding: 6px 0;
    width: 330px;
  }

  .rt-input-error {
    white-space: normal;
  }
}

.avatar-editor {
  width: auto;
}
