// Login page
.login {
  @extend %flex-col;
  @extend %flex-align-center;
  @extend %flex-justify-start;
  @extend %background-pattern;
  flex: 0 0 auto;
  width: 100vw;
  color: $text-light-primary;

  a {
    color: inherit;
  }

  .p-input {
    input {
      box-shadow: $shadow-2;
      background-color: $input-light;
      border-width: 0;

      &:hover {
        box-shadow: $shadow-8;
        background: $white;
      }

      &:focus {
        background: $white;
      }
    }

    &.has-error {
      input {
        border-bottom: 4px solid $red-error;
      }

      .error {
        margin-top: $margin-tiny;
        color: $text-light-primary;
      }
    }
  }

  .login-form {
    width: 275px;
    margin-top: 24px;
  }

  .password {
    position: relative;
    margin-top: 40px;

    input {
      padding-right: 48px;
    }

    .p-button {
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -16px; // half of icon height
    }
  }

  .title + .validated-input .p-input {
    margin-top: $margin-default;
  }

  .login-button {
    @extend %flex-align-center;
    margin: 48px 0;
    transition: 150ms $transition-easing-default;
    border-radius: 18px;

    &:not([disabled]),
    &:hover:not([disabled]) {
      color: $blue !important; // :( - Paul
      background-color: $white !important; // so important
    }
  }

  .login-reg-button {
    text-align: center;
    color: $text-light-secondary;

    > a:hover {
      text-decoration: underline;
      color: $text-light-primary;
    }
  }

  .welcome-back-wrapper {
    margin-top: $margin-large;
    background: $gradient-to-right;
    border-radius: 4px;
  }

  .welcome-back {
    @extend %flex-col;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    @extend %flex-justify-center;
    justify-content: center;
    cursor: pointer;
    min-width: 375px;
    padding: 24px;
    font-size: 20px;
    // TODO: make transition vars
    transition: 250ms;
    color: $text-dark-secondary;
    background: $white-50;
    border-radius: 4px;

    &:hover {
      background: $white;
    }

    .overflow {
      width: 100%;
      padding: 0 $padding-large;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    strong {
      font-weight: $font-weight-bold;
      color: $text-dark-primary;
    }

    .subtitle {
      @extend %hint-error-label;
      margin-top: $margin-small;
    }
  }
}
