// TODO: it's simplest here to just extend .signup
// revisit when(if) Login/Signup files get restructured for animations
.login {
  @extend .signup;
}

// Extra div selector for specificity
div.login {
  display: flex;

  .mock-ui-container {
    padding: 148px 112px 80px 0;

    @media all and (max-width: $break-width-default),
      all and (max-height: $break-height-default) {
      padding: 148px 80px 148px 0;
    }
  }

  .mock-app-ui {
    padding: $padding-xxl;

    .mock-line {
      height: 12px;
      margin-right: 2px;
      margin-bottom: 4px;

      &.tall {
        height: 16px;
      }
    }

    .row {
      display: flex;
    }

    .profile {
      margin: $margin-xl 0;

      .profile-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: $margin-default;
      }
    }

    .mock-avatar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 128px;
      width: 128px;
      background-color: #c3cafd;
      border-radius: 18px;

      .material-icons {
        font-size: 96px;
        color: $white-70;
      }
    }

    .icons {
      .material-icons {
        font-size: 36px;

        &:last-of-type {
          margin-left: $margin-default;
          color: $text-dark-hint;
        }
      }
    }
  }

  .heading {
    margin-top: 0;
    margin-bottom: $margin-default;
  }

  .subtitle {
    font-size: 18px;
    color: $text-dark-secondary;
  }

  .password {
    position: relative;
    max-width: 400px;

    .p-button {
      position: absolute;
      right: 6px;
      top: 16px;
    }

    .validated-input:last-of-type {
      margin-bottom: $margin-default;
    }
  }

  .find-ak {
    margin-bottom: $margin-large;
    text-align: center;
  }

  .login-button-container {
    text-align: right;
  }

  .signup-link {
    margin-top: auto;
    margin-bottom: $margin-xl;
    text-align: center;
  }
}
