// Login page
.login {
  @extend %flex-col;
  @extend %flex-align-center;
  flex: 0 0 auto;
  justify-content: center;
  width: 100vw;
  color: $text-light-default;

  a {
    color: inherit;
  }

  .login-form {
    width: 275px;
    margin-top: 24px;
  }

  .password {
    position: relative;
    margin-top: 40px;

    input {
      padding-right: 48px;
    }

    .p-button {
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -18px; // half of icon height
    }
  }

  .title + .validated-input .p-input {
    margin-top: $margin-default;
  }

  .login-button {
    margin: 48px 0;
  }

  .welcome-back-wrapper {
    margin-top: $margin-large;
    background-color: $darkblue;
    border-radius: 4px;
  }

  .welcome-back {
    @extend %flex-col;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    @extend %flex-justify-center;
    justify-content: center;
    cursor: pointer;
    min-width: 375px;
    padding: 24px;
    font-size: 20px;
    // TODO: make transition vars
    transition: 250ms;
    color: $text-dark-inactive;
    background: $white-70;
    border-radius: 4px;

    &:hover {
      background: $white;
    }

    .overflow {
      width: 100%;
      padding: 0 $padding-large;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    strong {
      font-weight: $font-weight-bold;
      color: $text-dark-default;
    }

    .subtitle {
      @extend %hint-error-label;
      margin-top: $margin-small;
    }
  }
}
