.p-avatar {
  position: relative;
  vertical-align: middle;

  & + & {
    margin-left: -8px;
  }

  .material-icons {
    position: absolute;
    height: 24px;
    width: 24px;
    right: -8px;
    top: 0;
    color: $color-error;
    background-color: $background-root;
    border-radius: 12px;
  }

  .contents {
    height: 100%;
    width: 100%;
  }

  .image-container {
    // General styles
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 24px;
    font-weight: $font-weight-regular;
    color: $white;
    border-radius: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }

    // Clickable
    &.clickable {
      transition: transform 200ms, box-shadow 200ms;

      &:hover {
        transform: translateY(-4px);
        box-shadow: $shadow-5;
      }
    }

    // Size-specific styles
    &.tiny {
      height: 20px;
      width: 20px;
      font-size: 95%;
    }

    &.small {
      height: 32px;
      width: 32px;
      font-size: 20px;

      + .material-icons {
        height: 20px;
        width: 20px;
        font-size: 20px;
      }
    }

    &.medium {
      height: 40px;
      width: 40px;
      font-size: 24px;
    }

    &.large {
      height: 64px;
      width: 64px;

      + .material-icons {
        height: 32px;
        width: 32px;
        font-size: 32px;
        border-radius: 32px;
      }
    }

    &.full {
      height: 224px;
      width: 224px;
      border-radius: 8px;
    }
  }
}
