.p-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  min-width: 90px;
  padding: 0 $padding-default;
  vertical-align: middle;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 150ms;

  // Default "primary" theme
  color: $peerio-blue;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  border-radius: 24px;

  > span {
    white-space: nowrap;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: $background-selected;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    color: $text-dark-hint;

    .material-icons {
      color: $icon-dark-inactive;
    }

    .p-custom-icon {
      opacity: .12;
    }
  }

  // "Primary" theme
  &.primary {
    color: $text-dark-default;
  }

  // "Secondary" theme
  // e.g. cancel button in a dialog
  &.secondary {
    color: $text-dark-inactive;
  }

  // "Inverted" theme
  &.inverted {
    color: $text-light-default;

    &:disabled {
      color: $text-light-disabled;
    }
  }

  // "Affirmative" theme
  &.affirmative {
    color: $text-light-default;
    background-color: $color-affirmative;

    &.secondary {
      color: $color-affirmative;
      background-color: $white;
      border: 1px solid $color-affirmative;
    }

    &:disabled {
      color: $text-light-disabled;
      background-color: transparent;
    }
  }

  // Icons
  &.icon {
    height: 36px;
    width: 36px;
    min-width: 0;
    padding: 0;
    border-radius: 100%;

    .material-icons {
      color: $icon-dark-active;
    }

    &:hover,
    &:focus {
      background-color: transparent;

      .material-icons {
        color: $color-affirmative;
      }
    }

    &:disabled .material-icons {
      color: $icon-dark-inactive;
    }
  }

  &.icon-and-label {
    .material-icons,
    .p-custom-icon {
      margin-right: $margin-small;
    }
  }

  &.gold .material-icons {
    color: gold;
  }

  // Small buttons (collapse height & padding)
  &.small {
    height: auto;
    width: auto;
    min-width: 0;
    padding: 0;

    &:hover,
    &:focus {
      // box-shadow: none;
      background-color: inherit;
    }
  }

  // "Active" theme, e.g. sidebar toggle, show/hide passphrase
  &.active {
    color: $peerio-teal;

    .material-icons {
      color: $peerio-teal;
    }
  }

  // "Selected" theme, e.g. used for some radio buttons
  &.selected {
    color: $peerio-blue;

    .material-icons {
      color: $peerio-blue;
    }
  }

  // "Link" theme
  &.link {
    display: inline;
    height: auto;
    width: auto;
    min-width: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: inherit;
    text-decoration: underline;
    text-transform: none;
    color: inherit;
    background-color: transparent;
  }

  // "No-hover" theme
  &.no-hover:hover,
  &.no-hover:focus {
    background-color: inherit;
  }
}
