.p-checkbox {
  display: inline-flex;
  align-items: center;

  .p-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;

    // The "input" itself is invisible, overlaid on the Material Icon
    input {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }

  .p-checkbox-label {
    margin-left: $margin-small;
  }
}
