.p-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  height: 32px;
  max-width: 176px;
  min-width: 88px;

  padding: 0 12px;
  margin-right: $margin-tiny;
  margin-top: $margin-tiny;
  margin-bottom: $margin-tiny;

  line-height: 32px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: $peerio-blue;
  background-color: $background-root;
  border: 1px solid $peerio-blue;
  border-radius: 32px;

  .content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    + .p-button {
      margin-left: 8px;
    }
  }

  .p-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-right: -8px;
    box-sizing: content-box;
    border: 2px solid $background-selected;
    border-radius: 20px;

    .material-icons {
      font-size: 20px;
      color: $background-selected;
    }

    &:hover {
      background: $peerio-blue;

      .material-icons {
        color: $background-root;
      }
    }
  }

  &.not-found {
    width: 0;
    min-width: 0;
    padding: 0;
    transition: 250ms 500ms;
    color: transparent;
    opacity: 0;
    background-color: $color-error;

    .p-button {
      display: none;
    }
  }
}
