.p-dialog-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  // Fade in/out animation
  transition: opacity 200ms;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  .p-dialog-overlay {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: $background-overlay;
  }
}

.p-dialog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50vw;
  max-height: 96vh;
  overflow: hidden;
  background-color: $background-root;
  border-radius: 8px;

  .body {
    flex-grow: 1;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: auto;

    .title {
      margin-bottom: $margin-default;
      font-weight: 400;
    }
  }

  .actions {
    padding: $padding-small;
    text-align: right;
  }
}

// Override HTML defaults
dialog {
  padding: 0;
  border: 0;
}
