%flex-full-height-centered {
  display: flex;
  align-items: center;
  height: 100%;

  /*
    TODO:
    Honestly not sure whether we should define the height at the component level.
    But, Dropdown only used in 1 location right now, so we'll see how it plays out.
  */
}

.p-dropdown {
  @extend %flex-full-height-centered;

  .selector {
    @extend %flex-full-height-centered;
  }

  .inputs-container {
    @extend %flex-full-height-centered;
    position: relative;

    .selector {
      display: flex;
      width: 100%;
      margin-left: $margin-default;

      .material-icons {
        margin-left: auto;
      }
    }

    ul {
      @extend %list-reset;

      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      top: 0;
      margin: 0;
      box-shadow: $shadow-2;
      background-color: $white;

      li {
        cursor: pointer;
        width: 100%;
        padding: $padding-small $padding-default;

        &:hover {
          background-color: $background-hover-default;
        }
      }
    }
  }
}
