.p-input {
  display: flex;
  flex-grow: 1;

  position: relative;
  height: auto;
  width: 100%;

  input,
  textarea {
    border: 1px solid $input-border;
    border-radius: 2px;

    &::placeholder {
      color: $text-dark-hint;
    }
  }

  input {
    flex-grow: 1;
    height: 48px;
    padding: 18px $padding-small 0;
    margin-top: 0;
    transition: 150ms;

    &:focus {
      outline: 0;
    }
  }

  textarea {
    flex-grow: 1;
    padding: 12px $padding-small $padding-small;
  }

  .label {
    position: absolute;
    pointer-events: none;
    top: 16px;
    padding-left: $padding-small;
    transition: top 150ms, font-size 150ms, color 150ms;
    color: $text-dark-hint;

    &.shrink {
      top: 8px;
      font-size: 12px;
    }
  }

  .hint {
    @extend %hint-error-label;
    position: absolute;
    pointer-events: none;
    top: 28px;
    padding-left: $padding-small;

    transition: opacity 150ms;
    color: $text-dark-hint;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  &.has-error {
    &:not(.is-focused) .label {
      color: $red-error;
    }

    .error {
      @extend %hint-error-label;
      position: absolute;
      width: 100%;
      top: 100%;
      color: $text-dark-secondary;
      opacity: 1;
      border-top: 4px solid $red-error;
    }
  }
}
