.p-list-item {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 100%;
  min-height: 48px;
  padding: $padding-small $padding-default;

  // Hover effects
  &:hover {
    background-color: $background-selected;

    .material-icons:not(.gold) {
      color: $color-affirmative;
    }
  }

  // Active/selected colouring
  &.active {
    font-weight: $font-weight-semibold;
    background: rgba($peerio-purple, .45);

    .content {
      color: $text-light-default;
    }
  }

  // The content on either side of the main content (e.g. leftIcon, leftContent, ...)
  .side-content {
    display: flex;
    align-items: center;

    &.left {
      margin-right: $margin-default;
    }

    &.right {
      margin-left: $margin-default;
    }
  }

  // Main content
  .content {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .legend {
      color: $text-dark-inactive;
    }

    .caption {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
