.p-list {
  @extend %list-reset;
  padding: $padding-small 0;

  // Large size
  &.large .p-list-item {
    min-height: 72px;
  }

  // Overrides :hover behaviour when .no-hover class applied
  &.no-hover .p-list-item:hover {
    background-color: inherit;
  }

  // Override default .clickable class, apply instead to ListItem children
  &.clickable {
    cursor: default;

    .p-list-item {
      cursor: pointer;
    }
  }
}
