.p-list-heading {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 48px;
  padding-left: $padding-default;

  font-weight: $font-weight-semibold;
  color: $text-dark-secondary;
}
