.p-list-item {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 100%;
  min-height: 48px;
  padding: $padding-small $padding-default;

  // Hover effects
  &:hover {
    background-color: $lightblue-hover;
  }

  // Active/selected colouring
  &.active {
    font-weight: $font-weight-semibold;
    background: $lightblue;

    .content {
      color: $text-light-primary;
    }

    &:hover {
      background: $lightblue;
    }
  }

  // The content on either side of the main content (e.g. leftIcon, leftContent, ...)
  .side-content {
    display: flex;
    align-items: center;
    min-width: 32px;

    &.left {
      margin-right: $margin-default;
    }

    &.right {
      margin-left: $margin-default;
    }
  }

  // Main content
  .content {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .legend {
      color: $text-dark-secondary;
    }
  }
}
