.material-icons {
  vertical-align: middle;

  &.gold {
    color: gold;
  }

  &.reverse-icon {
    @extend %reverse-icon;
  }

  &.selected {
    color: $blue;
  }

  // TODO: move .material-icons styles here where relevant
}
