.material-icons {
  vertical-align: middle;

  &.gold {
    color: gold;
  }

  &.selected {
    color: $blue;
  }

  // TODO: move .material-icons styles here where relevant
}

.reverse-icon.material-icons,
.reverse-icon .material-icons {
  @extend %reverse-icon;
}
