.material-icons {
  vertical-align: middle;

  font-size: 24px;
  color: $icon-dark-active;

  &.gold { color: gold; }
  &.selected { color: $blue; }
  &.affirmative { color: $green-affirmative; }
}

.reverse-icon.material-icons,
.reverse-icon .material-icons {
  @extend %reverse-icon;
}
