// Menu button
.p-menu {

  // Overwrite p-button defaults
  .p-button {
    min-width: 0;
    padding: 0;
  }
}

// Menu contents (i.e. all the MenuItems go in here)
.p-menu-content {
  position: fixed;
  z-index: 90;

  height: auto;
  width: auto;
  max-height: 0;
  overflow: hidden;

  transition: max-height 350ms 350ms, padding 250ms 250ms, opacity 150ms;
  opacity: 0;

  box-shadow: $shadow-2;
  background-color: $background-root;
  border-radius: 4px;

  &.visible {
    max-height: 370px; // TODO: hardcoded value based on AppNav menu, calculate instead?
    max-width: 248px;
    padding: $padding-small 0;
    transition: max-height 350ms, padding 250ms;
    opacity: 1;
  }

  &.wide .p-menu-item {
    min-width: 192px;

    .icon {
      margin-right: $margin-default;
    }
  }
}
