.p-menu-item {
  display: flex;
  align-items: center;
  padding: $padding-small $padding-xl $padding-small $padding-default;
  overflow: hidden;
  white-space: nowrap;

  &:hover,
  &.selected {
    .material-icons {
      color: $peerio-blue;
    }
  }

  &:hover:not(.disabled) {
    background-color: $background-hover-default;
  }

  &.selected {
    background-color: rgba($peerio-blue, .05);
  }

  .icon {
    margin-right: $margin-small;
  }

  &.disabled {
    cursor: default;
    color: $icon-dark-inactive;

    .material-icons,
    .p-custom-icon {
      color: $icon-dark-inactive;
    }
  }
}
