.p-menu-item {
  &:hover,
  &.active {
    .material-icons {
      color: $peerio-blue;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    color: $icon-dark-inactive;

    .material-icons {
      color: $icon-dark-inactive;
    }

    .p-custom-icon {
      opacity: .7;
    }
  }
}
