.p-progress-bar {
  display: flex;
  width: 100%;

  &.circular {
    height: 50px;
    width: 50px;

    &.small {
      height: 20px;
      width: 20px;
    }
  }

  // Linear, adapted from https://codepen.io/holdencreative/pen/vEVbwv
  .progress-bar {
    display: block;
    position: relative;
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: #d9d9d9;

    .determinate {
      position: absolute;
      top: 0;
      bottom: 0;
      animation: pulse 1.5s linear infinite;
      transition: width 200ms;
      background-color: $color-confirmation;
    }

    .indeterminate {
      background-color: $color-confirmation;

      &::before {
        will-change: left, right;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        animation:
          indeterminate 2.1s cubic-bezier(.65, .815, .735, .395) infinite,
          pulse 1.5s linear infinite;
        background-color: inherit;
      }

      &::after {
        will-change: left, right;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        animation:
          indeterminate-short 2.1s cubic-bezier(.165, .84, .44, 1) infinite,
          pulse 1.5s linear infinite;
        animation-delay: 1.15s;
        background-color: inherit;
      }

      &.multicolor {
        animation: backgroundColors (6s) ease-in-out infinite;
      }
    }

    @keyframes pulse {
      0% { opacity: 1; }
      50% { opacity: .4; }
      100% { opacity: 1; }
    }

    @keyframes indeterminate {
      0% {
        left: -35%;
        right: 100%;
      }

      60% {
        left: 100%;
        right: -90%;
      }

      100% {
        left: 100%;
        right: -90%;
      }
    }

    @keyframes indeterminate-short {
      0% {
        left: -200%;
        right: 100%;
      }

      60% {
        left: 107%;
        right: -8%;
      }

      100% {
        left: 107%;
        right: -8%;
      }
    }

    @keyframes color {
      100%,
      0% {
        background-color: $color-error;
      }

      25% {
        background-color: $peerio-blue;
      }

      50% {
        background-color: $color-confirmation;
      }

      75% {
        background-color: $color-warning;
      }
    }
  }

  // Circular, adapted from http://david.ingledow.co.uk/blog/google-material-designs-animated-loading-spinner-svg-and-css/
  .progress-spinner {
    .circular {
      position: relative;
      height: 50px;
      width: 50px;
      animation: rotate 2s linear infinite;
    }

    .path {
      stroke-width: 4;
      stroke-miterlimit: 10;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      cx: 25;
      cy: 25;
      r: 20;
      animation: dash 1.5s ease-in-out infinite;
      fill: none;
      stroke: $color-confirmation;
    }

    &.multicolor {
      .path {
        animation:
          dash 1.5s ease-in-out infinite,
          color 6s ease-in-out infinite;
      }
    }

    &.light {
      .path {
        stroke: $icon-light-active;
      }
    }

    &.small {
      .circular {
        height: 20px;
        width: 20px;
      }

      .path {
        stroke-width: 2;
        stroke-dasharray: 1, 80;
        cx: 10;
        cy: 10;
        r: 6;
        animation: dashSmall 1.5s ease-in-out infinite;
      }
    }

    @keyframes color {
      100%,
      0% {
        stroke: $color-error;
      }

      25% {
        stroke: $peerio-blue;
      }

      50% {
        stroke: $color-confirmation;
      }

      75% {
        stroke: $color-warning;
      }
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
      }

      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
      }
    }

    @keyframes dashSmall {
      0% {
        stroke-dasharray: 1, 80;
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dasharray: 33, 80;
        stroke-dashoffset: -12;
      }

      100% {
        stroke-dasharray: 33, 80;
        stroke-dashoffset: -41;
      }
    }
  }
}
