.p-radio {
  @extend %list-reset;

  li {
    display: flex;
    align-items: center;
    margin: $margin-large 0;

    .label {
      margin-left: $margin-default;
    }

    .material-icons:hover {
      color: $color-affirmative;
    }
  }
}
