.p-switch {
  display: flex;
  justify-content: space-between;
  width: 480px;

  .p-switch-container {
    display: flex;
    align-items: center;

    position: relative;
    max-height: 24px;
    min-height: 24px;
    min-width: 48px;
    padding: 0;

    background-color: $black-12;
    border: 1px solid $divider-dark;
    border-radius: 24px;

    &:active,
    &:focus {
      outline: none;
    }

    input {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .knob {
      display: inline-block;
      min-height: 24px;
      min-width: 24px;
      transition: margin-left 250ms;
      background-color: $black-12;
      border-radius: 24px;
    }

    &.checked {
      background-color: $blue;
      border-color: $blue;

      .knob {
        margin-left: 50%;
        background-color: $white;
        border: 1px solid $blue;
      }
    }
  }
}
