// Primary brand color
$color-brand-primary: rgb(44, 149, 207);
$color-brand-secondary: rgb(50, 206, 195);
$color-accent: rgb(246, 146, 35);

// Gradients - used with background-image property
$color-brand-gradient: linear-gradient(to right, $color-brand-primary, $color-brand-secondary);
$color-brand-gradient-bottom: linear-gradient(to bottom, $color-brand-primary 0, $color-brand-secondary 50%);

// Background patterns
$background-pattern: './static/img/bg-pattern.png';

// fonts
@import './static/fonts/OpenSans/opensans.css';
$font-stack: 'Open Sans', sans-serif;
