// Main colours
$color-ui-1: #040b40;
$color-ui-2: #004e69;

$color-brand-1: #408cff;
$color-brand-2: #5461cc;
$color-brand-3: #02cedb;

$color-accent-1: #fdc700;
$color-accent-2: #e90162;

// Semantic colour variables
$color-confirmation: $color-brand-3;
$color-affirmative: $color-brand-1;
$color-warning: $color-accent-1;
$color-error: $color-accent-2;

// Main font stack
@import './static/fonts/OpenSans/opensans.css';
$font-stack: 'Open Sans', sans-serif;
