// brand colours
$peerio-blue: $color-brand-2;
$peerio-purple: $color-brand-2;

//// BACKGROUNDS
$background-selected: rgba($peerio-blue, .15);
$background-overlay: $black-06;
$background-hover-default: $black-06;

//// FONT COLORS
// Text
$text-light-inactive: $black-54;

//// DIVIDERS
$divider-dark: $black-06;
$divider-accent: $black-54;

//Whitelabel
$text-header: $text-light-default;
$background-list: $black-03;
$badgeColor: $black;
$badgeBgColor: $color-confirmation;
$unreadColor: $white;
$hoverBg: rgba($color-brand-2, .15)