// BRAND COLORS & VISUAL ELEMENTS
// Primary brand color
$color-brand-primary: rgb(44, 149, 207);
$color-brand-secondary: rgb(50, 206, 195);
$color-accent: rgb(246, 146, 35);

// Gradients - used with background-image property
$color-brand-gradient: linear-gradient(to right, $color-brand-primary, $color-brand-secondary);
$color-brand-gradient-bottom: linear-gradient(to bottom, $color-brand-primary 0, $color-brand-secondary 50%);

// Background pattern
$background-pattern: './static/img/bg-pattern.png';

// LOW LEVEL COLOR
// for use with dark backgrounds
$white: rgba(255, 255, 255);
$color-light-70: rgba(255, 255, 255, .7);
$color-light-50: rgba(255, 255, 255, .5);
$color-light-12: rgba(255, 255, 255, .12);

// LOW LEVEL COLOR
// for use with light backgrounds
$color-dark-87: rgba(0, 0, 0, .87);
$color-dark-54: rgba(0, 0, 0, .54);
$color-dark-38: rgba(0, 0, 0, .38);
$color-dark-12: rgba(0, 0, 0, .12);
$color-dark-06: rgba(0, 0, 0, .06);
$color-dark-03: rgba(0, 0, 0, .03);

// Status (warning/error/etc)
$color-error: rgb(208, 2, 27);
$color-affirmative: rgb(44, 207, 132);
$color-warning: rgb(244, 203, 66);

// BACKGROUNDS
$background-active-message: #32b0e3;
$background-brand: $color-brand-primary;
$background-gradient: $color-brand-gradient;
$background-gradient-bottom: $color-brand-gradient-bottom;
$background-cancel: $color-error;
$background-hover-message: rgba($background-active-message, .38);
$background-new-messages: rgba($color-error, .38);
$background-chat-list: rgba($color-brand-primary, .12); // TODO: make this more generic
$background-chat-list-item: #eee; // $color-dark-06 over white backgrond.
$background-new-file: rgba($color-affirmative, .12);
$background-light-button-hover: $color-light-12;
$background-light-dropdown: $color-light-12;
$background-overlay: rgba(0, 0, 0, .5);
$background-root: $white;
$background-snackbar: #555;
$background-table: $white;
$background-table-actions: $color-dark-06;
$background-welcome-back: $color-light-50;
$background-welcome-back-active: $white;

// TEXT
$text-dark-primary: $color-dark-87;
$text-dark-secondary: $color-dark-54;
$text-dark-hint: $color-dark-38;
$text-dark-disabled: $color-dark-38;
$text-light-primary: $white;
$text-light-secondary: $color-light-70;
$text-light-hint: $color-light-50;
$text-light-disabled: rgba($white, .38);

$text-new-messages: rgba($color-error, .7);

// ERRORS
$text-dark-error: $color-error;
$text-light-error: $white;
$border-error: $color-error;
$border-dark: $color-dark-38; // for input borders

// DIVIDERS
$divider-dark: $color-dark-12;
$divider-light: $color-light-12;

// INPUTS
$input-light-active: $white;
$input-light-inactive: $color-light-70;
$input-dark-border: $color-dark-38;

// BUTTONS
$button-primary: $color-brand-primary;
$button-dark-disabled: $color-dark-38;
$button-light-disabled: $color-light-50;
$button-affirmative: $color-affirmative;

// ICONS
// fonts
$icon-dark-active: $color-dark-54;
$icon-dark-inactive: $color-dark-38;
$icon-light-active: $white;
$icon-light-inactive: $color-light-70;

//STATUS
$status-online: $color-affirmative;
$status-busy: $color-error;
