//// COLOR VARIABLES
// main colours (pulled either from _branding or whitelabel)
$blue: $color-brand-primary;
$green: $color-brand-secondary;

// secondary colours
$orange: $color-accent;
$lightblue: #32b0e3;
$lightblue-hover: rgba($lightblue, .38);
$gold: gold;

// Status (warning/error/etc)
$red-error: rgb(208, 2, 27);
$green-affirmative: rgb(44, 207, 132);
$yellow-warning: rgb(244, 203, 66); // only used once

// for use with dark backgrounds
$white: rgb(255, 255, 255);
$white-70: rgba($white, .7);
$white-50: rgba($white, .5);
$white-38: rgba($white, .38);
$white-12: rgba($white, .12);

// for use with light backgrounds
$black: rgba(0, 0, 0, .87);
$black-50: rgba(0, 0, 0, .54);
$black-38: rgba(0, 0, 0, .38);
$black-12: rgba(0, 0, 0, .12);
$black-06: rgba(0, 0, 0, .06);
$black-03: rgba(0, 0, 0, .03);
$black-01: rgba(0, 0, 0, .01);

//// BACKGROUNDS
// Background colors
$background-faintblue: rgba($blue, .12);
$background-light-dropdown: $white-12;
$background-overlay: rgba(0, 0, 0, .5);
$background-root: $white;

//// FONT COLORS
// Text
$text-dark-primary: $black;
$text-dark-secondary: $black-50;
$text-dark-hint: $black-38;
$text-light-primary: $white;
$text-light-secondary: $white-70;
$text-light-disabled: $white-38;

// Icons
$icon-dark-active: $black-50;
$icon-dark-inactive: $black-38;
$icon-light-active: $white;
$icon-light-inactive: $white-70;

//// DIVIDERS
$divider-dark: $black-12;
$divider-light: $white-12;

//// INPUTS
$input-light: $white-70;
$input-border: $black-38;
