
// LOW LEVEL COLOR
// for use with dark backgrounds
$color-light-100: rgba(255, 255, 255, 1);
$color-light-70: rgba(255, 255, 255, .7);
$color-light-50: rgba(255, 255, 255, .5);
$color-light-38: rgba(255, 255, 255, .38);
$color-light-12: rgba(255, 255, 255, .12);

// LOW LEVEL COLOR
// for use with light backgrounds
$color-dark-87: rgba(0, 0, 0, .87);
$color-dark-54: rgba(0, 0, 0, .54);
$color-dark-38: rgba(0, 0, 0, .38);
$color-dark-12: rgba(0, 0, 0, .12);
$color-dark-06: rgba(0, 0, 0, .06);
$color-dark-03: rgba(0, 0, 0, .03);

// Primary brand color
$color-brand: rgb(44, 149, 207);
$color-accent: rgb(246, 146, 35);

// Status (warning/error/etc)
$color-error: rgb(208, 2, 27);
$color-affirmative: rgb(44, 207, 132);
$color-warning: rgb(244, 203, 66);

// BACKGROUNDS
$background-active-message: rgba($color-brand, .7);
$background-brand: $color-brand;
$background-cancel: $color-error;
$background-hover-message: rgba($color-brand, .12);
$background-new-messages: rgba($color-error, .38);
$background-chat-list: rgba($color-brand, .12); // TODO: make this more generic
$background-new-file: rgba($color-affirmative, .12);
$background-light-button-hover: $color-light-12;
$background-light-dropdown: $color-light-12;
$background-overlay: rgba(0, 0, 0, .5);
$background-root: $color-light-100;
$background-snackbar: #555;
$background-table: $color-light-100;
$background-table-actions: $color-dark-06;
$background-welcome-back: $color-light-70;
$background-welcome-back-active: $color-light-100;

// TEXT
$text-dark-primary: $color-dark-87;
$text-dark-secondary: $color-dark-54;
$text-dark-hint: $color-dark-38;
$text-dark-disabled: $color-dark-38;
$text-light-primary: $color-light-100;
$text-light-secondary: $color-light-70;
$text-light-hint: $color-light-50;
$text-light-disabled: $color-light-38;

$text-new-messages: rgba($color-error, .7);

// ERRORS
$text-dark-error: $color-error;
$text-light-error: $color-light-100;
$border-error: $color-error;
$border-dark: $color-dark-38; // for input borders

// DIVIDERS
$divider-dark: $color-dark-12;
$divider-light: $color-light-12;

// INPUTS
$input-light-active: $color-light-100;
$input-light-inactive: $color-light-70;
$input-dark-border: $color-dark-38;

// BUTTONS
$button-primary: $color-brand;
$button-dark-disabled: $color-dark-38;
$button-light-disabled: $color-light-50;
$button-affirmative: $color-affirmative;

// ICONS
// fonts
$icon-dark-active: $color-dark-54;
$icon-dark-inactive: $color-dark-38;
$icon-light-active: $color-light-100;
$icon-light-inactive: $color-light-50;

//STATUS
$status-online: $color-affirmative;
$status-busy: $color-error;
