$spacing-default: 8px;

// MARGIN
$margin-tiny: #{$spacing-default/2}; // 4px
$margin-small: $spacing-default; // 8px
$margin-default: #{$spacing-default * 2}; // 16px
$margin-large: #{$spacing-default * 3}; // 24px
$margin-xl: #{$spacing-default * 4}; // 32px
$margin-xxl: #{$spacing-default * 6}; // 48px

// PADDING
$padding-tiny: #{$spacing-default/2}; // 4px
$padding-small: $spacing-default; // 8px
$padding-default: #{$spacing-default * 2}; // 16px
$padding-large: #{$spacing-default * 3}; // 24px
$padding-xl: #{$spacing-default * 4}; // 32px
$padding-xxl: #{$spacing-default * 6}; // 48px

// COMPONENT MEASUREMENTS
// TODO: consider moving component specific vars into their component style sheets
$app-nav-width: 64px;
$width-list: 256px;

// MEDIA QUERIES
$minimum-screen-height: 768px;
$minimum-screen-width: 900px;

/* Z-INDEX MASTER LIST
  List of z-indices of elements that have a reasonable chance of interacting
  (e.g. excludes ZeroChats, which has a lot of custom positioning of images but those don't show up anywhere else)

   1  %notify (red dot on AppNav avatar + "Public Profile" settings tab)
   1  ChatList pin
   1  MemberSection action list (e.g. Add members)
   2  AppNav
   2  Dropdown
   2  Status bar
   2  FullCoverLoader
   2  "Unread Messages" button in ChatList
  10  tooltip
  10  FileActions
  90  Menu
  98  Dialog
  99  DropTarget
*/
