//This is the most common easing curve. Objects quickly accelerate
// and slowly decelerate between on-screen locations.
$transition-easing-default: cubic-bezier(.4, 0, .2, 1);

// Objects enter the screen at full velocity from off-screen
// and slowly decelerate to a resting point.
$transition-easing-ease-out: cubic-bezier(0, 0, .2, 1);

// Objects leave the screen at full velocity.
// They do not decelerate when off-screen.
$transition-easing-ease-in: cubic-bezier(.4, 0, 1, 1);

$transition-easing-bounce-in-out: cubic-bezier(.68, -.55, .265, 1.55);

// default transition speed
$transition-fast: 150ms;
