$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

%display-4 {
  font-size: 112px;
}

%display-3 {
  font-size: 56px;
}

%display-2 {
  font-size: 45px;
}

%display-1 {
  font-size: 34px;
}

%headline {
  font-size: 24px;
}

%title {
  font-size: 20px;
  font-weight: $font-weight-semibold;
}

%subtitle {
  font-size: 16px;
}

%list-title {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}

%hint-error-label {
  font-size: 12px;
}

%input-text {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
