$spacing-default: 8px;

$padding-tiny: #{$spacing-default/2}; // 4px
$padding-small: $spacing-default; // 8px
$padding-default: #{$spacing-default*2}; // 16px
$padding-large: #{$spacing-default*2.5}; // 20px

$margin-tiny: #{$spacing-default/2}; // 4px
$margin-small: $spacing-default; // 8px
$margin-default: #{$spacing-default*2}; // 16px
$margin-large: #{$spacing-default*2.5}; // 20px
