@import '../node_modules/normalize.css/normalize.css';
@import './fonts/OpenSans/opensans.css';

html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
}