{
    "compact": false,
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        [
            "babel-root-import",
            {
                "rootPathSuffix": "build"
            }
        ],
        "transform-es2015-modules-commonjs",
        "transform-export-extensions",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        "transform-react-jsx",
        "transform-async-to-bluebird"
    ],
    "env": {
        "production": {
            "sourceMaps": false,
            "comments": false,
            "plugins": [
                "transform-react-constant-elements",
                "transform-react-inline-elements",
                "transform-remove-debugger",
                "console-kungfu"
            ]
        },
        "development": {
            "sourceMaps": true,
            "plugins": [
                "transform-react-display-name",
                "transform-react-jsx-source"
            ]
        }
    }
}
