{
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "extends": [
        "peerio"
    ],
    "settings":{
        "import/core-modules": [ "electron" ]
    },
    "rules":{
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "import/no-unresolved":0,
        "import/no-extraneous-dependencies":0,
        "react/prop-types": 0,
        "react/sort-comp": 0,
        "react/prefer-stateless-function": 0,
        "react/no-unescaped-entities": 0,
        "jsx-a11y/no-static-element-interactions":1,
        "no-alert":0,
        "no-mixed-operators":0
    },
    "globals":{
        "document": false,
        "alert": false,
        "confirm": false,
        "window": false,
        "WebSocket": false
    }
}
