.settings {
  .settings-terms {
    margin-top: $margin-large;

    .rt-button-button {
      width: auto;
      min-width: 0;
      padding: 0 $padding-tiny;
      font-weight: $font-weight-regular;
      text-transform: none;
      color: $blue;
    }
  }

  .terms-container { }
}
