.settings {
  .settings-container-account {
    @extend %flex-col;
    @extend %flex-grow-1;

    .upgrade-message-container {
      @extend %flex-row;
      @extend %flex-shrink-0;
      @extend %flex-align-center;
      padding: 8px 16px;
      margin-top: 4px;

      background: rgba(50, 206, 195, .15);
      border-radius: 4px;

      .message {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .delete-account {
      margin-top: auto;

      .p-button {
        color: $color-error;

        &:hover {
          background-color: rgba($color-error, .2);
        }
      }
    }
  }
}
