.settings {
  .settings-avatar-editor {
    @extend %flex-row;
  }

  .settings-container-profile {
    @extend %flex-row;

    .label-email {
      height: 24px;
      padding-left: 12px;
      margin-bottom: -8px;
      line-height: 48px;
    }

    .email-row {
      margin-top: $margin-small;

      .rt-list-itemText:not(.rt-list-primary) {
        @extend %hint-error-label;
      }

      &.unconfirmed {
        .rt-list-itemText:not(.rt-list-primary) {
          color: $red-error;
        }
      }
    }

    .input-row:first-of-type .rt-input-input,
    .flex-row .rt-input-input {
      margin-top: 0;
    }

    .peerio-id-container {
      margin-top: 40px;

      .list-title {
        margin-bottom: 8px;
      }
    }

    .avatar-card {
      @extend %flex-col;
      @extend %flex-shrink-0;
      position: relative;
      height: 224px;
      width: 224px;
      margin-left: 64px;
      overflow: hidden;
      background-size: 100%;
      border-radius: 8px;

      &.has-avatar {
        .avatar-card-user {
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
        }

        .avatar-card-display-name {
          text-shadow: 0 0 4px rgba(0, 0, 0, .8);
        }

        .avatar-card-username {
          text-shadow: 0 0 4px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .5);
        }

        .card-footer {
          background-image: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
        }
      }

      &-user {
        @extend %flex-col;
        @extend %flex-shrink-0;
        @extend %flex-align-start;
        height: 64px;
        color: $text-light-primary;
      }

      &-display-name {
        margin: $margin-default 0 0 $margin-default;
        font-weight: $font-weight-bold;
      }

      &-username {
        margin: 0 0 0 $margin-default;
      }

      &-initial {
        @extend %flex-row;
        @extend %flex-align-center;
        @extend %flex-justify-center;
        @extend %flex-grow-1;
        font-size: 112px;
        color: $text-light-primary;
      }

      .card-footer {
        @extend %flex-row;
        @extend %flex-align-center;
        @extend %flex-shrink-0;
        justify-content: flex-end;
        height: 48px;
        padding-right: $padding-small;
        margin-top: $margin-default;

        .material-icons {
          color: $icon-light-inactive;
        }

        .rt-button-button:hover .material-icons {
          color: $icon-light-active;
        }
      }

      .save-progress-overlay {
        @extend %flex-row;
        @extend %flex-justify-center;
        @extend %flex-align-center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .65);
      }
    }
  }

  .addemail-container {
    @extend %flex-row;
    align-items: center;
  }
}
