.security-settings {
  .account-key-toggle {
    @extend %flex-row;
    @extend %flex-align-center;

    .save-button {
      margin-left: 32px;
    }
  }

  .twofa-container {
    @extend %flex-row;
  }

  .totp-input {
    background-color: $white;

    &.totp-error {
      border-bottom: 4px solid $color-error;
    }
  }
}
