.contact-profile {
  .row {
    padding: $padding-default 0;
    margin-bottom: $margin-default;
    border-bottom: 1px solid $divider-dark;

    &:last-of-type {
      border-bottom-width: 0;
    }
  }

  .loading {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .notfound {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .p-avatar {
    height: 168px;
    width: 168px;
    margin-right: 24px;

    .image-container {
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }

  .contact-error {
    padding: $padding-small;
    font-weight: $font-weight-semibold;
    color: $text-light-primary;
    background-color: $red-error;
    border-radius: 2px;
  }

  .contact-avatar-info {
    @extend %flex-row;
    @extend %flex-align-start;
    @extend %flex-grow-1;

    .deleted-account-container {
      @extend %flex-col;
    }

    .deleted-account {
      color: $red-error;
    }
  }

  .profile-actions-container {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .list-title {
    margin-bottom: 8px;
  }
}
