.dev-tools-root {
  height: 100vh;
  padding-top: 90px;

  .spinner-backdrop {
    align-items: center;
    background-color: rgba(44, 149, 207, .3);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .rt-app_bar-appBar {
    background-color: rgb(44, 149, 207);

    .material-icons {
      color: rgba(255, 255, 255, .7);
    }

    .good-bg {
      background-color: #90fb90;
    }

    .bad-bg {
      background-color: #fb9090;
    }
  }

  .rt-button-button > .rt-button-icon {
    color: #fff;
  }

  .menu {
    left: 25px;
    top: 45px;

    .rt-menu-icon {
      color: gray;
    }
  }

  .separator {
    border: 1px solid rgba(255, 255, 255, .2);
    height: 30px;
    margin: 0 10px;
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: scroll;

    .rt-card-card {
      background-color: #f1f5f7;
      margin: 20px;

      pre {
        white-space: pre-wrap;
      }
    }
  }

  .keg-edit-container {
    display: flex;
    height: 100%;
    line-height: 1.7;
    padding: 0 0px 10px;

    .list {
      border-left: 1px solid #ccc;
      flex-shrink: 0;
      margin-right: 10px;
      overflow: scroll;
      padding: 0 10px;
    }

    .list-item {
      cursor: pointer;
      padding: 0 5px;

      &:hover {
        background-color: #ccc;
      }

      &.active {
        background-color: #53aee0;
        color: white;
      }
    }

    .keg {
      background-color: #f1f5f7;
      border-radius: 5px;
      font-family: monospace;
      padding: 10px;
      white-space: pre-wrap;
      word-break: break-all;
    }

    .keg-view {
      flex-shrink: 1;
    }
  }
}
