// file "table" shared by Files and FilePicker
.file-table-wrapper {
  @extend %flex-col;
  @extend %flex-grow-1;
  @extend %flex-shrink-0;
  position: relative;
  height: calc(100vh - 144px);
  width: 100%;
  padding-bottom: $padding-default;
  overflow-x: hidden;
  overflow-y: auto;
  background: $white;
  border-spacing: 0;

  .row {
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid $divider-dark;

    &:last-of-type {
      border-bottom: 0;
    }

    // "Disabled" styles for when folder share in progress
    &.disabled {
      color: $text-dark-hint;
    }
  }

  // Common class for FileLine/Folderline checkbox & checkbox placeholder
  // needed to maintain the table-style layout while using flex containers
  .file-checkbox {
    justify-content: flex-end;
    width: 32px;
    min-width: 32px;
    margin-right: 16px;
  }

  // Finicky show/hide rules for checkboxes

  .hide-checkboxes .file-checkbox {
    visibility: hidden;
  }

  .row:hover .file-checkbox,
  .row.selected-row .file-checkbox,
  .file-checkbox.folder-share-progress {
    visibility: visible;
  }

  .file-icon {
    cursor: pointer;
    min-width: 48px;
    padding-right: $padding-small;

    .material-icons {
      display: block;
      font-size: 32px;
    }
  }

  .file-name {
    width: 100%;
    overflow: hidden;
    font-weight: $font-weight-semibold;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 150ms;
  }

  .file-owner {
    min-width: 20%;
    margin-left: auto;
  }

  .file-uploaded {
    min-width: 120px;
  }

  .file-size {
    min-width: 120px;
  }

  .file-actions {
    width: 24px;
    min-width: 24px;

    .item-actions {
      width: 24px;
      min-width: 24px;
      text-align: center;
    }
  }

  .file-table-header {
    height: 56px;
    min-height: 56px;
    background-color: $black-03;

    > div {
      padding-right: 24px;
      font-size: 12px;
      font-weight: $font-weight-semibold;
      text-align: left;
      color: $text-dark-secondary;
    }

    .file-checkbox {
      visibility: visible;
    }
  }

  .file-table-body {
    .row {
      position: relative;
      height: 48px;

      &.selected-row {
        background: rgba($blue, .12);
      }

      &.share-in-progress,
      &:hover {
        background: rgba($blue, .12);
      }

      &.new-file {
        background-color: rgba($green-affirmative, .12);
      }

      > div {
        padding-right: 24px;
      }

      .folder-share-progress {
        text-align: right;
        color: $text-dark-secondary;

        .p-progress-bar {
          position: absolute;
          left: 0;
          top: 100%;
          margin-top: -2px;
        }
      }

      .loading {
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-top: -4px;
        line-height: 0;
      }
    }

    label {
      display: inline-block;
      width: 18px;
      max-width: 18px;
      margin-bottom: 0;
    }
  }
}

@import './Files';
@import './ShareFiles';
@import './components/Breadcrumb';
@import './components/FileActions';
@import './components/FileLoading';
@import './components/FilePicker';
@import './components/MoveFileDialog';
@import './components/ZeroScreen';
