// file "table" shared by Files and FilePicker
.file-table-wrapper {
  @extend %flex-col;
  @extend %flex-grow-1;
  @extend %flex-shrink-0;
  position: relative;
  height: calc(100vh - 144px);
  width: 100%;
  padding-bottom: $padding-default;
  overflow-x: hidden;
  overflow-y: auto;
  background: $white;
  border-spacing: 0;

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $divider-dark;
  }

  .loading-icon {
    min-width: 48px;
    padding-left: $padding-large;
  }

  // Common class for FileLine/Folderline checkbox & checkbox placeholder
  // needed to maintain the table-style layout while using flex containers
  .file-checkbox {
    width: 24px;
    min-width: 24px;
    padding: 0;
    margin-left: auto;
    margin-right: $margin-default;
  }

  .file-icon {
    cursor: pointer;
    min-width: 48px;
    padding-right: $padding-small;

    .material-icons {
      display: block;
      font-size: 32px;
    }
  }

  .file-name {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    font-weight: $font-weight-semibold;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 150ms;

    &:hover {
      color: $peerio-blue;
    }
  }

  .file-owner {
    cursor: pointer;
    min-width: 20%;
    margin-left: auto;

    &:hover {
      color: $peerio-blue;
    }
  }

  .file-uploaded {
    min-width: 120px;
  }

  .file-size {
    min-width: 120px;
  }

  .file-actions {
    min-width: 48px;
    margin-right: $margin-large;

    .item-actions {
      min-width: 48px;
      text-align: center;
    }
  }

  .file-table-header {
    height: 56px;
    min-height: 56px;

    > div {
      padding-right: $padding-large;
      font-size: 12px;
      font-weight: $font-weight-semibold;
      text-align: left;
      color: $text-dark-inactive;
    }
  }

  .file-table-body {
    background-color: $background-hover-default;

    .row {
      position: relative;
      height: 48px;

      &.selected-row {
        background: $background-selected;
      }

      &:hover {
        background: $background-selected;

        .material-icons {
          color: $color-affirmative;
        }

        .file-icon .material-icons {
          color: $icon-dark-active;
        }
      }

      &.new-file {
        background-color: rgba($color-confirmation, .12);
      }

      > div {
        padding-right: $padding-large;
      }

      .loading {
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-top: -4px;
        line-height: 0;
      }
    }

    label {
      display: inline-block;
      width: 18px;
      max-width: 18px;
      margin-bottom: 0;
    }
  }
}

@import './Files';
@import './ShareFiles';
@import './components/Breadcrumb';
@import './components/FileActions';
@import './components/FileLoading';
@import './components/FilePicker';
@import './components/MoveFileDialog';
@import './components/ZeroScreen';
