.files {
  @extend %flex-col;
  @extend %flex-align-center;
  height: 100vh;
  width: 100vw;
  min-width: 0;
  padding: 0 24px;
  background: $background-root;

  .search-results-header {
    @extend %title;
    margin-left: $margin-xl;
    color: $text-dark-secondary;
  }

  .search {
    height: 50px;
    width: 100%;
    margin-top: $margin-large;
    border-radius: 24px;

    input {
      font-size: 12px;
    }

    .search-icon {
      padding-left: $padding-default;
      margin-right: $margin-small;
    }
  }

  .file-wrapper {
    width: 100%;
    box-sizing: border-box;

    .files-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      width: 100%;

      .breadcrumb {
        margin-left: $margin-xl;
      }

      button {
        margin-left: $margin-small;

        &.new-folder {
          margin-left: auto;
        }
      }
    }
  }

  .file-table-wrapper {
    @extend %flex-col;
    @extend %flex-grow-1;
    @extend %flex-shrink-0;
    height: calc(100vh - 144px);
    padding-bottom: $padding-default;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    width: 100%;
    background: $white;
    border-spacing: 0;

    .row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $divider-dark;
    }

    .loading-icon {
      width: 48px;
      padding-left: $padding-large;
    }

    .file-icon {
      width: 48px;
      padding-right: $padding-small;

      .material-icons {
        font-size: 32px;
      }
    }

    .file-owner {
      min-width: 20%;
      margin-left: auto;
    }

    .file-uploaded {
      min-width: 120px;
    }

    .file-size {
      min-width: 120px;
    }

    .file-actions {
      min-width: 48px;
      margin-right: $margin-large;

      .item-actions {
        min-width: 48px;
        text-align: center;

        .reverse-icon .material-icons {
          @extend %reverse-icon;
        }
      }
    }

    .file-table-header {
      height: 56px;
      min-height: 56px;

      > div {
        padding-right: $padding-large;
        font-size: 12px;
        font-weight: $font-weight-semibold;
        text-align: left;
        color: $text-dark-secondary;
      }
    }

    .file-table-body {
      .row {
        position: relative;
        height: 48px;

        &.selected-row {
          background: rgba($blue, .12);
        }

        &:hover {
          background: rgba($blue, .12);

          .rt-menu-iconMenu {
            background: rgba($blue, .38);
            border-radius: 4px;
          }
        }

        &.new-file {
          background-color: rgba($green-affirmative, .12);
        }

        > div {
          padding-right: $padding-large;
        }
      }

      .loading {
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0;
        margin: 0;
        margin-top: -4px;
        line-height: 0;
      }

      label {
        display: inline-block;
        width: 18px;
        max-width: 18px;
        margin-bottom: 0;

        &:not(.rt-checkbox-disabled) .rt-checkbox-check:not(.rt-checkbox-checked) {
          background: $white;
          border-color: $icon-dark-active;

          &.rt-checkbox-checked {
            border-color: transparent;
          }
        }
      }
    }
  }

  .waiting-3rd-party {
    background-color: $black-03;
  }
}

.add-folder-popup {
  .rt-input-input input {
    padding: 0 $padding-default;
  }
}
