.files {
  @extend %flex-col;
  @extend %flex-align-center;
  background: $background-root;
  height: 100vh;
  padding: 0 24px;
  width: 100vw;

  // 36px added to ensure that the file actions button never over flows.
  @media (max-width: #{$minimum-screen-width + 36}) {
    padding: 0;

    // hides size column at minimum-screen-width
    .text-right + .text-right {
      display: none;
    }
  }

  .search {
    border-radius: 24px;
    height: 50px;
    margin-top: $margin-large;
    width: 100%;

    input {
      font-size: 12px;
    }

    .search-icon {
      margin-right: $margin-small;
      padding-left: $padding-default;
    }
  }

  .file-wrapper {
    box-sizing: border-box;
    width: 100%;

    .files-header {
      align-items: center;
      display: flex;
      height: 80px;
      justify-content: space-between;
      width: 100%;

      .breadcrumb {
        margin-right: auto;
      }

      button {
        margin-left: $margin-small;
      }
    }

    .file-table-wrapper {
      @extend %flex-col;
      @extend %flex-grow-1;
      @extend %flex-shrink-0;
      height: calc(100vh - 144px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: $padding-default;
    }

    .item-actions {
      padding-right: 0 !important;
      text-align: center;
      width: 48px;

      .reverse-icon .material-icons {
        @extend %reverse-icon;
      }
    }

    table {
      background: $white;
      border-spacing: 0;
      position: relative;
      width: 100%;

      thead th {
        color: $text-dark-secondary;
        font-size: 12px;
        font-weight: $font-weight-semibold;
        text-align: left;
      }

      th,
      td {
        border-bottom: 1px solid $divider-dark;
        padding-right: 24px;
        white-space: nowrap;

        &:first-of-type {
          padding: 0 24px;
          width: 18px;
        }
      }

      td.file-icon {
        padding-right: $padding-default;

        .material-icons {
          font-size: 32px;
        }
      }

      tbody tr {
        position: relative;

        &.selected-row {
          background: rgba($blue, .12);
        }

        &:hover {
          background: rgba($blue, .12);

          .rt-menu-iconMenu {
            background: rgba($blue, .38);
            border-radius: 4px;
          }
        }

        &.new-file {
          background-color: rgba($green-affirmative, .12);
        }

        &:last-of-type td {
          border: 0;
        }
      }

      label {
        display: inline-block;
        margin-bottom: 0;
        max-width: 18px;
        width: 18px;

        &:not(.rt-checkbox-disabled) .rt-checkbox-check:not(.rt-checkbox-checked) {
          background: $white;
          border-color: $icon-dark-active;

          &.rt-checkbox-checked {
            border-color: transparent;
          }
        }
      }

      th {
        height: 56px;
      }

      td {
        height: 48px;
      }
    }
  }

  .waiting-3rd-party {
    background-color: $black-03;
  }
}

.add-folder-popup {
  .rt-input-input input {
    padding: 0 $padding-default;
  }
}
