.files {
  @extend %flex-col;
  @extend %flex-align-center;
  height: 100vh;
  width: 100%;
  min-width: 0;
  background: $background-root;

  .files-header-container {
    width: 100%;
    padding: $padding-large $padding-large 0;
  }

  .files-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

    .breadcrumb {
      margin-left: $margin-large;
    }

    .buttons-container {
      display: flex;

      &.bulk-buttons .p-button {
        padding: 0 $padding-small;
        margin: 0;
      }
    }

    button {
      margin-left: $margin-small;

      &.new-folder {
        margin-left: auto;
      }
    }
  }

  .search-results-header {
    @extend %title;
    margin-left: $margin-xl;
    color: $text-dark-inactive;
  }

  .search {
    height: 48px;
    width: 100%;
    border-radius: 24px;

    .search-icon {
      padding-left: $padding-default;
      margin-right: $margin-small;
    }
  }

  .file-wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  .waiting-3rd-party {
    background-color: $black-03;
  }

  .removed-folder-notif {
    display: flex;
    align-items: center;

    max-height: 48px;
    min-height: 48px;

    padding: 0 24px 0 48px;
    margin-top: -1px;
    overflow: hidden;

    transition: max-height 250ms, min-height 250ms, border-top 250ms;
    background-color: rgba(4, 11, 65, .15);
    border-top: 4px solid $color-confirmation;

    .p-button {
      width: 24px;
      margin-left: auto;
    }

    &.hide-in-progress {
      max-height: 0;
      min-height: 0;
      border-top: 0;
    }
  }

  .file-ui-subheader {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
    min-height: 48px;
    padding: 0 24px 0 48px;
    color: $text-dark-secondary;

    .file-share-info {
      font-weight: $font-weight-semibold;
    }

    .p-progress-bar {
      position: absolute;
      left: 0;
      top: 100%;
      padding: 0;
      margin-top: -2px;
    }

    &.volume-in-progress {
      background-color: $background-hover-accent;
    }

    &.converting-to-volume {
      background-color: rgba($color-error, .05);
    }
  }

  .file-bottom-filler {
    display: flex;
    flex-grow: 1;
    background-color: $file-bottom-filler;
  }
}

.add-folder-popup {
  .p-input input {
    padding: 0 $padding-default;
  }
}
