.banner {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  padding: $padding-large 32px $padding-large $padding-default;
  color: $white;
  box-shadow: 0 4px 4px $black-12;
  background-color: $peerio-purple;

  &.error {
    background-color: $color-error;
  }

  .single-line {
    width: 100%;
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $white;

    a {
      color: $white;
    }
  }

  .content {
    display: flex;
    align-items: center;

    .icon-container {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      background-color: $white-12;
      border: 4px solid $white-12;
      border-radius: 100%;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: $font-weight-bold;
        background-color: transparent;
        border: 6px solid;
        border-radius: 100%;
      }
    }

    .text-content {
      display: flex;
      flex-direction: column;
      padding-bottom: 2px;
      margin-left: $margin-default;
      line-height: 1.5em;

      .header-text {
        font-size: 20px;
        font-weight: $font-weight-semibold;
      }
    }
  }

  .buttons {
    margin-left: auto;

    .p-button {
      margin-left: $margin-small;
      color: $white;

      &:last-child {
        border: 1px solid;
      }
    }
  }
}
