.file-sprite-icon {
  background-image: url(./static/sprites/ic-files.png);
  background-repeat: no-repeat;
  background-size: 960px auto; /* width = half of bg img */
  display: block;

  &.ic-48dp {
    height: 48px;
    width: 48px;
  }

  &.ic-32dp {
    height: 32px;
    width: 32px;
  }

  &.ic-file-img-large {
    background-position: 0 0;
  }

  &.ic-file-audio-large {
    background-position: -48px 0;
  }

  &.ic-file-video-large {
    background-position: -96px 0;
  }

  &.ic-file-other-large {
    background-position: -144px 0;
  }

  &.ic-file-txt-large {
    background-position: -192px 0;
  }

  &.ic-file-zip-large {
    background-position: -240px 0;
  }

  &.ic-file-pdf-large {
    background-position: -288px 0;
  }

  &.ic-file-ai-large {
    background-position: -336px 0;
  }

  &.ic-file-psd-large {
    background-position: -384px 0;
  }

  &.ic-file-word-large {
    background-position: -432px 0;
  }

  &.ic-file-xls-large {
    background-position: -480px 0;
  }

  &.ic-file-ppt-large {
    background-position: -528px 0;
  }

  &.ic-file-img-medium {
    background-position: -576px 0;
  }

  &.ic-file-audio-medium {
    background-position: -608px 0;
  }

  &.ic-file-video-medium {
    background-position: -640px 0;
  }

  &.ic-file-other-medium {
    background-position: -672px 0;
  }

  &.ic-file-txt-medium {
    background-position: -704px 0;
  }

  &.ic-file-zip-medium {
    background-position: -736px 0;
  }

  &.ic-file-pdf-medium {
    background-position: -768px 0;
  }

  &.ic-file-ai-medium {
    background-position: -800px 0;
  }

  &.ic-file-psd-medium {
    background-position: -832px 0;
  }

  &.ic-file-word-medium {
    background-position: -864px 0;
  }

  &.ic-file-xls-medium {
    background-position: -896px 0;
  }

  &.ic-file-ppt-medium {
    background-position: -928px 0;
  }
}
