.maintenance-wrapper {
  @extend %flex-row;
  @extend %flex-align-center;
  cursor: pointer;
  height: 48px;
  padding: $padding-default;
  margin-top: -12px;
  transition: 250ms $transition-easing-ease-in;

  .maintenance-title {
    padding-top: $padding-tiny;
    margin-top: -$margin-tiny;
    font-size: 16px;
    font-weight: $font-weight-semibold;
    color: $color-error;
  }

  .maintenance-icon {
    height: 24px;
    width: 24px;
    margin-left: auto;
    color: $color-error;
  }
}

.dialog-maintenance {
  border-radius: 8px;
  border-top: 12px solid $color-error;
}
