// Should adhere to specs found at https://material.google.com/components/snackbars-toasts.html#snackbars-toasts-usage
$snackbar-max-width: 568px;
$snackbar-min-width: 288px;

.snackbar-wrapper {
  @extend %flex-row;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  height: 48px;
  width: 100%;
  bottom: -50px;
  overflow: hidden;
  transition: 250ms $transition-easing-ease-in;

  &.show {
    bottom: 0;
  }
}

.snackbar-chat {
  position: absolute;
  bottom: 0;

  &.show {
    bottom: 100%;
  }
}

.snackbar {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 48px;
  max-width: $snackbar-max-width;
  min-width: $snackbar-min-width;
  top: 0;
  padding: 0 $padding-default 0 24px;
  color: $text-light-default;
  background: $snackbar-background;
  border-radius: 2px;

  .p-button:not([disabled]) {
    min-width: 64px;
    padding: 0 8px;
    margin-left: 40px;
    color: $peerio-blue;
  }
}
