.twofa-dialog {
  .totp-input {
    width: 130px;
    padding: 2px 3px;
    font-size: 22px;
    font-weight: 200;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }
}
