$userpicker-margin-large: 96px; // 96px
$userpicker-maxwidth: 720px;
$userlist-maxwidth: 624px; // $userpicker-maxwidth - $userpicker-margin-large

.user-picker {
  @extend %flex-row;
  background: $background-root;
  height: 100vh;
  width: 100%;

  .selected-items {
    @extend %flex-col;
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    background-color: $background-faintblue;
    width: 256px;

    ul {
      overflow-y: auto;
    }
  }

  .inputs-container {
    @extend %flex-row;

    width: 100%;

    .inputs-container-inner {
      @extend %flex-col;
      @extend %flex-grow-1;
    }
  }

  .user-list {
    max-width: $userlist-maxwidth;
    padding-right: $padding-default;
  }

  .rt-list-list {
    //max-height: 50vh;
    padding-bottom: 0;
    padding-top: 0;
  }

  .rt-list-subheader,
  .rt-list-listItem {
    border-radius: 4px;
    border-width: 0 !important; // I did this :( - Paul
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);

    &:not(.warning) {
      .rt-list-right .material-icons {
        cursor: pointer;
        display: none;
      }

      &:hover {
        .rt-list-right .material-icons {
          display: block;
        }
      }
    }

    &.warning {
      background-color: rgba($red-error, .25);

      .rt-list-right .material-icons {
        color: $red-error;
      }
    }
  }

  .rt-list-itemContentRoot {
    overflow: hidden;
  }

  .rt-list-itemText {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-list-container {
    overflow-y: auto;
  }

  .user-not-found-container {
    color: $text-dark-secondary;
    padding-left: $userpicker-margin-large;
  }

  .email-invite-container,
  .email-suggestsearch-container {
    @extend %flex-row;
    // @extend %flex-align-center;
    @extend %flex-justify-between;
    @extend %flex-shrink-0;
    max-width: $userlist-maxwidth;
    padding-right: 24px;
    padding-top: $padding-xl;
  }

  .usernotfound-text {
    @extend %flex-row;

    /* TODO change to flex */
    .material-icons {
      margin: 0 $margin-large;
      min-width: 24px;
      overflow: hidden;
    }
  }

  .chat-creation-header-container {
    border-bottom: 1px solid $divider-dark;
  }

  .chat-creation-header {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    max-width: $userpicker-maxwidth;
    padding: $padding-default;
    padding-left: $padding-xxl;

    .title {
      margin-right: auto;

      span {
        display: block;
      }
    }
  }

  .message-search-wrapper {
    max-width: $userpicker-maxwidth;
    padding: 0 $padding-default 0 $padding-xxl;

    .title-to {
      @extend %title;
      font-weight: $font-weight-regular;
      margin-right: $margin-large;
    }
  }
}
