.account-key {
  cursor: pointer;
  user-select: none;
  line-height: 1;
  font-family: monospace;
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.signup {
  .savekey-container {
    @extend %flex-col;
    @extend %flex-align-center;
    height: 100%;
    width: 375px;

    .account-key-wrapper {
      .inner {
        @extend %flex-row;
        @extend %flex-align-center;
      }
    }
  }

  .pdf-download {
    margin-top: auto;
    margin-bottom: auto;
    transition: 150ms;
    color: $text-light-default !important;
    box-shadow: none;
    background-color: $peerio-blue !important;
    border-radius: 4px;

    &:hover {
      box-shadow: $shadow-5;
    }

    .material-icons {
      color: $text-light-default;
    }
  }
}
