.signup {
  .avatar-input {
    @extend %flex-col;
    @extend %flex-shrink-0;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    position: relative;
    cursor: pointer;
    height: 128px;
    width: 128px;
    margin-top: -64px;
    overflow: hidden;
    transition: 150ms;

    color: $text-dark-hint;
    background: $background-root;
    border: 1px solid;
    border-radius: 128px;

    .material-icons {
      transition: 150ms;
      color: $text-dark-hint;
    }

    &:hover {
      border-color: $black;

      .material-icons {
        color: $peerio-blue;
      }
    }

    .caption {
      @extend %hint-error-label;
    }

    img {
      position: absolute;
      height: 128px;
      width: 128px;
    }
  }

  .avatar-instructions {
    text-align: center;

    > p {
      margin: 0;
    }
  }
}
