.create-account {
  // Left side (user inputs)
  .progress-indicator {
    display: flex;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    top: 0;
    padding: 2px 1px 0;

    .progress-line {
      flex-grow: 1;
      height: 4px;
      margin: 0 1px;
      background-color: $background-neutral;
      border-radius: 2px;

      &.active {
        background-color: $peerio-blue;
      }
    }
  }

  .heading {
    position: relative;

    .p-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 32px;
      width: 32px;
      right: 100%;
      top: 0;
      margin-right: $margin-default;
      margin-top: $margin-small;
      color: $darkblue;
      border: 2px solid;
      border-radius: 100%;
    }
  }

  .validated-input {
    margin-bottom: $margin-default;
  }

  .username-suggestions {
    .guide-text {
      margin-right: $margin-default;
      font-size: 14px;
    }

    .username {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      padding: 0 $padding-small;
      margin-right: $margin-tiny;
      margin-bottom: $margin-tiny;
      color: $peerio-purple;
      border: 1px solid;
      border-radius: 12px;
    }
  }

  .buttons-container {
    max-width: $max-signup-input-width;
  }

  .back-to-login {
    margin-top: auto;
    margin-bottom: $margin-xl;
    text-align: center;
  }

  // Specific spacing for email selection mock UI
  &.step-2 .mock-app-ui {
    .mock-search-bar {
      margin: $margin-xl 0 $margin-large $margin-default;
    }

    .mock-chat-entry {
      margin-left: 80px;
    }

    .highlight-entry-container {
      position: relative;

      .material-icons {
        position: absolute;
        right: $margin-default;
        top: 50%;
        margin-top: -12px;
      }
    }

    // stylelint-disable-next-line
    @media all and (max-width: $break-width-default),
      all and (max-height: $break-height-default) {
      .mock-search-bar {
        margin-top: $margin-default;
      }
    }
  }
}
