.savenow {
  @extend %flex-col;

  .title-container {
    @extend %flex-col;
    @extend %flex-justify-center;
    width: 275px;
    white-space: nowrap;
  }

  .account-key-save {
    margin-top: 32px;
  }

  .account-key-backup {
    display: inline-flex;
    flex: 0 1;
    height: 0;
    width: 0;
  }
}
