.signup-step-header {
  @extend %flex-col;
  @extend %flex-align-center;
  @extend %flex-justify-center;
  width: 368px;
  margin-top: 64px;

  @media (max-height: $minimum-screen-height) {
    margin-top: 32px;
  }
}

.signup-step-title {
  @extend %headline;
  font-weight: $font-weight-bold;
  color: $text-light-default;
}

.signup-step-indicator {
  @extend %flex-row;
  @extend %flex-align-center;
  @extend %flex-justify-between;
  @extend %flex-shrink-0;
  width: 100%;
  margin-top: $margin-default;
}

.signup-step-divider {
  height: 1px;
  width: 100%;
  margin: 0 8px;
  background: #fff;
}

.signup-step {
  @extend %flex-shrink-0;
  display: block;
  height: 16px;
  width: 16px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 16px;
}

.current-step {
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 10px;
}
