.signup {
  @extend %flex-col;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: 350ms opacity $transition-easing-default;
  opacity: 0;

  .signup-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 260px);
    margin: 48px auto;
  }

  .signup-content,
  .signup-welcome {
    @extend %flex-col;
    @extend %flex-align-center;
    height: 100%;
    background: $background-root;
    border-radius: 4px;

    p {
      font-size: 16px;
    }
  }

  .signup-content {
    margin-top: 64px;
  }

  .signup-welcome {
    @extend %flex-justify-around;
    text-align: center;
  }

  .terms-smallprint {
    font-size: 12px;
  }

  .back-to-login {
    @extend %subtitle;
    display: flex;
    align-items: baseline;
    margin-top: $margin-tiny;
    font-weight: $font-weight-semibold;
    color: $text-light-default;
  }

  .private,
  .safe,
  .fast {
    @extend %flex-col;
    @extend %flex-align-center;
    width: 208px;
    min-height: 160px;
    padding-top: 172px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 160px;

    @media (max-width: 1023px) {
      width: 168px;
      background-size: 140px;

      p {
        font-size: 14px;
      }
    }
  }

  .private {
    background-image: url('./static/img/welcome-private.png');
  }

  .safe {
    margin: 0 48px;
    background-image: url('./static/img/welcome-safe.png');

    @media (max-width: 1023px) { margin: 0 16px; }
  }

  .fast {
    background-image: url('./static/img/welcome-fast.png');
  }

  .help,
  .terms {
    .button-link {
      height: 20px;
      line-height: 20px;
    }
  }

  a {
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.show {
    opacity: 1;
  }

  .signup-form {
    justify-content: flex-start;
  }

  .signup-subtitle {
    @extend %headline;
    margin-top: $margin-tiny;
  }

  .signup-nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 330px;
    padding: 6px 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .p-input {
    margin-top: $margin-xl;

    input {
      transition: border-color 250ms;
      background-color: transparent;
    }

    &.has-error {
      input {
        border-color: $color-error;
      }

      .error {
        border: 0;
      }
    }
  }

  @media all and (max-height: 768px) {
    .signup-content {
      margin-top: 48px;
    }

    .p-input {
      margin-top: 28px;
    }
  }
}
