.signup {
  @extend %flex-col;
  @extend %background-pattern;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: 350ms opcaity $transition-easing-default;
  opacity: 0;

  .signup-content,
  .signup-welcome {
    @extend %flex-col;
    @extend %flex-align-center;
    height: 100%;
    width: calc(100% - 260px);
    margin: 48px auto;
    background: #eaf8f9; //TODO: create var - Paul
    border-radius: 4px;

    p {
      font-size: 16px;
    }
  }

  .signup-content {
    margin-top: 112px;
  }

  .signup-welcome {
    @extend %flex-justify-around;

    height: 100%;
    margin: 48px auto;
    text-align: center;
  }

  .terms-smallprint {
    font-size: 12px;
  }

  .private,
  .safe,
  .fast {
    @extend %flex-col;
    @extend %flex-align-center;
    width: 208px;
    min-height: 160px;
    padding-top: 172px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 160px;

    @media (max-width: 1023px) {
      width: 168px;
      background-size: 140px;

      p {
        font-size: 14px;
      }
    }
  }

  .private {
    background-image: url('./static/img/welcome-private.png');
  }

  .safe {
    margin: 0 48px;
    background-image: url('./static/img/welcome-safe.png');

    @media (max-width: 1023px) { margin: 0 16px; }
  }

  .fast {
    background-image: url('./static/img/welcome-fast.png');
  }

  .help,
  .terms {
    .button-link {
      height: 20px;
      line-height: 20px;
    }
  }

  a {
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }

  &.show {
    opacity: 1;
  }

  .signup-form {
    justify-content: flex-start;
  }

  .signup-subtitle {
    @extend %headline;
    margin-top: $margin-tiny;
  }

  .signup-nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 330px;
    padding: 6px 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .p-input {
    margin-top: $margin-xl;

    input {
      transition: border-color 250ms;
      background-color: transparent;
    }

    &.has-error {
      input {
        border-color: $red-error;
      }

      .error {
        color: $red-error;
        border: 0;
      }
    }
  }

  @media (max-height: $minimum-screen-height) {
    img {
      margin: $margin-small 0 $margin-default;
    }
  }
}
