$color-base-bg: #3997cb;

// Primary brand color
$color-primary: rgba(44, 149, 207,1);

// used on dark background
// inputs and text
$light-100: rgba(255,255,255,1);
$light-70: rgba(255,255,255,.7);
$light-50: rgba(255,255,255,.5);
$light-12: rgba(255,255,255,.12);

// used on light backgrounds
// mostly for text colors
// dark-06 is used to create a light gray background color
// see: file list page and highlighted in app inputs.
$dark-87: rgba(0,0,0,.87);
$dark-54: rgba(0,0,0,.54);
$dark-38: rgba(0,0,0,.38);
$dark-12: rgba(0,0,0,.12);
$dark-06: rgba(0,0,0,.06);
