@import './colors';

.login {
  background-color: $color-base-bg;
  color: #f0f7fa;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 374px;
}

.login-logo {
  align-self: center;
  margin: 34px 0 70px;
  width: 300px;
}

.login-input {
  align-self: center;
  width: 276px;
}

.login-button {
  align-self: center;
  margin: 45px 0;
  width: 276px;
}

.login-reg-button {
  font-size: 85%;
  font-weight: 600;
  text-align: center;

  > a {
    color: white;
    cursor: pointer;

    &:hover {
      color: #e0e0ff;
    }
  }
}
//----------------------------------------------------------------------------------------------------------------------
.welcome {
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
}

.welcome-text {
  align-self: flex-start;
  padding: 20px;
}

.welcome-title {
  color: #4a8fb5;
  font-size: 170%;
  margin-bottom: 50px;
}

.ice-gif {
  align-self: flex-end;
  border-top-left-radius: 140px;
  max-height: 200px;
  max-width: 330px;
}

