@import './vars/colors';
@import './vars/fonts';
@import './vars/layout';

.login {
  background-color: $color-background-brand;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 375px;
  align-items: center;
  color: $text-light-secondary;

  .login-form {
    width: 275px;
  }
}

.login-logo {
  margin: 34px 0 70px;
  width: 300px;
}

.login-input {
  align-self: center;
  width: 275px;
  height: 48px;
  // TODO border-radius variables
  border-radius: 2px;
  background-color: $input-light-inactive;
  margin-top: 40px;

  // TODO set up states for focused and contains value
  .rt-input-label {
    padding-left: 8px;
    font-size: 14px;
    top: 17px;
  }

}

.login-button {
  align-self: center;
  margin: 45px 0;
}

.login-reg-button {
  font-size: 85%;
  font-weight: 600;
  text-align: center;

  > a {
    color: $text-light-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
//----------------------------------------------------------------------------------------------------------------------
.welcome {
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
}

.welcome-text {
  align-self: flex-start;
  padding: 20px;
}

.welcome-title {
  color: #4a8fb5;
  font-size: 170%;
  margin-bottom: 50px;
}

.ice-gif {
  align-self: flex-end;
  border-top-left-radius: 140px;
  max-height: 200px;
  max-width: 330px;
}
