@import './vars/colors';
@import './vars/fonts';
@import './vars/layout';

.login {
  align-items: center;
  background-color: $color-background-brand;
  color: $text-light-secondary;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 375px;

  .login-form {
    width: 275px;
  }
}

.login-logo {
  margin: 64px 0 74px;
  width: 300px;
}

.login-input {
  align-self: center;
  background-color: $input-light-inactive;
  // TODO border-radius variables
  border-radius: 2px;
  height: 48px;
  margin-top: 40px;
  width: 275px;

  // TODO set up states for focused and contains value
  .rt-input-label {
    font-size: 14px;
    padding-left: 8px;
    top: 17px;
  }
}

.login-button {
  align-self: center;
  margin: 48px 0;
}

.login-reg-button {
  color: $text-light-secondary;
  font-weight: 600;
  text-align: center;

  > a:hover {
    color: $text-light-primary;
    text-decoration: underline;
  }
}
//----------------------------------------------------------------------------------------------------------------------
.welcome {
  flex: 1 1 auto;
}

.welcome-text {
  padding: 24px;
}

.welcome-title {
  color: $color-brand;

  margin-bottom: 50px;

  @extend %title;
}

.ice-gif {
  align-self: flex-end;
  border-top-left-radius: 140px;
  max-height: 200px;
  max-width: 330px;
}
