// Libraries
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/croppie/croppie.css';
@import './static/emoji/sprites/emojione.css';

// Brand/identity
@import './vars/_branding';
@import './whitelabel'; // variable overrides for whitelabel releases

// Variables
@import './vars/_colors';
@import './vars/_grid';
@import './vars/_layout';
@import './vars/_shadows';
@import './vars/transitions';
@import './vars/_typography';

// React Toolbox base themes
@import './rt-base-theme';
@import './rt-light-theme';

// React Toolbox reused overrides
@import './rt-overrides';

// PeerUI components
@import '../ui-library/_all';

// Components that get reused between views
@import './components/grid';
@import './components/chip-wrapper';
@import './components/chat-item-add';
@import './components/notifications';
@import './components/list';

// Meta views
@import '../ui/AppNav';
@import '../ui/AppNavButton';
@import '../ui/AutoUpdateDialog';
@import '../ui/Loading';
@import '../ui/Onboarding';
@import '../ui/Root';

// View-specific styles;
@import '../ui/shared-components/_all';
@import '../ui/contact/_all';
@import '../ui/chat/_all';
@import '../ui/emoji/_all';
@import '../ui/files/_all';
@import '../ui/login/_all';
@import '../ui/mail/_all';
@import '../ui/settings/_all';
@import '../ui/signup/_all';

// General styles and overrides
@import './misc';
@import './typography';

html {
  box-sizing: border-box;
  overflow: hidden;
  font-family: $font-stack;
  font-size: 10px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-stack;
}

a {
  color: $blue;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: $gradient-to-right;
}

body,
#root,
.app-root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: 14px/1.45 $font-stack;
  color: $text-dark-primary;
}

.app-root {
  @extend %flex-row;
}

textarea,
section {
  outline: 0;
}

.global-update-progress {
  .rt-progress_bar-linear {
    position: fixed;
    height: 2px;
  }
}

.avatar-wrapper {
  position: relative;

  & + & {
    margin-left: -8px;
  }

  &.avatar-inline {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .material-icons {
    position: absolute;
    height: 24px;
    width: 24px;
    right: -8px;
    top: 0;
    color: $red-error;
    background-color: $background-root;
    border-radius: 12px;
  }

  .large {
    height: 64px;
    width: 64px;
    background-size: contain;

    + .material-icons {
      height: 32px;
      width: 32px;
      font-size: 32px;
      border-radius: 32px;
    }
  }

  .medium {
    height: 40px;
    width: 40px;
    background-size: contain;
  }

  .small {
    height: 32px;
    width: 32px;
    background-size: contain;

    + .material-icons {
      height: 20px;
      width: 20px;
      font-size: 20px;
    }
  }

  .tiny {
    height: 20px;
    width: 20px;
    font-size: 95%;
    background-size: contain;
  }
}

.platform-linux {
  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    background: $white-50;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
