@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import './static/fonts/OpenSans/opensans.css';
@import './rt-base-theme'; // Imports variables. Always first, after lib imports.
@import './rt-light-theme';
@import './components/grid';
@import './components/app-nav';
@import './components/full-screen-progress';
@import './components/search';
@import './components/notifications';
@import './views/login';
@import './views/signup';
@import './views/messages';
@import './views/new-message';
@import './misc';
@import './typography';

html {
  font-family: $font-stack;
  //box-sizing: border-box;
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-stack;
}

a {
  color: inherit;
}

//*,
//*:before,
//*:after {
//  box-sizing: inherit;
//}

body,
#root,
.app-root {
  background-color: $background-root;
  color: $text-dark-primary;
  font: 14px/1.45 $font-stack;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
