@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import './static/fonts/OpenSans/opensans.css';
@import './rt-light-theme';
@import './login';
@import './signup';
@import './messages';
@import './misc';

html {
  font-family: $font-stack;
  //box-sizing: border-box;
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-stack;
}

a {
  color: inherit;
}

//*,
//*:before,
//*:after {
//  box-sizing: inherit;
//}

body,
#root {
  background-color: $color-background-root;
  color: $text-dark-primary;
  display: flex;
  flex-direction: column;
  font: 14px/1.35 $font-stack;
  // font-weight: 300;
  height: 100vh;

  //  margin: 0;
  overflow: hidden;

  //  padding: 0;
}

[data-react-toolbox="layout"] {
  height: 100vh;
}

.app-nav {
  width: 80px;
  height: 100vh;
  background-color: $color-background-brand;
  display: flex;
  flex-direction: column;
  align-items: center;


  .app-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .rt-avatar-avatar{
    margin: 24px 0 0;
  }

  .menu-item {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;

    // TODO transition variables
    i {
      transition: color 150ms;
      color: $icon-light-inactive;
    }

    &:not(.settings) {
      margin-top: 32px;
    }

    &.active, &:hover {
      i {
        color: $icon-light-active;
      }
    }

    &.settings {
      margin-top: auto;
      margin-bottom: 24px;
    }
  }
}
