.messages {
  display: flex;
  flex-direction: row;
}

.message-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .message-toolbar {
      flex: 0 0 64px;
      border-bottom: 1px solid $divider-dark;
      display: flex;
      align-items: center;
      padding: 0 8px 0 24px;

      .title {
        @extend %title;
        margin-right: auto;
      }

      // TODO extract this for more general use.
      .search {
        width: 256px;
        height: 36px;
        border: 1px solid $input-dark-border;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .search-icon {
          padding: 6px 0 6px 8px;
        }

      }
    }

    .message {
      padding: 24px;
      flex: 1 1 100vh;
      overflow: auto;
      display: flex;
      align-items: flex-start;

      .message-content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        .meta-data{
          display: flex;

          .user {
            font-weight: $font-weight-bold;
            margin: 0 8px 0 16px;
          }
        }

        p {
          margin-left: 16px;
        }
      }
    }

    .message-input {
      border-top: 1px solid $divider-dark;
      height: 64px;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      padding: 0 16px;
    }


}


.message-list {
  width: 224px;
  background-color: $color-background-message-list;
  height: 100vh;
  flex-shrink: 0;

  .active, .rt-list-listItem:hover {
    border-radius: 0 24px 24px 0;
    margin-right: 12px;
    font-weight: $font-weight-bold;

  }

  .active {
    background: $color-background-active-message;
  }
  .rt-list-listItem{
    cursor: pointer;

    &:hover {
      background: $color-background-hover-message;
    }
  }
}

.rt-input-input {
  width: 100%;
}

// Kind of a hackish way to add status indicators to list items.
.rt-list-item {
  &:before {
    content: '';
    border: 4px solid rgba(0,0,0,.12);
    border-radius: 4px;
    text-align: center;
    margin-right: 16px;
    display: block;

  }
}

.online .rt-list-item:before {
  border-color: $all-good;
}
