.messages {
  display: flex;
  flex-direction: row;
}

.message-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .message-toolbar {
    align-items: center;
    border-bottom: 1px solid $divider-dark;
    display: flex;
    flex: 0 0 64px;
    padding: 0 8px 0 24px;

    .title {
      margin-right: auto;

      @extend %title;
    }
    // TODO extract this for more general use.
    .search {
      align-items: center;
      border: 1px solid $input-dark-border;
      display: flex;
      height: 36px;
      justify-content: flex-start;
      width: 256px;
      border-radius: 18px;

      .search-icon {
        padding: 6px 0 6px 8px;
      }
    }
  }

  .message {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    padding: 24px;

    .message-content {
      display: flex;
      flex-direction: column;
      flex-grow: 0;

      .meta-data {
        display: flex;

        .user {
          font-weight: $font-weight-bold;
          margin: 0 $padding-small 0 $padding-default;
        }
      }

      p {
        margin-left: $margin-default;
      }
    }
  }

  .message-input {
    align-items: center;
    border-top: 1px solid $divider-dark;
    display: flex;
    //flex-grow: 1; FIXME: only grow when textarea grows.
    flex-shrink: 0;
    height: 64px;
    margin-top: auto;
    padding: 0 $padding-default;
  }
}

.message-list {
  background-color: $color-background-message-list;
  flex-shrink: 0;
  height: 100vh;
  width: 224px;

  .active,
  .rt-list-listItem:hover {
    border-radius: 0 24px 24px 0;
    margin-right: 12px;
  }

  .active {
    font-weight: $font-weight-bold;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover,
  .rt-list-item.selectable:not(.disabled):hover {
    background-color: transparent;
    border-radius: 0 24px 24px 0;
  }
  .active {
    background: $color-background-active-message;
  }

  .rt-list-item.rt-list-selectable:not(.rt-list-disabled):hover {
    background: $color-background-hover-message;
    padding-right: $padding-tiny;
  }

  .rt-ripple-rippleWrapper {
    border-radius: 0 24px 24px 0;
  }
  .rt-ripple-ripple {
    background-color: $color-brand;
  }
}

.rt-input-input {
  width: 100%;
}

// NEW HACK
.rt-list-left .rt-list-itemAction {
  margin: 0;

  .material-icons {
    font-size: 10px;
    width: 10px;
    margin-right: $margin-default;
  }
}

.online .rt-list-left .material-icons  {
  color: $all-good;
}
