.logo {
  margin: 64px 0 48px;
  width: 300px;
}

.shadow-2 {
  box-shadow: $shadow-2;
}

.reverse-icon {
  transform: rotateY(180deg);
}

.uppercase {
  text-transform: uppercase;
}

// HIDE STUFF

// doesn't affect layout.
.hide {
  opacity: 0;
}

// doesn't affect layout.
.banish {
  display: none;
}

.full-width{
  width:100%;
}
.bold{
  font-weight: 600;
}
.monospace{
  font-family: monospace;
}
// Don't select these items.

img,
.material-icons,
.rt-avatar-avatar {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

