.logo {
  margin: 64px 0 48px;
  width: 300px;
}

.shadow-2 {
  box-shadow: $shadow-2;
}

.reverse-icon {
  transform: rotateY(180deg);
}


// HIDE STUFF

// doesn't affect layout.
.hide {
  opacity: 0;
}

// doesn't affect layout.
.banish {
  display: none;
}
