//  Base overwrites
// TODO: removed all #colors
//       replace padding and margins with variables where applicable
// so that I don't have to write millions of font rules to overwrite RTs millions of font rules.
* {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
}

// INPUTS
.rt-input-bar {
  display: none;
}

.rt-input-input {
  height: 48px;
  width: 100%;
  padding: 0;

  &.immutable input {
    pointer-events: none;
    border-width: 0;
  }

  input {
    height: 48px;
    padding-top: 18px;
    margin-top: 0;
    transition: 150ms;
    // TODO border-radius variables
    border: 1px solid $black-38;
    border-radius: 2px;
  }

  textarea {
    padding-top: $padding-small;
    border: 1px solid $black-38;
    border-radius: 2px;
  }

  .rt-input-label {
    top: 17px;
    padding-left: $padding-small;
    font-size: 14px;
  }
}

.input-row {
  display: flex;

  .rt-input-input:first-of-type,
  div:first-of-type {
    margin-right: 1px;
  }

  .helper-text {
    @extend %hint-error-label;
  }
}

.rt-input-inputElement {
  @extend %input-text;
  padding: 0 $padding-small;
  margin-top: 2px;
  color: $text-dark-primary;
  background-color: transparent;
  border-bottom-color: transparent;
}

.rt-input-label,
.rt-input-inputElement:focus:not([disabled]):not([readonly]) ~ .rt-input-label:not(.rt-input-fixed) {
  color: $text-dark-hint;
}

// TODO: review password class in rt-light-theme.scss
.input-with-action {
  position: relative;
  margin-top: 40px;

  .rt-button-button {
    position: absolute;
    right: 6px;
    top: 6px;
    color: $icon-dark-active;

    .rt-button-icon {
      color: $icon-dark-active;
    }
  }

  .rt-input-inputElement {
    padding-right: 40px;
  }
}

.rt-input-errored > .rt-input-inputElement {
  margin-top: 2px;
  border: 1px solid $red-error;
}

// USER AGENT OVERWRITES
ul {
  margin: 0;
}
