//  Base overwrites
// TODO: removed all #colors
//       replace padding and margins with variables where applicable

@import './vars/_colors';
@import './vars/_grid';
@import './vars/_layout';
@import './vars/_shadows';
@import './vars/transitions';
@import './vars/_typography';

// AVATAR
.rt-avatar-avatar {
  flex-shrink: 0;
}

.rt-avatar-letter {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0); // so we can see letters on white background
  text-transform: capitalize;
  -webkit-user-select: none;
}

// BUTTONS and ICONS!
.rt-button-button {
  padding-top: 0;
}

.rt-button-button > .rt-button-icon,
.material-icons {
  color: $icon-dark-active;
  font-size: 24px;
}

.rt-button-neutral:not([disabled]).rt-button-flat,
.rt-button-neutral:not([disabled]).rt-button-toggle {
  flex-shrink: 0;
  font-weight: $font-weight-semibold;

  &:hover {
    background-color: $divider-light;
  }
}

.rt-dialog-button {
  min-width: 64px;

  .rt-dialog-navigation &:last-of-type {
    color: $color-brand;
  }
}

// INPUTS
.rt-input-bar {
  display: none;
}

.rt-input-input {
  // TODO border-radius variables
  border-radius: 2px;
  width: 100%;

  .rt-input-label {
    font-size: 14px;
    padding-left: $padding-small;
    top: 17px;
  }
}

.rt-input-inputElement {
  background-color: transparent;
  border-bottom-color: transparent;
  color: $text-dark-primary;
  margin-top: 2px;
  padding: 0 $padding-small;

  @extend %input-text;
}

.rt-input-label,
.rt-input-inputElement:focus:not([disabled]):not([readonly]) ~ .rt-input-label:not(.rt-input-fixed) {
  color: $text-dark-hint;
}

.rt-dropdown-value {
  align-items: center;
  display: flex;
  height: 48px;
  padding: 0;
}

.rt-dropdown-values {
  background-color: #53aee0;
  color: $text-light-primary;
}

.rt-dropdown-values > *:hover {
  background-color: #83c7ec;
}

.rt-dropdown-values > *.rt-dropdown-selected {
  color: inherit;
}

.rt-input-errored > .rt-input-inputElement {
  border: none;
  margin-top: 2px;
}

// OVERLAY
.rt-overlay-active > .rt-overlay-backdrop {
  opacity: .5;
}

// USER AGENT OVERWRITES
ul {
  margin: 0;
}
