.rt-light-theme {
  // INPUTS
  .rt-input-input {
    height: 48px;
    margin-top: 40px;
    padding: 0;
    background-color: $color-brand;

    input {
      background-color: $input-light-inactive;
      border-radius: 2px;
      box-shadow: $shadow-2;
      height: 48px;
      margin-top: 0;
      padding-top: 18px;
      transition: 150ms;

      &:hover {
        background: $color-light-100;
        box-shadow: $shadow-8;
      }

      &:focus {
        background: $color-light-100;
      }
    }
  }

  .rt-dropdown-dropdown {
    input {
      background: $background-light-dropdown;
      box-shadow: none;
      color: $text-light-primary;
      padding: 0 $padding-small;

      &:focus,
      &:hover {
        background: $background-light-dropdown;
        box-shadow: none;
      }
    }

    .rt-dropdown-value:after {
      border-top: 6px solid $icon-light-inactive;
      right: 12px;
      top: 21px;
    }
  }

  .rt-dropdown-values {
    background-color: #53aee0;
    padding: 0;

    li {
      color: $text-light-hint;
      padding: 0 $padding-small;
      height: 48px;
      line-height: 48px;

      &:hover {
        background-color: $background-light-dropdown;
        color: $text-light-primary;
      }
    }
  }

  .rt-dropdown-values > li.rt-dropdown-selected {
    color: $text-light-primary;
  }

  .rt-button-icon,
  .material-icons {
    color: $icon-light-active;
    font-size: 24px;
  }

  .rt-button-neutral:not([disabled]).rt-button-flat,
  .rt-button-neutral:not([disabled]).rt-button-toggle {
    color: $text-light-primary;

    &:hover {
      background-color: $background-light-button-hover;
    }
  }

  .rt-button-button[disabled] {
    color: $text-light-disabled;
  }

  .rt-input-errored input {
    border-bottom: 4px solid $border-error;
    padding-top: $padding-large;
  }

  .rt-input-error {
    color: $text-light-error;
    display: block;
    margin-top: 2px;
    white-space: nowrap;
  }

  strong {
    color: $text-light-primary;
  }

  .password {
    margin-top: 40px;
    position: relative;

    .rt-button-button {
      color: $icon-dark-active;
      position: absolute;
      right: 6px;
      top: 6px;

      .rt-button-icon {
        color: $icon-dark-active;
      }
    }

    .rt-input-inputElement {
      padding-right: 40px;
    }
  }
}
