.rt-light-theme {
  // INPUTS
  .rt-dropdown-value:after {
    border-top: 6px solid $icon-dark-inactive;
  }

  .rt-dropdown-values {
    background-color: #53aee0;
    color: $text-light-primary;
  }

  .rt-dropdown-values > *:hover {
    background-color: #83c7ec;
  }

  .rt-dropdown-values > *.rt-dropdown-selected {
    color: inherit;
  }

  .rt-button-icon,
  .material-icons {
    color: $icon-light-active;
    font-size: 24px;
  }

  .rt-button-neutral:not([disabled]).rt-button-flat,
  .rt-button-neutral:not([disabled]).rt-button-toggle {
    color: $text-light-primary;

    &:hover {
      background-color: $divider-light;
    }
  }

  .rt-input-errored {
    border-bottom: 2px solid $border-error;
  }
}
