.rt-light-theme {
  // INPUTS
  .rt-input-input {
    background-color: $input-light-inactive;
    box-shadow: $shadow-2;
    height: 48px;
    margin-top: 40px;
    transition: 150ms;
    will-change: box-shadow background-color;

    &:hover {
      background: $color-light-100;
      box-shadow: $shadow-8;
    }
  }

  .rt-dropdown-value {
    background: $background-light-dropdown;

    &:hover {
      background: $background-light-dropdown;
    }

    .rt-input-inputElement {
      color: $text-light-primary;
    }

    &:after {
      border-top: 6px solid $icon-light-active;
      right: 12px;
      top: 21px;
    }
  }

  .rt-dropdown-values {
    background-color: #53aee0;
    color: $text-light-primary;
  }

  .rt-dropdown-values > *:hover {
    background-color: #83c7ec;
  }

  .rt-dropdown-values > *.rt-dropdown-selected {
    color: inherit;
  }

  .rt-button-icon,
  .material-icons {
    color: $icon-light-active;
    font-size: 24px;
  }

  .rt-button-neutral:not([disabled]).rt-button-flat,
  .rt-button-neutral:not([disabled]).rt-button-toggle {
    color: $text-light-primary;

    &:hover {
      background-color: $divider-light;
    }
  }

  .rt-input-errored {
    border-bottom: 2px solid $border-error;
  }
}
