@import './vars/colors';
@import './vars/fonts';
@import './vars/layout';

// TODO create base overwrites
// TODO create dark theme

.rt-light-theme {
  .rt-input-inputElement {
    background-color: transparent;
    border-bottom-color: transparent;
    color: $text-dark-primary;
    margin-top: 2px;
    padding: 0 8px;

    @extend %input-text;
  }

  .rt-avatar-avatar {
    flex-shrink: 0;
  }

  .rt-input-label,
  .rt-input-inputElement:focus:not([disabled]):not([readonly]) ~ .rt-input-label:not(.rt-input-fixed) {
    color: $text-dark-hint;
  }

  .rt-input-bar::before,
  .rt-input-bar::after {
    background-color: transparent;
  }

  .rt-dropdown-value {
    align-items: center;
    display: flex;
    height: 48px;
    padding: 0;

    &:after {
      border-top: 6px solid $icon-dark-inactive;
    }
  }

  .rt-dropdown-values {
    background-color: #53aee0;
    color: $text-light-primary;
  }

  .rt-dropdown-values > *:hover {
    background-color: #83c7ec;
  }

  .rt-dropdown-values > *.rt-dropdown-selected {
    color: inherit;
  }

  .rt-button-icon,
  .material-icons {
    color: $icon-dark-active;
    font-size: 24px;
  }

  .rt-button-neutral:not([disabled]).rt-button-flat,
  .rt-button-neutral:not([disabled]).rt-button-toggle {
    color: $text-light-primary;
    flex-shrink: 0;
    font-weight: $font-weight-semibold;

    &:hover {
      background-color: $divider-light;
    }
  }

  .rt-input-errored {
    border-bottom: 2px solid $border-error;
  }
}
