// Green affirmative buttons
.button-affirmative.rt-button-button {
  transition: 250ms;
  border-radius: 24px;

  &:hover {
    .rt-rippleWrapper {
      border-radius: 0 24px 24px 0;
    }
  }

  > .rt-button-rippleWrapper {
    display: none;
  }
}

.button-affirmative.rt-button-button:not([disabled]) {
  font-size: 14px;
  color: $text-light-primary;
  background-color: $green-affirmative;

  &:hover {
    color: $text-light-primary;
    background-color: $green-affirmative;
  }

  &.inverted {
    color: $green-affirmative;
    background-color: $white;
    border: 1px solid $green-affirmative;

    &:hover {
      color: $green-affirmative;
      background-color: $white;
    }
  }
}

.button-affirmative.rt-button-button:disabled {
  color: $text-light-primary;
  background-color: #f0f0f0;
}

// blue "selected" button (e.g. radio button)
.button-selected.rt-button-button .material-icons,
.button-selected.material-icons {
  color: $blue;
}

// dialog button default text colour
.rt-dialog-button.rt-button-neutral:not([disabled]).rt-button-flat:not(:last-of-type) {
  color: $text-dark-secondary;
}

// grey/blue "neutral UI" buttons
$button-neutral-height: 36px;

.button-neutral.rt-button-button.rt-button-neutral.rt-button-flat {
  @extend %subtitle;

  align-items: center;
  height: $button-neutral-height;
  text-transform: none;
  color: $blue;
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 4px;

  &:hover,
  &.selected {
    background-color: $white-50;
  }

  span {
    vertical-align: baseline;
  }

  .rt-ripple-rippleWrapper {
    display: none;
  }
}

// smaller buttons
.button-small.rt-button-button {
  display: flex;
  height: 24px;
  width: 24px;
  min-width: 0;

  .material-icons.rt-button-icon {
    margin-right: 0;
    line-height: normal;
  }
}

// remove ripple
.no-ripple.rt-button-button > .rt-button-rippleWrapper {
  display: none;
}

// horizontally flip icons (used for "share" buttons)
.reverse-icon .material-icons {
  @extend %reverse-icon;
}

// custom icons for MenuItem and ListItem
.custom-icon.rt-menu-menuItem,
.custom-icon.rt-list-listItem {
  position: relative;

  .rt-menu-caption,
  .rt-list-itemText {
    display: flex;
    align-items: center;
  }

  .rt-menu-caption::before {
    content: ' ';
    display: inline-block;
    height: 24px;
    width: 38.4px;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  .rt-list-itemText::before {
    content: ' ';
    display: inline-block;
    height: 24px;
    width: 36px;
    margin-right: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  &.button-move {
    .rt-menu-caption::before,
    .rt-list-itemText::before {
      background-image: url('./static/img/icon-movefolder.png');
      background-size: 70%;
    }
  }

  &.button-leave-room {
    .rt-menu-caption::before,
    .rt-list-itemText::before {
      background-image: url('./static/img/icon-leave.png');
      background-size: 70%;
    }
  }
}

// green affirmative icons
.icon-affirmative.material-icons,
.icon-affirmative .material-icons {
  color: $green-affirmative;
}

// gold icons
.icon-gold.material-icons,
.icon-gold .material-icons {
  color: $gold;
}

// large icons
.icon-large.material-icons {
  font-size: 30px;
}

// <List> and <ListItem>
// remove click/hover effects
.no-effects.rt-list-list {
  .rt-list-listItem:hover:not(.active) {
    background-color: inherit;
  }

  .rt-ripple-rippleWrapper {
    display: none;
  }
}
