@import './vars/colors';
@import './vars/fonts';
@import './vars/layout';

.signup {
  justify-content: space-between;
  transition: width .5s;

  .profile {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @extend .login;
}

.signup-logo {
  margin-bottom: 30px;

  @extend .login-logo;
}

.signup.expand {
  width: 100vw;
}

.signup-inner {
  align-self: center;
  max-height: 580px;
  width: 275px;
}

.signup-title {
  color: $text-light-secondary;
  font-size: 14px;
}

.signup-subtitle {
  color: $text-light-secondary;
  margin-top: 4px;

  @extend %heading;
}

.signup-nav {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 30px;
  width: 330px;
}

.signup-terms {
  color: $text-light-secondary;
  display: block;
  margin-top: 48px;

  > a {
    color: $text-light-primary;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }
}

.rt-input-error {
  color: $text-light-error;
  display: block;
  margin-top: 2px;
}

.input-row {
  display: flex;

  .login-input:first-of-type {
    margin-right: 1px;
  }
}
