.display-2 {
  @extend %display-2;
}

.display-3 {
  @extend %display-3;
}

.headline {
  @extend %headline;
}

.title {
  @extend %title;
}

.list-title {
  @extend %list-title;
}

.dark-label {
  color: $text-dark-hint;

  @extend %hint-error-label;
}

.text-right {
  text-align: right !important;
}

.bold {
  font-weight: $font-weight-bold;
}

.uppercase {
  text-transform: uppercase;
}

.monospace {
  font-family: monospace;
}

.text-center {
  text-align: center;
}

.passphrase {
  font-weight: $font-weight-bold;
}
