.display-2 {
  @extend %display-2;
}

.display-3 {
  @extend  %display-3;
}

.heading {
  @extend  %heading;
}

.title {
  @extend %title;
}

.list-title {
  @extend %list-title;
}

.text-right {
  text-align: right !important;
}


.bold{
  font-weight: 600;
}
.monospace{
  font-family: monospace;
}

.text-center {
  text-align: center;
}
