// Main colours
$color-ui-1: #FF6600;
$color-ui-2: #FF8C00;

$color-brand-1: $color-ui-1;
$color-brand-2: #FFB300;
$color-brand-3: $color-ui-2;

$color-accent-1: #F5AB3F;
$color-accent-2: #FF6666;

// Semantic colour variables
$color-confirmation: #00DF3F;
$color-affirmative: $color-brand-1;
$color-warning: $color-accent-1;
$color-error: $color-accent-2;

// Main font stack
@import './static/fonts/OpenSans/opensans.css';
$font-stack: 'Open Sans', sans-serif;
