.chat-sidebar {
  @extend %flex-col;
  @extend %flex-shrink-0;
  background: $black-01;
  border-left: 1px solid $divider-dark;
  height: calc(100vh - 80px);
  overflow: hidden;
  // transition: width 300ms $transition-easing-ease-in;
  width: 0;

  .rt-input-hint {
    font-size: 12px;
    line-height: 14px;
    margin-left: $margin-default;
    top: 28px;
  }

  // TODO: combine with chat list avatar styles.
  .rt-avatar-avatar {
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    width: 32px;
  }

  .avatar-wrapper > .material-icons {
    margin-right: 0;
  }

  .title {
    height: 48px;
    line-height: 48px;
    margin: $margin-tiny $margin-default 0;
  }

  .rt-list-itemContentRoot {
    cursor: pointer;
    overflow: hidden;
  }

  .rt-list-large {
    overflow: hidden;
  }

  .rt-list-itemText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .purpose-container {
    border-bottom: 1px solid $divider-dark;
    padding-bottom: 9px;
    padding-left: $padding-default;
    padding-top: 7px;
  }

  .purpose-label,
  .purpose-label-big {
    color: $text-dark-hint;
  }

  .purpose-label {
    font-size: 12px;
  }

  .purpose-label-big {
    padding: 12px 0 7px;
  }

  .purpose-text {
    padding-right: $padding-default;
    padding-top: 3px;
    word-wrap: break-word;
  }

  .rt-input-input {
    border-bottom: 1px solid $divider-dark;
    height: auto;
    margin-top: 0;
    padding-bottom: $padding-small;
    padding-left: $padding-small;

    .rt-input-label {
      padding-left: $padding-default;
    }

    input {
      border: 0;
    }

    textarea {
      line-height: inherit;
      padding-right: $padding-default;
      padding-top: 25px;
    }
  }

  &.open,
  .rt-list-item {
    width: 272px;
  }

  .tag {
    background-color: #757575;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    padding: 0 4px 2px;
  }
}
