.sidebar-zero-files {
  padding: 0 $padding-default $padding-default;
}

.sidebar-file-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .sidebar-file-container {
    position: relative;
    height: 80px;

    .left {
      min-width: 48px;
    }

    .content {
      width: 100%;

      .meta {
        @extend %hint-error-label;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      .file-name-container {
        display: flex;
      }

      .file-name {
        margin-right: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file-ext {
        margin-right: auto;
      }

      .file-shared-by,
      .file-shared-date {
        color: $text-dark-hint;
      }
    }

    .right {
      margin-left: $margin-small;
    }

    // Partial border-bottom
    &:not(:last-of-type)::after {
      content: ' ';
      position: absolute;
      height: 1px;
      width: calc(
        100% - 80px
      ); // full width - 48px icon width - 2x $margin-default
      right: 0;
      bottom: 0;
      background-color: $divider-dark;
    }
  }
}
