.sidebar-zero-files {
  padding: 0 $padding-default $padding-default;
}

.sidebar-file-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 0;

  .sidebar-file-container {
    position: relative;
    height: 60px;

    .left {
      margin-right: $margin-small;
    }

    .content {
      width: 100%;

      .meta {
        @extend %hint-error-label;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      .file-name-container {
        display: flex;
      }

      .file-name {
        margin-right: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file-ext {
        margin-right: auto;
      }

      .file-shared-by {
        color: $text-dark-hint;
      }
    }

    .right {
      margin-left: $margin-small;
    }

    // Entire list has bottom border, so make sure the border doesn't apply to last item
    &:not(:last-of-type) {
      border-bottom: 1px solid $divider-dark;
    }
  }
}
