.member-list {
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;

  &.with-admin-controls {
    padding-top: 64px;
  }

  // Prevent x scrolling
  .rt-list-listItem {
    overflow-x: hidden;

    .rt-list-item {
      width: 100%;
    }
  }
}

.action-list {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: #fcfcfc;
}
