// Rounded 'tabs' on either side of the circle or arrow, to make it look more continuous with text box
// The relative size and positioning should be adaptable to different bubble sizes,
// but because bubble has static border of 4px, tab positioning will grow inaccurate when bubble is huge.
@mixin tab-base($x, $y) {
  content: ' ';
  position: absolute;
  height: 25%;
  width: 25%;

  // Circular "cut out" is made by using a transparent radial-background with a very quick color transition
  background: radial-gradient(
    circle at $x $y,
    transparent 50%,
    $peerio-purple 51%
  );
}

@mixin tab-top-left() {
  @include tab-base(0, 0);
  left: 31%;
  top: -16%;
}

@mixin tab-bottom-left() {
  @include tab-base(0, 100%);
  left: 31%;
  bottom: -16%;
}

@mixin tab-bottom-right() {
  @include tab-base(100%, 100%);
  right: 31%;
  bottom: -16%;
}

@mixin tab-top-right() {
  @include tab-base(100%, 0);
  right: 31%;
  top: -16%;
}

// Positioning for the beacon overall, and styles for the beacon's main rectangular portion
.beacon {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transition: opacity 250ms;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  .rectangle {
    position: absolute;
    width: 272px;
    min-height: 40px;
    color: $white;
    box-shadow: $shadow-8;
    background-color: $peerio-purple;
    border-radius: 8px;

    .rectangle-content {
      padding: $padding-small;

      .header {
        margin-bottom: $margin-default;
        font-weight: $font-weight-bold;
      }
    }

    &.narrow {
      font-weight: $font-weight-semibold;
    }

    &.left {
      left: 100%;
      padding-right: $padding-small;
    }

    &.right {
      right: 100%;
      padding-left: $padding-small;
    }
  }
}
