.signup {
  .avatar-input {
    @extend %flex-col;
    @extend %flex-shrink-0;
    @extend %flex-align-center;
    @extend %flex-justify-center;

    background: #eaf8f9; //TODO: create var - Paul
    border-radius: 128px;
    box-shadow: 0 0 1px 0 grey;
    cursor: pointer;
    height: 128px;
    margin-top: -64px;
    transition: 150ms;
    width: 128px;

    &:hover {
      background: #fff;
    }
  }

  .avatar-instructions {
    text-align: center;
  }
}
