.mail {
  @extend %flex-row;
  background-color: $white;
  color: $text-dark-secondary;
  position: relative;
  width: 100%;

  .rt-button-floating {
    background-color: $orange !important;
    bottom: 32px;
    left: 198px;
    position: absolute;

    .material-icons {
      color: $text-light-primary;
    }
  }
  // MAIL ITEM LIST
  &-list-wrapper {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    background-color: $background-faintblue;
    border-right: 1px solid $divider-dark;
    height: 100%;
    width: $width-mail-list;
  }

  &-list {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-sorting {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    border-bottom: 1px solid $divider-dark;
    height: 48px;
    margin-top: $margin-small;
    padding-left: $padding-small;
  }

  .mail-sidebar {
    @extend %flex-grow-0;
    @extend %flex-shrink-0;
    @extend %flex-col;
    border-left: 1px solid $divider-dark;
    height: 100%;
    padding: $padding-large $padding-default $padding-default;
    width: $width-mail-sidebar;

    .mail-link {
      @extend %flex-row;
      @extend %flex-align-center;
      white-space: nowrap;

      a {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .rt-button-button {
      cursor: pointer;

      .material-icons {
        color: $blue;
      }
    }
  }
}
