.message-view {
  .send-error-container {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .receipt-wrapper {
    @extend %flex-row;
    @extend %flex-align-end;
    @extend %flex-justify-end;
    margin-left: auto;
  }

  .invalid-sign-warning {
    @extend %flex-row;
    @extend %hint-error-label;
    @extend %flex-align-center;
    @extend %flex-justify-between;
    background-color: $color-dark-06;
    border-radius: 2px;
    color: $text-dark-hint;
    height: 52px;
    margin-left: -8px;
    margin-top: 24px;
    padding: 0 $padding-small 0 $padding-default;

    .content {
      margin-right: auto;
    }
  }
}
