.breadcrumb {
  @extend %title;

  align-items: center;
  display: flex;
  font-weight: normal;
  max-width: 100%;
  overflow: hidden;

  .breadcrumb-entry {
    align-items: center;
    display: flex;
    min-width: 3em;
    overflow: hidden;

    .material-icons {
      font-size: 32px;
    }

    a {
      @extend %title;
      align-items: center;
      color: $text-dark-secondary;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:last-of-type a {
      color: $blue;
    }
  }
}
