.files-dragpreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  width: 208px;
  padding: 8px 16px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  box-shadow: 0 4px 4px rgba(#000, 0.25);
  background-color: $background-root;
  border-radius: 8px;

  .body {
    display: flex;
    align-items: center;
    overflow: hidden;

    .file-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 48px;
      padding-right: $padding-small !important;

      .material-icons {
        display: block;
        font-size: 32px;
      }

      .p-custom-icon {
        height: 32px;
        width: 32px;
      }
    }

    .file-description {
      width: 100%;
      overflow: hidden;
      font-weight: $font-weight-semibold;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $peerio-blue;
    }
  }

  &.can-drop {
    box-shadow: 0 24px 38px rgba(#000, 0.2), 0 9px 46px rgba(#000, 0.12),
      0 11px 15px rgba(#000, 0.1);
    border: $peerio-teal solid 1px;
  }
}
