.file-picker {
  .search {
    height: 50px;
    width: 100%;
    margin-top: $margin-large;
    border-radius: 24px;

    input {
      font-size: 12px;
    }

    .search-icon {
      padding-left: $padding-default;
      margin-right: $margin-small;
    }
  }

  .breadcrumb-container {
    margin-left: $margin-default;
    margin-top: $margin-default;
  }

  .breadcrumb * {
    font-size: 16px !important;
  }

  .search-results-header {
    margin-left: $margin-default;
    margin-top: $margin-default;
    font-size: 16px;
    color: $text-dark-inactive;
  }

  .file-picker-body {
    display: flex;
    flex-direction: column;
  }

  // overriding File table defaults
  .file-table-wrapper {
    height: 55vh;

    .row {
      padding-left: 0;
      border: none;
    }

    .file-checkbox {
      justify-content: flex-end;
      visibility: visible;
    }
  }
}
