.file-owner { // TODO refactor these into .file-table-wrapper
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.files .file-wrapper { // TODO refactor these into .file-table-wrapper
  .file-name {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    font-weight: $font-weight-semibold;
    text-overflow: ellipsis;
    transition: 150ms;

    &:hover {
      color: $blue;
    }
  }
}
