.file-status-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 400px;
  max-height: 336px;
  min-height: 40px;
  right: $margin-large;
  bottom: $margin-default;
  overflow: hidden;
  transition: max-height 300ms;
  color: $text-dark-secondary;
  box-shadow: $shadow-8;
  background-color: $background-root;
  border-radius: 8px;

  &.collapsed {
    max-height: 40px;
  }

  .title-bar {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 0 $padding-default;
    font-weight: $font-weight-semibold;
    background-color: rgba($peerio-blue, .3);

    .buttons-container {
      margin-left: auto;

      .p-button {
        margin-left: $margin-default;
      }
    }
  }

  .body {
    @extend %scrollable;
    @extend %slim-scrollbar;

    &.has-scrollbar {
      .file-item .right-icon {
        margin-right: -$slim-scrollbar-width; // adjust button spacing when scrollbar exists
      }
    }
  }

  .heading {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    height: 32px;
    top: -1px;
    padding: 0 $padding-default;
    margin-top: -1px; // tuck the top border under the title bar when stickied
    font-size: 12px;
    font-weight: $font-weight-semibold;
    background-color: $background-root;
    border-bottom: 1px solid $divider-dark;
    border-top: 1px solid $divider-dark;
  }

  .file-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
    padding: 0 $padding-default;

    .file-sprite-icon {
      display: inline-block;
    }

    .file-name {
      margin-left: $margin-small;
      font-weight: $font-weight-semibold;
    }

    .p-progress-bar {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -2px; // half ProgressBar height
    }

    .right-icon {
      margin-left: auto;
    }

    .find-file { display: none; }

    &:hover {
      background-color: $background-hover-accent;

      .completed { display: none; }
      .find-file { display: inline-block; }
    }

    &.error {
      pointer-events: none;

      .file-sprite-icon {
        opacity: .6;
      }

      .file-name {
        color: $text-dark-hint;
      }
    }
  }
}
