.file-picker {
  &.rt-list-list {
    max-height: 55vh;
    overflow-y: auto;
  }

  .rt-list-item {
    overflow: hidden;
  }

  .search {
    height: 50px;
    width: 100%;
    margin-top: $margin-large;
    border-radius: 24px;

    input {
      font-size: 12px;
    }

    .search-icon {
      padding-left: $padding-default;
      margin-right: $margin-small;
    }
  }

  .breadcrumb-container {
    margin-top: $margin-default;
    margin-left: $margin-default;
  }

  .breadcrumb * {
    font-size: 16px !important;
  }
}
