.clickable-username { // TODO refactor these into .file-table-wrapper
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.files .file-wrapper { // TODO refactor these into .file-table-wrapper
  .file-title {
    cursor: pointer;
    max-width: 304px;
    overflow: hidden;
    font-weight: $font-weight-semibold;
    text-overflow: ellipsis;
    transition: 150ms;

    &:hover {
      color: $blue;
    }
  }

  .loading {
    @extend %flex-row;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 44px;
    border-bottom: 0;
  }
}
