.clickable-username {
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.files .file-wrapper {
  .file-title {
    cursor: pointer;
    font-weight: $font-weight-semibold;
    max-width: 304px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 150ms;

    &:hover {
      color: $blue;
    }
  }

  .loading {
    @extend %flex-row;
    border-bottom: 0;
    height: 4px;
    left: 0;
    margin-top: 44px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}
