.files {
  .zero-file {
    @extend %flex-row;
    height: 100vh;
    width: calc(100vw - #{$app-nav-width});
    background-color: white;

    .spacer {
      @extend %flex-col;
      @extend %flex-grow-1;
    }

    .content {
      @extend %flex-col;
      @extend %flex-grow-0;
      @extend %flex-shrink-0;
    }

    .heading {
      @extend %flex-row;
      margin-top: 64px;

      .display-3 {
        margin-top: 80px;
        margin-bottom: 48px;
        color: $text-dark-inactive;
      }
    }

    .instructions-container {
      @extend %flex-row;
      @extend %flex-align-start;
      width: 100%;

      .text-container {
        @extend %flex-col;
        @extend %flex-align-start;

        p {
          width: 200px;
          margin-bottom: 48px;
          line-height: 1.4;
        }
      }

      img {
        max-width: 280px;
        min-width: 40%;
      }
    }

    .upgrade {
      margin-top: 48px;
      text-align: center;
      color: $text-dark-inactive;
    }
  }
}
