.channel-invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 $padding-xl;

  .invite-content,
  .upgrade-prompt,
  .participants,
  .participant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .invite-content {
    img {
      max-width: 600px;
    }

    .text {
      @extend %headline;
      margin-top: $margin-xl;
      line-height: 33px;
      text-align: center;

      .channel-name {
        font-weight: $font-weight-semibold;
        white-space: nowrap;
      }
    }

    .p-button.secondary {
      border: 0;
    }

    .upgrade-prompt {
      width: 100%;

      .upgrade-content {
        display: flex;
        align-items: center;
        width: 75%;
        max-width: 800px;
        padding: $padding-default;
        margin: $margin-default 0;
        background-color: rgba(50, 206, 195, 0.2);
        border: 2px solid rgba(50, 206, 195, 0.54);

        .upgrade-text {
          margin-right: 10%;
        }
      }
    }
  }

  .participants {
    margin-top: $margin-large;

    .p-divider {
      width: 100%;
      max-width: 600px;
    }

    .participant-list {
      margin-top: $margin-default;

      .already-in-room {
        color: $text-dark-secondary;
      }

      .room-name {
        font-weight: $font-weight-semibold;
        color: $text-dark-secondary;
      }

      .avatars {
        display: flex;
        margin-top: $margin-small;

        .p-avatar:not(:first-of-type) {
          margin-left: 8px;
        }

        .more-participants {
          @extend %hint-error-label;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          font-weight: $font-weight-semibold;
          color: $text-light-default;
          background-color: $icon-dark-active;
          border-radius: 100%;
        }
      }

      .admin {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: $margin-default;

        .badge {
          padding: 1px $padding-tiny 2px;
          margin-top: $margin-small;
          font-size: 12px;
          font-weight: $font-weight-semibold;
          color: $text-dark-secondary;
          background-color: $black-12;
          border-radius: 5px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: $margin-xl;

    .p-button {
      margin: 0 $margin-default;
    }
  }
}
