.list {
  .room-item,
  .room-invites {
    background: #eee;
    cursor: pointer;

    .rt-list-item { // This should be 32px - Paul
      height: 26px;
      max-height: 26px;
      min-height: 26px;
    }
  }

  .unread {
    font-weight: bold;
  }

  .dm-item {
    background: #eee;
    cursor: pointer;
    transition: 150ms;

    &:hover:not(.active) {
      background-color: $lightblue-hover;
    }

    [data-react-toolbox=font-icon] {
      margin-right: $margin-default;
    }

    .rt-list-item {
      max-height: 44px;
      min-height: 44px;
    }

    .rt-list-itemAction {
      @extend %flex-align-center;
      height: 32px;
    }
  }

  .new-dm-avatar {
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 32px;
  }
}

// TODO: Remove when channels go live? - paul
.avatar-group-chat {
  background: #979797;
  border-radius: 40px;
  color: $text-light-primary;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}
