.list {
  .room-item {
    cursor: pointer;
    background: #eee;

    &.new-room-entry {
      font-style: italic;
    }

    .rt-list-item { // This should be 32px - Paul
      height: 26px;
      max-height: 26px;
      min-height: 26px;
    }
  }

  .room-invites-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 $padding-default;
    margin-bottom: $margin-small;
    overflow: hidden;

    .room-invites-button {
      width: 100%;
    }
  }

  .unread {
    font-weight: bold;
  }

  .dm-item {
    cursor: pointer;
    transition: 150ms;
    background: #eee;

    &:hover:not(.active) {
      background-color: $lightblue-hover;
    }

    .rt-list-item {
      max-height: 44px;
      min-height: 44px;
    }

    .rt-list-itemAction {
      @extend %flex-align-center;
      height: 32px;
    }

    &.new-dm-list-entry {
      .rt-list-left .rt-list-itemAction span {
        margin-right: $margin-default;
      }
    }

    .new-dm-avatar {
      display: flex;
      flex-direction: column;
      font-size: 32px;
      color: $white;
    }
  }
}

// TODO: Remove when channels go live? - paul
.avatar-group-chat {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  color: $text-light-primary;
  background: #979797;
  border-radius: 40px;
}
