.identity-verification-notice {
  margin-top: $margin-small;
  margin-bottom: $margin-small;

  .notice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: $text-dark-inactive;

    .text-content > a {
      color: $text-dark-inactive;
    }
  }

  .extra-margin {
    margin: 0 0 0 $margin-default;
  }

  .notice-icon {
    margin-right: $margin-small;
  }
}
