.inline-files {
  color: $text-dark-secondary;
  font-weight: $font-weight-bold;
  padding-left: $padding-small;
  position: relative;
  width: calc(100% - 100px); // reduce reflow from read receipts

  .shared-file,
  .invalid-file,
  .unknown-file {
    @extend %flex-col;
    @extend %flex-justify-center;
    background: $black-03;
    border: 1px solid $divider-dark;
    border-left-width: 8px;
    border-radius: 2px;
    cursor: pointer;
    height: 48px;
    margin-left: $margin-small;
    padding-left: $padding-tiny;
    padding-right: $padding-tiny;
    transition: 250ms;
  }

  .shared-file {
    .container {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-justify-between;
    }

    .material-icons {
      padding: 0 12px;
    }

    &:hover {
      border-color: currentColor;
      box-shadow: $shadow-8;
      color: $blue;

      .material-icons {
        color: $blue;
      }
    }

    .file-name {
      margin-right: auto;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .unknown-file {
    color: $text-dark-hint;
    cursor: auto;
    margin-left: $margin-small;
  }

  .invalid-file {
    border-color: currentColor;
    color: rgba($red-error, .6);

    .container {
      @extend %flex-row;
      @extend %flex-align-center;
    }

    .material-icons {
      color: rgba($red-error, .6);
      margin-right: $padding-tiny;
    }
  }

  .rt-progress_bar-linear.rt-progress_bar-indeterminate {
    bottom: 0;
    left: 24px;
    position: absolute;
    right: 0;
    width: auto;
  }
}
