.message-view {
  .send-error-menu {
    padding-right: 112px; // TODO: replace when Menu has more position options
    margin-left: $margin-default;
    margin-right: auto;

    .p-button:hover {
      background-color: inherit;
    }

    .send-error-text-container {
      display: flex;
      align-items: center;
    }

    .material-icons {
      color: $red-error;
    }

    .send-error-message {
      @extend %hint-error-label;
      margin-left: $margin-tiny;
      font-weight: $font-weight-regular;
      text-transform: none;
      color: $red-error;
    }
  }

  .receipt-wrapper {
    @extend %flex-row;
    @extend %flex-align-end;
    @extend %flex-justify-end;
    width: 82px;
    min-width: 82px;
    margin-left: auto;
  }

  .invalid-sign-warning {
    @extend %flex-row;
    @extend %hint-error-label;
    @extend %flex-align-center;
    @extend %flex-justify-between;
    height: 52px;
    padding: 0 $padding-small 0 $padding-default;
    margin-left: -8px;
    margin-top: 24px;
    color: $text-dark-hint;
    background-color: $black-06;
    border-radius: 2px;

    .content {
      margin-right: auto;
    }
  }

  .plus-receipts {
    cursor: pointer;
    padding: 0 8px 0 22px;
    margin-left: -14px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 100ms linear;
    color: #f2f2f2;
    background: #757575;
    border-radius: 20px;

    &:hover {
      background: #444;
    }
  }

  .message-toolbar-inner-right .p-button:disabled > .material-icons:first-child {
    opacity: .5;
  }
}
