.message-view {
  .progress-wrapper {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    width: 100%;
    min-height: 50px;
  }

  .marker-wrapper {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;
    width: 100%;
    margin: $margin-default 0;

    .marker {
      @extend %flex-grow-1;
      height: 1px;
      margin: $margin-default 0;
      background: $divider-dark;
    }

    .content {
      padding: 0 $padding-small;

      .material-icons {
        height: 8px;
        width: 8px;
        left: 16px;
        font-size: 8px;
        color: $color-error;
      }
    }
  }

  .marker-wrapper.new-messages {
    margin: 0;

    .marker {
      background: rgba($color-error, .38);
    }

    .content {
      padding-right: $padding-default;
      font-size: 12px;
      color: rgba($color-error, .7);
    }
  }

  .messages-current {
    @extend %flex-col;
    @extend %flex-align-start;
    flex: 1 1 auto;
    padding-bottom: 24px;
    overflow-x: hidden;

    .messages-progress-bar {
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
    }

    .message-content-wrapper {
      @extend %flex-col;
      @extend %flex-shrink-0;
      position: relative;
      padding: $padding-tiny 24px;
      margin: 12px 0 0;

      &:not(.invalid-sign) {
        width: 100%;
      }

      &:hover,
      &.selected {
        background-color: $background-hover-default;
      }

      .message-content-wrapper-inner {
        @extend %flex-row;
      }

      .marker-wrapper {
        margin-left: -$margin-tiny;
      }

      &.light {
        margin-top: 0;

        .timestamp {
          @extend %flex-shrink-0;
          @extend %hint-error-label;
          width: 40px;
          padding-top: 2px; // To align the timestamp with the first row of text.
          overflow: hidden;
          text-align: right;
          white-space: nowrap;
          color: rgba($text-dark-hint, 0);
        }

        &:hover {
          .timestamp {
            color: $text-dark-hint;
          }
        }
      }

      &.invalid-sign {
        min-width: 320px;
        padding: $padding-tiny 0 0 $padding-tiny;
        margin: 0 32px 0 28px;
        overflow: hidden;
        background-color: rgba($color-error, .06);
        border-radius: 18px;

        .warning-icon {
          @extend %flex-shrink-0;
          width: 24px;
          margin: 0 12px 0 auto;
          color: $color-error;

          + .receipt-wrapper {
            @extend %flex-align-center;
            margin-left: 0;
          }
        }
      }

      &.render-error {
        min-width: 320px;
        padding: $padding-small $padding-tiny;
        margin: 0 0 12px;
        background-color: rgba($color-error, .06);
      }

      .sending-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .7);
      }
    }

    .message-content {
      @extend %chat-message;
      @extend %flex-col;
      flex-grow: 1;
      min-width: 0;

      .meta-data {
        @extend %flex-row;
        align-items: center;
        margin-bottom: $margin-tiny;

        .timestamp {
          @extend %hint-error-label;
          color: $text-dark-inactive;
        }

        .user {
          margin: 0 $padding-small 0 $padding-default;
          font-weight: $font-weight-bold;

          .username {
            font-style: italic;
            font-weight: $font-weight-regular;
            color: $text-dark-inactive;
          }
        }
      }

      .system-message {
        font-style: italic;
        color: $text-dark-inactive;
      }

      .video-system-message {
        font-style: normal;
        color: $text-dark-hint;
      }

      .video-icon {
        padding-right: 5px;
        vertical-align: middle;
      }
    }

    .inline-image {
      object-fit: contain;
      max-height: 500px;
      max-width: 100%;
      margin: $margin-small auto $margin-small $margin-default;
    }

    .messages-start {
      width: 100%;
      padding: 0 24px;
      margin-top: auto;
      margin-bottom: $margin-small;

      .avatars {
        @extend %flex-row;
        @extend %flex-wrap;
        margin-top: 64px;
        margin-bottom: $margin-small;

        .p-avatar {
          margin: 0 $margin-small $margin-small 0;
        }
      }

      .title {
        margin-bottom: $margin-small;
      }
    }
  }
}

.messages-inline-progress-bar {
  align-self: center;
  width: 35px;
}

.patient-room .messages-current {
  background-color: $background-chat;
}