.message-view {
  .send-error-container {
    @extend %flex-row;
    @extend %flex-align-center;
  }

  .receipt-wrapper {
    @extend %flex-row;
    @extend %flex-align-end;
    @extend %flex-justify-end;
    margin-left: auto;
    min-width: 82px;
    width: 82px;
  }

  .invalid-sign-warning {
    @extend %flex-row;
    @extend %hint-error-label;
    @extend %flex-align-center;
    @extend %flex-justify-between;
    background-color: $black-06;
    border-radius: 2px;
    color: $text-dark-hint;
    height: 52px;
    margin-left: -8px;
    margin-top: 24px;
    padding: 0 $padding-small 0 $padding-default;

    .content {
      margin-right: auto;
    }
  }

  .plus-receipts {
    background: #757575;
    border-radius: 20px;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-left: -14px;
    padding: 0 8px 0 22px;
    transition: background-color 100ms linear;

    &:hover {
      background: #444;
    }
  }
}
