.zero-message {
  @extend %flex-row;
  background: $background-root;
  height: 100vh;

  .zero-message-content {
    margin-top: 168px;
    max-width: 600px;
  }

  .chat-creation-header {
    display: none;
  }

  + .message-input-wrapper {
    display: none;
  }

  .zero-chat-header {
    @extend %display-2;
    color: $blue;
    margin-bottom: $margin-default;
  }

  .zero-chat-instructions {
    @extend %headline;
    margin-bottom: $margin-xl;
  }

  .message-search-wrapper {
    padding: 0;

    .title-to {
      display: none;
    }
  }

  .user-picker {
    .chat-creation-header-container {
      border: none;
    }

    .email-invite-container {
      padding-right: 0;
    }
  }

  .user-not-found-container {
    padding-left: 0;
  }
}
