.zero-message {
  @extend %flex-row;
  background: $background-root;
  height: 100vh;

  .content {
    margin-top: 168px;
    max-width: 600px;
  }

  .display-2 {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: $margin-large;
  }

  .chat-creation-header {
    display: none;
  }

  + .message-input-wrapper {
    display: none;
  }
}
