.zero-message {
  @extend %flex-row;
  height: 100vh;
  padding: 0 $padding-xl;
  background: $background-root;

  .zero-message-content {
    max-width: 600px;
    margin-top: 168px;
  }

  .chat-creation-header {
    display: none;
  }

  + .message-input-wrapper {
    display: none;
  }

  .zero-chat-header {
    @extend %display-2;
    margin-bottom: $margin-default;
    color: $blue;
  }

  .zero-chat-instructions {
    @extend %headline;
    margin-bottom: $margin-xl;
  }

  .message-search-wrapper {
    padding: 0;

    .title-to {
      display: none;
    }
  }

  .user-picker {
    .chat-creation-header-container {
      border: none;
    }

    .user-search-error {
      padding-right: 0;
    }
  }

  .user-search-error-container {
    padding-left: 0;
  }
}
