.chat-upload-progress {
  @extend %flex-col;
  position: absolute;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  color: $text-dark-default;
  background: $white;

  .progress-content {
    @extend %flex-row;
    @extend %flex-align-center;
    height: 48px;
    width: 100%;
    padding: 0 24px;
    background-color: $black-06;

    .material-icons {
      color: $text-dark-inactive;
    }
  }

  .progress-title {
    max-width: 100%;
    margin-left: $margin-small;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
