$urlpreview-width: 480px;
$urlpreview-text-width: 416px;

.urlpreview {
  margin-left: $margin-default;
  margin-top: $margin-default;
  width: $urlpreview-width;

  .url-content {
    $image-height: 400px;

    .url-title a {
      text-decoration: none;
    }

    .url-info {
      color: $text-dark-secondary;
      font-size: 12px;
    }

    .url-image {
      align-items: flex-start;
      display: flex;
      height: 100%;
      max-height: $image-height;
      overflow: hidden;
      width: 100%;

      img {
        border-radius: 2px;
        height: auto;
        max-height: $image-height;
        max-width: 100%;
        width: auto;
      }
    }
  }
}
