.url-consent {
  .url-grey {
    color: $text-dark-inactive;
  }

  .url-grey,
  .warning-body,
  .url-content {
    padding-left: $padding-default;
    border-left: 1px solid $divider-dark;
  }

  .warning-header {
    @extend %title;
    @extend %flex-row;
    @extend %flex-align-center;

    margin: $margin-small 0;
    margin-left: -12px; // half of icon width

    .material-icons {
      width: 24px;
    }

    .text {
      margin-left: $margin-small;
    }
  }

  .warning-body {
    p.text {
      max-width: $urlpreview-text-width;
      margin: 0;
      margin-bottom: $margin-default;
    }

    .p-radio {
      padding-left: $padding-default;
      margin-top: $margin-xl;
    }
  }

  .buttons-container {
    @extend %flex-row;
    @extend %flex-justify-end;

    max-width: $urlpreview-text-width;
  }

  .update-settings {
    @extend %hint-error-label;
    display: flex;

    align-content: center;
    margin-left: -7px; // half of icon size
    margin-top: $margin-small;
    font-style: italic;

    &.nomargin {
      margin-left: 0;
    }

    .material-icons {
      font-size: 16px;
      color: $color-confirmation;
    }

    .text {
      margin-left: $margin-small;
      color: $text-dark-inactive;

      a {
        text-decoration: underline;
        color: $text-dark-inactive;
      }
    }
  }
}
