// view wrapper
.messages {
  @extend %flex-row;
  background: $background-root;

  .starred,
  .starred .material-icons {
    color: gold;
  }
}

// reused components
.create-new-chat {
  @extend %flex-col;
  @extend %flex-grow-1;
  @extend %flex-align-center;
  background: white;
  height: 100vh;
  padding: 0 20px;
  position: relative;
  width: 100vw;

  .message-search-wrapper {
    margin-bottom: 48px;
  }

  .new-chat-search {
    @extend %flex-align-center;
    border: 1px solid $input-dark-border;
    border-radius: 24px;
    display: flex;
    flex-shrink: 0;
    max-width: 600px;
    overflow: hidden;
    padding: 0 $padding-small 0 $padding-default;
    width: 100%;

    + .new-chat-search {
      margin-top: 32px;
    }

    + .user-picker {
      margin-top: 32px;
      padding-top: 0;
    }

    .chip-wrapper {
      max-width: 544px;
      min-height: 46px;
      padding: 0 $padding-small;
    }

    .rt-input-input {
      flex-grow: 1;
      margin: 0;
      max-width: 100%;
      padding: 0;
      width: inherit;

      input {
        border-width: 0;
        padding: 0;
      }
    }

    .rt-button-button {
      background-color: $color-affirmative;
      border-radius: 24px;
      color: $text-light-primary;
      transition: 250ms;

      &:hover {
        background-color: $color-affirmative;
        color: $color-light-100;

        .rt-rippleWrapper {
          border-radius: 0 24px 24px 0;
        }
      }
    }

    .rt-button-button[disabled] {
      background-color: #f0f0f0;
    }
  }

  .rt-list-list {
    @extend %flex-col;
    overflow: hidden;

    .user-list {
      cursor: pointer;
      // Temporary fix. We'll want to add sticky headers to lists once multiple
      // lists are shown.
      overflow-y: auto;
    }
  }

  .rt-list-subheader {
    @extend %flex-shrink-0;
    border-bottom: $divider-dark solid 1px;
    cursor: default;
  }

  .rt-list-listItem {
    &:not(:first-of-type) {
      border-top: $divider-dark solid 1px;
    }

    .rt-avatar-avatar {
      margin-right: 24px;
    }
  }
}

.message-toolbar {
  @extend %flex-justify-between;
  align-items: center;
  border-bottom: 1px solid $divider-dark;
  display: flex;
  flex: 0 0 80px;
  padding: 0 $padding-default 0 24px;

  .message-toolbar-inner {
    @extend %flex-col;
    width: '90%';
  }

  .title {
    @extend %flex-row;
    color: $text-dark-primary;
    font-size: 20px;
    font-weight: $font-weight-bold;
    height: 24px;
    margin: $margin-default $margin-default $margin-tiny 0;
    overflow: hidden;

    .name-editor {
      height: 24px;
      margin: 0;
      padding: 0;

      .name-editor-inner {
        overflow: hidden;
      }

      input {
        border: 1px solid rgba($color-brand-primary, .54);
        border-radius: 4px;
        color: $text-dark-secondary;
        font-weight: $font-weight-bold;
        height: 24px;
        line-height: 20px;
        margin: 0;
        padding: $padding-tiny $padding-small;
      }
    }

    .title-content {
      height: 24px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // styling for edit icon in title bar thing.
    .material-icons {
      color: $color-dark-38;
      display: none;
      font-size: 18px;
      left: 2px;
      position: absolute; // FIXME: rewrite to remove absolute positioning - Paul
    }

    &:hover {
      .material-icons {
        display: block;
      }
    }
  }

  .meta-nav {
    @extend %flex-row;
    @extend %flex-align-center;
    height: 20px;
    margin: 2px 0;
    margin-left: -$margin-small;

    .rt-progress_bar-circular {
      height: 20px;
      margin: 4px 9px 0 7px;
      width: 20px;
    }

    .material-icons {
      font-size: 16px;
    }

    .starred + .member-count {
      border-left: 1px solid $divider-dark;
    }

    .member-count {
      @extend %flex-row;
      @extend %flex-align-center;
      height: 20px;
    }
  }

  .search {
    margin-right: 12px;
  }
}

@import './Chat';
@import './ChannelInvites';
@import './NewChannel';
@import './NewChat';
@import './components/ChannelUpgradeDialog';
@import './components/ChannelUpgradeOffer';
@import './components/ChatList';
@import './components/ChatNameEditor';
@import './components/InlineFiles';
@import './components/Message';
@import './components/MessageInput';
@import './components/MessageList';
@import './components/NoChatSelected';
@import './components/UploadInChatProgress';
@import './components/sidebar/_all';
