// main message-view styling in Chat.scss
.channel-invites {
  padding-right: 0;

  .message-toolbar {
    .title-container {
      @extend %flex-col;
    }

    .meta-nav {
      @extend %flex-row;
    }
  }

  .room-invites-container {
    @extend %flex-row;
    @extend %flex-grow-1;

    .inner {
      @extend %flex-col;
      @extend %flex-grow-1;

      position: relative;
    }
  }

  .room-invites-list-container {
    .room-invites-list {
      padding: 0 $padding-large;
    }

    .p-list-item {
      height: 64px;
      border-bottom: 1px solid $divider-dark;
    }
  }
}

.zero-invites-container {
  display: flex;
  max-width: 96vw;
  padding-bottom: $padding-xl;
  margin: auto;

  .content {
    text-align: center;

    .emoji-double {
      height: 48px;
      width: 48px;
      margin-bottom: $margin-default;
      background-position: -100px -198px;
      background-size: 939px 939px;
    }

    .subtitle {
      color: $text-dark-secondary;
    }
  }
}
