.new-channel.create-new-chat {
  .create-room-info {
    max-width: 600px;
    margin-bottom: $margin-xl;
  }

  .create-channel-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .user-picker {
    .inputs-container {
      @extend %flex-row;
      @extend %flex-justify-center;
      width: 100%;

      .inputs-container-inner {
        @extend %flex-col;
        @extend %flex-grow-1;
        max-width: 600px;
      }
    }

    .user-list {
      max-width: none;
      padding-right: 0;
      margin-top: 0;
    }

    .rt-list-list {
      padding-left: 0;
    }

    .title-to {
      display: none;
    }
  }

  .chat-creation-header-container {
    border-bottom: 0;
  }

  .chat-creation-header {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-shrink-0;
    width: 100%;
    max-width: 600px;
    padding: $padding-default;
    padding-top: $padding-xl;
    margin-bottom: $margin-large;

    .title {
      margin-right: auto;

      span {
        display: block;
      }
    }
  }

  .new-chat-search {
    @extend %flex-align-center;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 600px;
    padding: 0 $padding-small 0 $padding-default;
    overflow: hidden;
    border: 1px solid $input-border;
    border-radius: 24px;
  }

  .message-search-wrapper {
    padding: 0;
  }

  .user-not-found-container {
    padding-left: 0;
  }

  .email-invite-container,
  .email-suggestsearch-container {
    padding-top: $padding-large;
    margin-bottom: $margin-large;
  }
}
