$zero-chats-max-width: 1040px;
$zero-chats-break: 984px;

.zero-chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: $background-root;

  .zero-chats-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: $zero-chats-max-width;
    padding: 0 $padding-xxl;
  }

  .header {
    margin-top: $margin-xxl;
    margin-bottom: auto;
    text-align: center;

    .welcome-title {
      @extend %display-1;
      color: $peerio-blue;
    }

    .subtitle {
      @extend %title;
    }
  }

  .instructions-container {
    margin-bottom: auto;
  }

  .instructions {
    display: flex;
    width: 100%;
    padding: $padding-xxl 0 $padding-xxl;
    margin-bottom: $margin-xxl;

    .text {
      padding-left: 56px; // 40px + margin-default

      .text-header {
        @extend %title;
      }

      .text-description {
        .description-large {
          @extend %title;
          margin: $margin-large 0;
          color: $text-dark-inactive;
        }

        .description-small {
          margin: $margin-small 0;
        }
      }
    }

    &.create-dms {
      justify-content: flex-end;
      margin-top: $margin-xxl;
    }

    .already-invited {
      margin-top: $margin-large;

      .already-invited-text {
        @extend %hint-error-label;
        font-weight: $font-weight-semibold;
        color: $text-dark-inactive;
      }

      .room-invites-button {
        padding: 0 $padding-xxl;
        margin-top: $margin-small;
      }
    }
  }

  &.invite-received {
    .instructions.create-rooms {
      padding: $padding-xxl 0 0;
    }
  }

  // ~~~~~~ BUTTONS ~~~~~~
  // buttons for Create Room and Create Direct Messages
  // modified from common component PlusIcon
  .plus-icon-container {
    .label {
      @extend %display-1;
      color: $peerio-blue;
    }

    .plus-icon {
      display: flex;
      align-items: center;
      position: absolute;
      height: 40px;
      width: 40px;
      margin-left: -56px; // 40px + margin-default
      margin-right: $margin-default;
      line-height: 40px;
      font-size: 40px;
      color: $peerio-blue;
      border-color: $peerio-blue;
      border-radius: 6px;
      border-width: 3px;
    }

    &:hover .label {
      color: $peerio-blue;
    }
  }

  // ~~~~~~ ILLUSTRAIONS ~~~~~~
  // The illustrations on this page are ~unusual~
  // Background and foreground are actually separate files so that we can have them shift/move/resize in different ways.
  // Very labyrinthine values & media queries here, so they're separated from the rest of the styles.

  /* stylelint-disable no-duplicate-selectors */
  .instructions {
    position: relative;

    .image {
      z-index: 0;
      margin: 0 auto;
      overflow: visible;

      img {
        position: absolute;
        z-index: 2;
        max-height: 230px;
        bottom: 0;
        margin: auto;

        @media all and (max-width: $zero-chats-break) { max-height: 200px; }
      }

      img.background {
        z-index: 1;
      }
    }

    &.create-rooms .image {
      img { right: 8%; }
      img.background { right: 0; }

      @media all and (max-width: $zero-chats-break) {
        img { right: 0; }
        img.background { right: -200px; }
      }
    }

    &.create-dms .image {
      img { left: 8%; }
      img.background { left: 0; }

      @media all and (max-width: $zero-chats-break) {
        img { left: 0; }
        img.background { left: -200px; }
      }
    }

    .text {
      position: relative;
      z-index: 2;
    }
  }

  // `condensed` version e.g. ZeroChats with ChatList. less horizontal room so hide images, adjust spacing, etc.
  &.condensed {
    .instructions-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .instructions {
        width: 456px;
      }
    }
  }
}
/* stylelint-enable */

// Specific to Medcryptor zero state
.zero-chats-container.medcryptor {
  .header {
    .welcome-title {
      margin-bottom: $margin-small;
      font-size: 45px;
      font-weight: $font-weight-semibold;
      color: $text-dark-secondary;
    }

    .subtitle {
      @extend %headline;
      font-weight: $font-weight-regular;
    }
  }

  .zero-chats-content {
    position: relative;
  }

  .images {
    $zero-header-height: 148px;
    position: absolute;
    z-index: -1;
    height: calc(100vh - #{$zero-header-height} - #{$padding-large});
    width: 50%;
    right: 0;
    top: 0;
    margin-top: $zero-header-height;
    margin-bottom: $padding-large;

    img {
      position: absolute;
      height: 50%;
      width: auto;
      right: 0;
      bottom: 0;

      &:first-child {
        top: 0;
        bottom: auto;
      }
    }
  }

  .instructions {
    padding: $padding-default 0;
    margin-bottom: 0;

    &.create-dms {
      justify-content: flex-start;
      margin-top: 0;
    }
  }
}