.contacts {
  .contact-list {
    @extend %flex-col;
    padding-top: 8px;
    overflow: auto;

    .contact-list-section {
      @extend %flex-row;
      flex-shrink: 0;
      padding: 24px 0 32px;
      border-bottom: 1px solid $divider-dark;

      .contact-list-section-marker {
        @extend %flex-row;
        @extend %flex-grow-1;
        @extend %flex-justify-center;
        max-width: 224px;
        min-width: 120px;
        padding-top: $padding-large;
        font-size: 24px;
        color: $peerio-teal;
      }

      .contact-list-section-content {
        @extend %flex-col;
        width: 600px;
      }
    }
  }

  .suggest-add-contact {
    display: flex;
    align-items: center;
    margin: $margin-xl;
    color: $text-dark-inactive;

    .text {
      margin-left: $margin-default;
    }
  }
}
