.contacts.new-contact {
  .contacts-view.create-new-chat {
    @extend %flex-align-center;
    @extend %flex-justify-center;
  }

  .invite-form {
    width: 480px;

    .message-search-wrapper {
      display: block;
      padding: 0;
    }
  }

  .email-invite-container {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-between;
    @extend %flex-shrink-0;
  }

  .invite-elsewhere {
    @extend %flex-row;
    @extend %flex-align-center;
    @extend %flex-justify-center;

    .icons {
      @extend %flex-row;
      @extend %flex-shrink-0;

      margin-left: 32px;
    }

    .facebook-share-button,
    .twitter-share-button {
      @extend %flex-row;
      @extend %flex-align-center;
      @extend %flex-justify-center;
      height: 36px;
      width: 36px;

      img {
        width: 24px;
        padding: 2px;
      }
    }
  }
}
