.settings {
  @extend %flex-row;
  @extend %flex-justify-center;
  width: 100%;
  padding-top: 32px;
  overflow: auto;

  background: $background-root;

  .logo {
    width: 300px;
    margin: 0 0 32px;
  }

  .tab-wrapper {
    @extend %flex-grow-1;
    @extend %flex-col;
    margin: 0 80px;
  }

  .tabs {
    @extend %flex-shrink-0;
    width: 100%;
    margin-top: 24px;

    .rt-tabs-pointer {
      height: 4px;
      margin-top: -5px;
    }

    .rt-tabs-label,
    .rt-tabs-label.rt-tabs-active {
      padding-left: $padding-large;
      padding-right: $padding-large;
      color: $text-dark-secondary;
    }
  }

  section {
    padding: 32px 0; // TODO change to $padding-xl after merge

    &.section-divider {
      border-bottom: 1px solid $divider-dark;
    }

    .title + label {
      margin-top: 14px; // for instances where there is not details paragraph. - paul
    }

    &.with-bg {
      padding: $padding-default;
      margin-top: 20px;
      background: $black-03;

      .title {
        font-weight: $font-weight-regular;
        color: $black;
      }

      a {
        cursor: pointer;
        font-weight: $font-weight-semibold;
        text-decoration: underline;
        color: $black;
      }
    }

    .material-icons {
      vertical-align: middle;
    }

    .qr-code {
      margin-right: 140px;
    }

    .large-inline-icon {
      padding: 5px;
      border: 1px solid $black;
      border-radius: 50px;
    }

    .totp-code {
      .totp-progress {
        height: 1.3em;
        width: 1.3em;
        margin-left: -1.6em;
      }
    }
  }

  .tab-notify::after {
    @extend %notify;
    z-index: 0 !important;
    left: 4px !important;
    top: 19px;
  }

  .error {
    margin-top: 4px;
    font-size: 12px;
    color: $red-error;
  }
}
