.settings {
  @extend %flex-row;
  @extend %flex-justify-center;

  background: $background-root;
  overflow: auto;
  padding-top: 32px;
  width: 100%;

  .logo {
    margin: 0 0 32px;
    width: 300px;
  }

  .tab-wrapper {
    @extend %flex-grow-1;
    @extend %flex-col;
    margin: 0 80px;
  }

  .tabs {
    @extend %flex-shrink-0;
    margin-top: 24px;
    width: 100%;

    .rt-tabs-pointer {
      height: 4px;
      margin-top: -5px;
    }

    .rt-tabs-label,
    .rt-tabs-label.rt-tabs-active {
      color: $text-dark-secondary;
      padding-left: $padding-large;
      padding-right: $padding-large;
    }
  }

  section {
    padding: 32px 0 48px;

    &.section-divider {
      border-bottom: 1px solid $divider-dark;
    }

    .title + label {
      margin-top: 14px; // for instances where there is not details paragraph. - paul
    }

    &.with-bg {
      background: $color-dark-03;
      margin-top: 20px;
      padding: $padding-default;

      .title {
        color: $color-dark-87;
        font-weight: $font-weight-regular;
      }

      a {
        color: $color-dark-87;
        cursor: pointer;
        font-weight: $font-weight-semibold;
        text-decoration: underline;
      }
    }

    .material-icons {
      vertical-align: middle;
    }

    .qr-code {
      margin-right: 140px;
    }

    .large-inline-icon {
      border: 1px solid $color-dark-87;
      border-radius: 50px;
      padding: 5px;
    }

    .totp-code {
      .totp-progress {
        height: 1.3em;
        margin-left: -1.6em;
        width: 1.3em;
      }
    }
  }

  .tab-notify::after {
    @extend %notify;
    left: 4px !important;
    top: 19px;
    z-index: 0 !important;
  }

  .error {
    color: $color-error;
    font-size: 12px;
    margin-top: 4px;
  }
}
